In [87]:
import os
import pandas as pd
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_colwidth', None)
import numpy as np
import datetime as dt
# plt.style.use('fivethirtyeight')

In [5]:
education = pd.read_csv(r'B:\_DataBGTRes\Doctoral_Data\doc_education_info_with_indicator.csv')
print(len(education))
print(education['BGTResID'].nunique())

education = education.convert_dtypes()

1268712
434072

In [6]:
education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268712 entries, 0 to 1268711
Data columns (total 13 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   BGTResID           1268712 non-null  Int64
 1   degreeLevel        994482 non-null   string
 2   Instituition       1268096 non-null  string
 3   InstitutionCity    828473 non-null   string
 4   InstitutionState   770074 non-null   string
 5   degreePosition     1268712 non-null  Int64
 6   DegreeType         1057725 non-null  string
 7   ipeds_unit_id      768126 non-null   Int64
 8   major              761359 non-null   string
 9   MajorCipCode       474082 non-null   string
 10  CompletionDateRaw  800666 non-null   string
 11  GPA                157619 non-null   string
 12  ind_doc            1268712 non-null  Int64
dtypes: Int64(4), string(9)
memory usage: 130.7 MB

In [ ]:
len(education[education['ind_doc']==1])

In [ ]:
# Isolate degrees with '#' in any of the fields

columns = ['MajorCipCode', 'major', 'degreeLevel', 'CompletionDateRaw']

edu = education.copy()

def pounds(string):
    string = str(string)
    return len(string.split('#')) - 1
        
for column in columns:
    edu[column + '_pound'] = edu[column].apply(pounds)

docs = edu[edu['ind_doc']==1]

docs_no_pound = None
first = True
for column in columns:
    if(first):
        docs_no_pound = docs[docs[column + '_pound']==0]
        first = False
    else:
        docs_no_pound = docs_no_pound[docs_no_pound[column + '_pound']==0]
        
docs_pound = docs.drop(docs_no_pound.index)

print(len(docs_pound), len(docs_no_pound))

print(docs_pound['BGTResID'].nunique(), docs_no_pound['BGTResID'].nunique())

In [ ]:
group_columns = ['MajorCipCode_pound', 'major_pound', 'degreeLevel_pound', 'CompletionDateRaw_pound']
possible_pound_combinations = docs_pound[docs_pound['ind_doc']==1].groupby(group_columns).count()[['BGTResID']]
# display(possible_pound_combinations)

# Iterate over the aggregate
empty = True
output = None

# Temporary consumable DataFrame for speed advantage
df = docs_pound.copy()

# Iterate over all combinations of pound symbol divisions in the dataset
for index, row in possible_pound_combinations.reset_index().iterrows():
    nums = set()
    safe = True
    
    # Collect the unique values for number of pound symbols
    for i in range(len(group_columns)):
        nums.add(row[i])
    
    # If there are 3 or more of them, then the columns cannot be disentangled
    if len(nums) > 2:
        safe = False
        
    # If there are exactly two unique values, at least one must be zero to be disentangled
    elif len(nums) == 2:
        if ((nums.pop() != 0) & (nums.pop() != 0)):
            safe = False
               
    # If all of the numbers of divisions are the same OR if some of them have no divisons
    if safe:
        # Find all of the rows in the target table with this valid set of numbers
        columns = row.index
        temp = df[(df[columns[0]]==row[0])&(df[columns[1]]==row[1])&(df[columns[2]]==row[2])&(df[columns[3]]==row[3])]
        
        # Put them in a DataFrame together
        if empty:
            output = temp
            empty = False
        else:
            output = pd.concat([output, temp])

        # Throw out all observations that have been approved so they need not be compared to again
        df = df.drop(temp.index)
        
del(df)
print(len(output))
print(output['BGTResID'].nunique())
display(output)

In [ ]:
output.groupby(group_columns).count()[['BGTResID']]

In [ ]:
group_columns = ['MajorCipCode_pound', 'major_pound', 'degreeLevel_pound', 'CompletionDateRaw_pound']
docs_pound[(docs_pound['MajorCipCode_pound']==1)&(docs_pound['major_pound']==2)&(docs_pound['degreeLevel_pound']==3)&(docs_pound['CompletionDateRaw_pound']==2)&(~docs_pound['GPA'].isnull())].iloc[:, :12][:1]

In [ ]:
docs_no_pound.groupby(group_columns).count()

In [ ]:
docs_pound.groupby(group_columns).count()[['BGTResID']].sort_values('BGTResID', ascending=False)

In [ ]:
############################
# Purely iterative approach
# DON'T USE
############################

# empty = True
# output = None

# for index, row in docs_pound.iterrows():
#     i = 13
#     nums = list()
#     prev = None
#     for k in range(4):
#         prev = row[i+k]
#         if prev not in nums:
#             nums.append(prev)
#     if len(nums) > 2:
#         continue
#     elif len(nums) == 2:
#         if(nums[0] != 0 | nums[1] != 0):
#             continue
#     else:
#         if empty:
#             output = pd.DataFrame(row).transpose()
#             empty = False
#         else:
#             output = pd.concat([output, pd.DataFrame(row).transpose()])

# print(len(output))
# display(output)

In [86]:
################################
# Completion Date work
################################

education['CompletionDateRaw'].value_counts()

def pound_split(string):
    if string is not pd.NA:
        return string.split('#')
    else: 
        return pd.NA
    
def num_dates(dates):
    if dates is not pd.NA:
        return len(dates)
    else:
        return pd.NA
    
def remove_unicode_escapes(string):
    if string is pd.NA:
        return pd.NA
    
    r_str = string.encode('unicode_escape')
    loc = r_str.find(b'\\')
    
    if loc == -1:
        return string
    
    output = ''
    for s in string.split(string[loc]):
        if output == '':
            output = s
        else:
            output = output + ' ' + s
        
    return remove_unicode_escapes(output)
    
education['CompletionDateRaw'] = education['CompletionDateRaw'].apply(remove_unicode_escapes)

single_dates = education[education['CompletionDateRaw'].apply(pound_split).apply(num_dates)<=1]

single_dates

,BGTResID,degreeLevel,Instituition,InstitutionCity,InstitutionState,degreePosition,DegreeType,ipeds_unit_id,major,MajorCipCode,CompletionDateRaw,GPA,ind_doc
2,5567150,21,DETROIT COLLEGE OF LAW,Detroit,MI,1,Juris Doctor,-999,<NA>,<NA>,1987,<NA>,1
4,5567196,21,University of Miami,<NA>,<NA>,2,J.D,135726,<NA>,<NA>,2002,<NA>,1
5,5594991,21,"The Ohio State University, Moritz College of Law",Columbus,OH,2,Juris Doctorate,-999,<NA>,<NA>,June 2013,3.0,1
7,5594750,21,COLUMBIA LAW SCHOOL,Chicago,IL,2,Juris Doctorate,-999,<NA>,<NA>,May 2003,<NA>,1
8,5600064,21,Mississippi State University,Starkville,MS,1,Ph.D,176080,Industrial and Systems Engineering,<NA>,December 2011,<NA>,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268704,77169541,<NA>,Purchase St,<NA>,<NA>,6,B.A.,192749,Chemistry,40.0501,May 1985,<NA>,0
1268705,77169541,<NA>,<NA>,<NA>,<NA>,7,<NA>,-999,<NA>,<NA>,2010,<NA>,0
1268708,77169541,<NA>,Purchase St,<NA>,<NA>,7,B.A.,-999,Chemistry,40.0501,May 1985,<NA>,0
1268709,77169541,<NA>,<NA>,<NA>,<NA>,8,<NA>,-999,<NA>,<NA>,2010,<NA>,0
1268711,9737313,16,Allentown College,<NA>,<NA>,3,B.S. Degree,<NA>,Computer Science,11.0701,January 1996,<NA>,0

In [154]:
def parse_slash_date(string):
    if string is pd.NA:
        return pd.NA
    
    segments = string.split('/')
    
    # Ignore all strings that are not composed entirely of numbers inside the slashes
    for s in segments:
        try:
            int(s)
        except(ValueError):
            return pd.NA
    
    l = len(segments)
    
    day = None
    month = None
    year = None
    
    if l == 3:
        month = int(segments[0])
        day = int(segments[1])
        year = int(segments[2])
    
    if l == 2:
        month = int(segments[0])
        year = int(segments[1])
    
    if l == 1:
        year = int(segments[0])
        
    if (year is None) & (month is None) & (day is None):
        return pd.NA
        
    if month > 1926:
        temp = month
        month = year
        year = temp
        del(temp)    
    
    if year < 100:
        y = str(year)
        if year < 26:
            year = int('20' + f"{y:0>2}")
        else:
            year = int('19' + f"{y:0>3}")
        
    if (month > 12) & (month < 31):
        temp = day
        day = month
        month = temp
        del(temp)
    
    if day is None: 
        day = 1
    
    if month is None:
        month = 6
    
    if year is None:
        return pd.NA
    
    try:
        date = dt.date(year, month, day)
        return date
    except(ValueError):
        print(string, '->', month, day, year)
        return pd.NA
        
            
w_slash = single_dates[single_dates['CompletionDateRaw'].str.contains('/', na=False)]

w_slash['CompletionDate'] = w_slash['CompletionDateRaw'].apply(parse_slash_date)

6/87 -> 6 1 19087
5/98 -> 5 1 19098
6/94 -> 6 1 19094
5/94 -> 5 1 19094
12/84 -> 12 1 19084
08/95 -> 8 1 19095
05/95 -> 5 1 19095
01/76 -> 1 1 19076
12/98 -> 12 1 19098
05/98 -> 5 1 19098
03/95 -> 3 1 19095
5/84 -> 5 1 19084
6/20016/2003 -> 6 20016 2003
12/96 -> 12 1 19096
10/87 -> 10 1 19087
12/98 -> 12 1 19098
9/99 -> 9 1 19099
8/93 -> 8 1 19093
12/96 -> 12 1 19096
6/95 -> 6 1 19095
01/97 -> 1 1 19097
10/87 -> 10 1 19087
08/97 -> 8 1 19097
5/97 -> 5 1 19097
6/87 -> 6 1 19087
12/98 -> 12 1 19098
5/83 -> 5 1 19083
7/96 -> 7 1 19096
9/99 -> 9 1 19099
5/94 -> 5 1 19094
5/13/90 -> 5 13 19090
5/95 -> 5 1 19095
6/97 -> 6 1 19097
8/97 -> 8 1 19097
8/81 -> 8 1 19081
5/94 -> 5 1 19094
08/95 -> 8 1 19095
6/89 -> 6 1 19089
6/92 -> 6 1 19092
5/99 -> 5 1 19099
5/95 -> 5 1 19095
5/97 -> 5 1 19097
6/85 -> 6 1 19085
5/83 -> 5 1 19083
12/93 -> 12 1 19093
1/94 -> 1 1 19094
12/94 -> 12 1 19094
6/98 -> 6 1 19098
6/79 -> 6 1 19079
8/97 -> 8 1 19097
8/94 -> 8 1 19094
7/01/93 -> 7 1 19093
12/83 -> 12 1 19083
06/99 -> 6 1 19099
2/96 -> 2 1 19096
5/8/93 -> 5 8 19093
06/92 -> 6 1 19092
8/96 -> 8 1 19096
1/96 -> 1 1 19096
1/94 -> 1 1 19094
6/94 -> 6 1 19094
5/98 -> 5 1 19098
5/98 -> 5 1 19098
6/82 -> 6 1 19082
05/82 -> 5 1 19082
05/93 -> 5 1 19093
12/86 -> 12 1 19086
5/98 -> 5 1 19098
5/98 -> 5 1 19098
06/99 -> 6 1 19099
02/99 -> 2 1 19099
7/92 -> 7 1 19092
8/94 -> 8 1 19094
09/89 -> 9 1 19089
6/95 -> 6 1 19095
5/96 -> 5 1 19096
3/89 -> 3 1 19089
8/97 -> 8 1 19097
5/93 -> 5 1 19093
6/75 -> 6 1 19075
5/99 -> 5 1 19099
12/94 -> 12 1 19094
12/96 -> 12 1 19096
8/92 -> 8 1 19092
6/69 -> 6 1 19069
7/01/93 -> 7 1 19093
5/90 -> 5 1 19090
2/97 -> 2 1 19097
6 / 86 -> 6 1 19086
2/96 -> 2 1 19096
12/96 -> 12 1 19096
19/67 -> 6 19 19067
4/97 -> 4 1 19097
11/96 -> 11 1 19096
5/97 -> 5 1 19097
12/94 -> 12 1 19094
05/99 -> 5 1 19099
12/99 -> 12 1 19099
1/99 -> 1 1 19099
01/88 -> 1 1 19088
10/97 -> 10 1 19097
5/99 -> 5 1 19099
8/98 -> 8 1 19098
5/91 -> 5 1 19091
9/97 -> 9 1 19097
22/98 -> 6 22 19098
8/99 -> 8 1 19099
1996/97 -> 97 1 1996
7/94 -> 7 1 19094
12/93 -> 12 1 19093
8/82 -> 8 1 19082
6/78 -> 6 1 19078
01/99 -> 1 1 19099
9/99 -> 9 1 19099
9/94 -> 9 1 19094
6/85 -> 6 1 19085
5/85 -> 5 1 19085
3/89 -> 3 1 19089
12/81 -> 12 1 19081
12/98 -> 12 1 19098
5/97 -> 5 1 19097
5/86 -> 5 1 19086
12 /97 -> 12 1 19097
6/85 -> 6 1 19085
12/99 -> 12 1 19099
5/95 -> 5 1 19095
02/89 -> 2 1 19089
5/92 -> 5 1 19092
6/83 -> 6 1 19083
11/87 -> 11 1 19087
12/97 -> 12 1 19097
1/99 -> 1 1 19099
5/96 -> 5 1 19096
12/98 -> 12 1 19098
11/98 -> 11 1 19098
11/97 -> 11 1 19097
5/86 -> 5 1 19086
5/89 -> 5 1 19089
5/98 -> 5 1 19098
5/98 -> 5 1 19098
8/98 -> 8 1 19098
9/90 -> 9 1 19090
12/88 -> 12 1 19088
5/96 -> 5 1 19096
11/95 -> 11 1 19095
5/99 -> 5 1 19099
03/95 -> 3 1 19095
5/80 -> 5 1 19080
12/98 -> 12 1 19098
09/92 -> 9 1 19092
01/94 -> 1 1 19094
6/97 -> 6 1 19097
12/83 -> 12 1 19083
1/97 -> 1 1 19097
5/81 -> 5 1 19081
11/98 -> 11 1 19098
5/94 -> 5 1 19094
7/97 -> 7 1 19097
8/97 -> 8 1 19097
12/96 -> 12 1 19096
05/21/77 -> 5 21 19077
12/91 -> 12 1 19091
8/97 -> 8 1 19097
10/98 -> 10 1 19098
6/95 -> 6 1 19095
11/15/97 -> 11 15 19097
9/97 -> 9 1 19097
4/96 -> 4 1 19096
6/97 -> 6 1 19097
6/99 -> 6 1 19099
6/88 -> 6 1 19088
12/93 -> 12 1 19093
12/98 -> 12 1 19098
8/95 -> 8 1 19095
8/96 -> 8 1 19096
05/99 -> 5 1 19099
12/95 -> 12 1 19095
5/99 -> 5 1 19099
5/96 -> 5 1 19096
12/99 -> 12 1 19099
9/97 -> 9 1 19097
12/99 -> 12 1 19099
12/96 -> 12 1 19096
3/99 -> 3 1 19099
1/96 -> 1 1 19096
5/97 -> 5 1 19097
12/96 -> 12 1 19096
12/97 -> 12 1 19097
5/93 -> 5 1 19093
8/95 -> 8 1 19095
12/99 -> 12 1 19099
12/94 -> 12 1 19094
9/89 -> 9 1 19089
5/98 -> 5 1 19098
8/96 -> 8 1 19096
5/80 -> 5 1 19080
3/98 -> 3 1 19098
8/98 -> 8 1 19098
12/98 -> 12 1 19098
5/99 -> 5 1 19099
05/96 -> 5 1 19096
08/99 -> 8 1 19099
01/99 -> 1 1 19099
5/83 -> 5 1 19083
4/96 -> 4 1 19096
5/93 -> 5 1 19093
8/87 -> 8 1 19087
6/91 -> 6 1 19091
4/98 -> 4 1 19098
5/99 -> 5 1 19099
12/85 -> 12 1 19085
2/93 -> 2 1 19093
5/13/78 -> 5 13 19078
06/96 -> 6 1 19096
6/96 -> 6 1 19096
12/95 -> 12 1 19095
6/93 -> 6 1 19093
03/96 -> 3 1 19096
5/95 -> 5 1 19095
05/95 -> 5 1 19095
2/97 -> 2 1 19097
8/98 -> 8 1 19098
05/99 -> 5 1 19099
12/96 -> 12 1 19096
5/98 -> 5 1 19098
11/94 -> 11 1 19094
2/94 -> 2 1 19094
5/92 -> 5 1 19092
03/99 -> 3 1 19099
08/98 -> 8 1 19098
6/97 -> 6 1 19097
8/94 -> 8 1 19094
8/97 -> 8 1 19097
12/98 -> 12 1 19098
5/91 -> 5 1 19091
3/84 -> 3 1 19084
5/24/92 -> 5 24 19092
12/96 -> 12 1 19096
5/95 -> 5 1 19095
12/99 -> 12 1 19099
01/97 -> 1 1 19097
5/94 -> 5 1 19094
12/92 -> 12 1 19092
5/94 -> 5 1 19094
1/96 -> 1 1 19096
08/87 -> 8 1 19087
2/93 -> 2 1 19093
5/84 -> 5 1 19084
5/83 -> 5 1 19083
7/98 -> 7 1 19098
10/96 -> 10 1 19096
05/88 -> 5 1 19088
06/99 -> 6 1 19099
3/98 -> 3 1 19098
8/81 -> 8 1 19081
12/97 -> 12 1 19097
08/98 -> 8 1 19098
03/99 -> 3 1 19099
2/94 -> 2 1 19094
5/95 -> 5 1 19095
12/99 -> 12 1 19099
07/99 -> 7 1 19099
3/76 -> 3 1 19076
12/94 -> 12 1 19094
12/81 -> 12 1 19081
6/97 -> 6 1 19097
05/95 -> 5 1 19095
7/98 -> 7 1 19098
6/95 -> 6 1 19095
08/98 -> 8 1 19098
8/98 -> 8 1 19098
6/97 -> 6 1 19097
9/98 -> 9 1 19098
6/62 -> 6 1 19062
12/96 -> 12 1 19096
12/94 -> 12 1 19094
08/91 -> 8 1 19091
08/92 -> 8 1 19092
5/76 -> 5 1 19076
8/95 -> 8 1 19095
1/89 -> 1 1 19089
06/05/89 -> 6 5 19089
1/97 -> 1 1 19097
5/80 -> 5 1 19080
05/90 -> 5 1 19090
5/98 -> 5 1 19098
12/93 -> 12 1 19093
10/98 -> 10 1 19098
12/95 -> 12 1 19095
2/96 -> 2 1 19096
12/96 -> 12 1 19096
01/95 -> 1 1 19095
03/95 -> 3 1 19095
5/86 -> 5 1 19086
9/99 -> 9 1 19099
7/98 -> 7 1 19098
2/99 -> 2 1 19099
6/89 -> 6 1 19089
2/95 -> 2 1 19095
05/97 -> 5 1 19097
3/98 -> 3 1 19098
9/97 -> 9 1 19097
5/99 -> 5 1 19099
05/90 -> 5 1 19090
9/99 -> 9 1 19099
12/96 -> 12 1 19096
9/98 -> 9 1 19098
8/95 -> 8 1 19095
3/93 -> 3 1 19093
5/98 -> 5 1 19098
8/98 -> 8 1 19098
05/98 -> 5 1 19098
05/98 -> 5 1 19098
8/94 -> 8 1 19094
12/86 -> 12 1 19086
12/99 -> 12 1 19099
5/91 -> 5 1 19091
12/99 -> 12 1 19099
12/99 -> 12 1 19099
7/94 -> 7 1 19094
12/96 -> 12 1 19096
1/97 -> 1 1 19097
5/98 -> 5 1 19098
04/93 -> 4 1 19093
12/97 -> 12 1 19097
3/97 -> 3 1 19097
12/97 -> 12 1 19097
6/94 -> 6 1 19094
5/13/78 -> 5 13 19078
12/99 -> 12 1 19099
7/97 -> 7 1 19097
10/15/93 -> 10 15 19093
5/99 -> 5 1 19099
5/96 -> 5 1 19096
12/84 -> 12 1 19084
6/99 -> 6 1 19099
6/97 -> 6 1 19097
5/86 -> 5 1 19086
5/98 -> 5 1 19098
5/97 -> 5 1 19097
12/96 -> 12 1 19096
12/96 -> 12 1 19096
03/98 -> 3 1 19098
6/95 -> 6 1 19095
2/93 -> 2 1 19093
12/97 -> 12 1 19097
05/95 -> 5 1 19095
12/99 -> 12 1 19099
6/97 -> 6 1 19097
1/98 -> 1 1 19098
8/90 -> 8 1 19090
6/77 -> 6 1 19077
5/91 -> 5 1 19091
12/96 -> 12 1 19096
6/99 -> 6 1 19099
8/99 -> 8 1 19099
6/94 -> 6 1 19094
4/99 -> 4 1 19099
8/92 -> 8 1 19092
6/77 -> 6 1 19077
10/91 -> 10 1 19091
8/97 -> 8 1 19097
12/98 -> 12 1 19098
12/95 -> 12 1 19095
9/99 -> 9 1 19099
1/99 -> 1 1 19099
9/97 -> 9 1 19097
2/98 -> 2 1 19098
8/96 -> 8 1 19096
5/94 -> 5 1 19094
5/93 -> 5 1 19093
9/96 -> 9 1 19096
10/97 -> 10 1 19097
6/96 -> 6 1 19096
12/96 -> 12 1 19096
5/98 -> 5 1 19098
6/99 -> 6 1 19099
12/96 -> 12 1 19096
06/99 -> 6 1 19099
1/89 -> 1 1 19089
12/95 -> 12 1 19095
12/98 -> 12 1 19098
3/95 -> 3 1 19095
3/88 -> 3 1 19088
6/68 -> 6 1 19068
12/99 -> 12 1 19099
11/96 -> 11 1 19096
11/98 -> 11 1 19098
5/92 -> 5 1 19092
12/94 -> 12 1 19094
12/97 -> 12 1 19097
8/98 -> 8 1 19098
08/99 -> 8 1 19099
12/88 -> 12 1 19088
5/99 -> 5 1 19099
01/96 -> 1 1 19096
5/98 -> 5 1 19098
06/87 -> 6 1 19087
09/97 -> 9 1 19097
6/96 -> 6 1 19096
12/99 -> 12 1 19099
12/93 -> 12 1 19093
12/99 -> 12 1 19099
9/99 -> 9 1 19099
8/98 -> 8 1 19098
9/89 -> 9 1 19089
12/94 -> 12 1 19094
11/96 -> 11 1 19096
5/95 -> 5 1 19095
08/93 -> 8 1 19093
09/81 -> 9 1 19081
5/95 -> 5 1 19095
5/95 -> 5 1 19095
8/99 -> 8 1 19099
2/96 -> 2 1 19096
5/92 -> 5 1 19092
12/81 -> 12 1 19081
12/93 -> 12 1 19093
8/89 -> 8 1 19089
6/98 -> 6 1 19098
5/99 -> 5 1 19099
6/94 -> 6 1 19094
8/93 -> 8 1 19093
01/96 -> 1 1 19096
12/97 -> 12 1 19097
5/16/99 -> 5 16 19099
8/91 -> 8 1 19091
3/73 -> 3 1 19073
12/95 -> 12 1 19095
18/67 -> 6 18 19067
6/73 -> 6 1 19073
4/94 -> 4 1 19094
5/16/99 -> 5 16 19099
03/93 -> 3 1 19093
8/90 -> 8 1 19090
8/95 -> 8 1 19095
5/99 -> 5 1 19099
12/95 -> 12 1 19095
3/89 -> 3 1 19089
4/90 -> 4 1 19090
12/89 -> 12 1 19089
11/98 -> 11 1 19098
6/93 -> 6 1 19093
5/99 -> 5 1 19099
08/201208/2016 -> 8 201208 2016
5/97 -> 5 1 19097
05/98 -> 5 1 19098
5/99 -> 5 1 19099
2/24/97 -> 2 24 19097
5/97 -> 5 1 19097
5/91 -> 5 1 19091
8/97 -> 8 1 19097
12/81 -> 12 1 19081
12/88 -> 12 1 19088
05/88 -> 5 1 19088

5/97 -> 5 1 19097
1/95 -> 1 1 19095
12/99 -> 12 1 19099
1/95 -> 1 1 19095
08/86 -> 8 1 19086
8/87 -> 8 1 19087
5/93 -> 5 1 19093
08/99 -> 8 1 19099
6/98 -> 6 1 19098
01/94 -> 1 1 19094
6/98 -> 6 1 19098
5/76 -> 5 1 19076
1997/98 -> 98 1 1997
12/96 -> 12 1 19096
5/86 -> 5 1 19086
6/99 -> 6 1 19099
09/98 -> 9 1 19098
9/98 -> 9 1 19098
3/97 -> 3 1 19097
12/68 -> 12 1 19068
6/98 -> 6 1 19098
12/86 -> 12 1 19086
12/95 -> 12 1 19095
8/95 -> 8 1 19095
6/75 -> 6 1 19075
5/93 -> 5 1 19093
9/86 -> 9 1 19086
12/94 -> 12 1 19094
05/90 -> 5 1 19090
05/98 -> 5 1 19098
8/99 -> 8 1 19099
5/99 -> 5 1 19099
5/81 -> 5 1 19081
6/86 -> 6 1 19086
5/94 -> 5 1 19094
8/97 -> 8 1 19097
5/99 -> 5 1 19099
5/99 -> 5 1 19099
6/94 -> 6 1 19094
05/99 -> 5 1 19099
8/69 -> 8 1 19069
7/94 -> 7 1 19094
09/97 -> 9 1 19097
5/92 -> 5 1 19092
03/93 -> 3 1 19093
5/85 -> 5 1 19085
6/12/99 -> 6 12 19099
8/19/99 -> 8 19 19099
12 /97 -> 12 1 19097
08/98 -> 8 1 19098
12/98 -> 12 1 19098
4/99 -> 4 1 19099
5/93 -> 5 1 19093
12/99 -> 12 1 19099
9/97 -> 9 1 19097
8/97 -> 8 1 19097
5/89 -> 5 1 19089
12/87 -> 12 1 19087
05/92 -> 5 1 19092
5/82 -> 5 1 19082
8/83 -> 8 1 19083
5/95 -> 5 1 19095
12/93 -> 12 1 19093
10/87 -> 10 1 19087
05/97 -> 5 1 19097
12/94 -> 12 1 19094
05/98 -> 5 1 19098
12/93 -> 12 1 19093
05/98 -> 5 1 19098
08/96 -> 8 1 19096
05/94 -> 5 1 19094
5/23/97 -> 5 23 19097
8/97 -> 8 1 19097
6/13/97 -> 6 13 19097
6/89 -> 6 1 19089
06/87 -> 6 1 19087
8/99 -> 8 1 19099
2/94 -> 2 1 19094
02/99 -> 2 1 19099
1/27 -> 1 1 19027
6/89 -> 6 1 19089
08/95 -> 8 1 19095
5/98 -> 5 1 19098
8/99 -> 8 1 19099
9/97 -> 9 1 19097
9/85 -> 9 1 19085
3/99 -> 3 1 19099
6/92 -> 6 1 19092
5/29/97 -> 5 29 19097
09/90 -> 9 1 19090
6/97 -> 6 1 19097
9/98 -> 9 1 19098
6/86 -> 6 1 19086
5/97 -> 5 1 19097
12/85 -> 12 1 19085
12/94 -> 12 1 19094
12/63 -> 12 1 19063
12/97 -> 12 1 19097
12/99 -> 12 1 19099
5/90 -> 5 1 19090
5/89 -> 5 1 19089
12/91 -> 12 1 19091
8/96 -> 8 1 19096
08/97 -> 8 1 19097
9/81 -> 9 1 19081
6/84 -> 6 1 19084
12/91 -> 12 1 19091
5/98 -> 5 1 19098
9/99 -> 9 1 19099
6/91 -> 6 1 19091
05/96 -> 5 1 19096
6/73 -> 6 1 19073
5/86 -> 5 1 19086
1/92 -> 1 1 19092
8/76 -> 8 1 19076
12/93 -> 12 1 19093
5/86 -> 5 1 19086
1/98 -> 1 1 19098
5/94 -> 5 1 19094
12/95 -> 12 1 19095
6/88 -> 6 1 19088
2/98 -> 2 1 19098
6/20016/2003 -> 6 20016 2003
5/93 -> 5 1 19093
12/91 -> 12 1 19091
12/86 -> 12 1 19086
5/98 -> 5 1 19098
12/96 -> 12 1 19096
6/95 -> 6 1 19095
08/99 -> 8 1 19099
9/94 -> 9 1 19094
12/98 -> 12 1 19098
11/70 -> 11 1 19070
08/99 -> 8 1 19099
5/99 -> 5 1 19099
9/97 -> 9 1 19097
06/94 -> 6 1 19094
11/88 -> 11 1 19088
08/98 -> 8 1 19098
5/97 -> 5 1 19097
12/97 -> 12 1 19097
8/92 -> 8 1 19092
03/98 -> 3 1 19098
8/97 -> 8 1 19097
9/99 -> 9 1 19099
6/98 -> 6 1 19098
12/94 -> 12 1 19094
01/97 -> 1 1 19097
06/99 -> 6 1 19099
5/97 -> 5 1 19097
10/99 -> 10 1 19099
5/99 -> 5 1 19099
03/94 -> 3 1 19094
05/99 -> 5 1 19099
3/93 -> 3 1 19093
12/98 -> 12 1 19098
05/97 -> 5 1 19097
12/97 -> 12 1 19097
5/95 -> 5 1 19095
8/88 -> 8 1 19088
6/84 -> 6 1 19084
06/87 -> 6 1 19087
5/18/85 -> 5 18 19085
8/95 -> 8 1 19095
12/97 -> 12 1 19097
6/96 -> 6 1 19096
8/95 -> 8 1 19095
12/92 -> 12 1 19092
06/96 -> 6 1 19096
3/90 -> 3 1 19090
12/87 -> 12 1 19087
5/98 -> 5 1 19098
08/81 -> 8 1 19081
5/83 -> 5 1 19083
6/99 -> 6 1 19099
5/86 -> 5 1 19086
8/99 -> 8 1 19099
6/94 -> 6 1 19094
12/90 -> 12 1 19090
12/82 -> 12 1 19082
3/94 -> 3 1 19094
12/14/82 -> 12 14 19082
12/14/82 -> 12 14 19082
6/94 -> 6 1 19094
6/98 -> 6 1 19098
07/97 -> 7 1 19097
08/96 -> 8 1 19096
5/95 -> 5 1 19095
05/01/99 -> 5 1 19099
05/80 -> 5 1 19080
6/96 -> 6 1 19096
9/94 -> 9 1 19094
5/99 -> 5 1 19099
5/77 -> 5 1 19077
9/94 -> 9 1 19094
3/93 -> 3 1 19093
6/88 -> 6 1 19088
5/88 -> 5 1 19088
8/95 -> 8 1 19095
8/95 -> 8 1 19095
12/98 -> 12 1 19098
3/94 -> 3 1 19094
2/96 -> 2 1 19096
3/90 -> 3 1 19090
5/91 -> 5 1 19091
05/99 -> 5 1 19099
5/99 -> 5 1 19099
02/96 -> 2 1 19096
5/97 -> 5 1 19097
11/93 -> 11 1 19093
8/95 -> 8 1 19095
5/95 -> 5 1 19095
12/73 -> 12 1 19073
12/95 -> 12 1 19095
9/72 -> 9 1 19072
5/92 -> 5 1 19092
01/91 -> 1 1 19091
5/11/91 -> 5 11 19091
20/58 -> 6 20 19058
06/86 -> 6 1 19086
9/95 -> 9 1 19095
70/70 -> 70 1 19070
6/84 -> 6 1 19084
12/89 -> 12 1 19089
5/86 -> 5 1 19086
9/94 -> 9 1 19094
6/93 -> 6 1 19093
5/82 -> 5 1 19082
70/70 -> 70 1 19070
07/199905/2004 -> 7 199905 2004
67/70 -> 67 1 19070
20/58 -> 6 20 19058
05/88 -> 5 1 19088
12/95 -> 12 1 19095
1964/66 -> 66 1 1964
10/8/98 -> 10 8 19098
2/59 -> 2 1 19059
5/88 -> 5 1 19088
5/89 -> 5 1 19089
5/96 -> 5 1 19096
03/86 -> 3 1 19086
8/29 -> 8 1 19029
5/94 -> 5 1 19094
9/94 -> 9 1 19094
05/74 -> 5 1 19074
09/199606/1999 -> 9 199606 1999
05/98 -> 5 1 19098
5/77 -> 5 1 19077
12/96 -> 12 1 19096
05/99 -> 5 1 19099
2/91 -> 2 1 19091
06/99 -> 6 1 19099
01/96 -> 1 1 19096
07/93 -> 7 1 19093
8/15/90 -> 8 15 19090
12/95 -> 12 1 19095
9/94 -> 9 1 19094
09/93 -> 9 1 19093
12/95 -> 12 1 19095
12/95 -> 12 1 19095
30/90 -> 6 30 19090
12/87 -> 12 1 19087
5/99 -> 5 1 19099
5/29/86 -> 5 29 19086
92/94 -> 92 1 19094
3/90 -> 3 1 19090
12/99 -> 12 1 19099
9/91 -> 9 1 19091
04/97 -> 4 1 19097
5/85 -> 5 1 19085
4 / 89 -> 4 1 19089
8/99 -> 8 1 19099
06/98 -> 6 1 19098
08/92 -> 8 1 19092
6/95 -> 6 1 19095
8/92 -> 8 1 19092
5/93 -> 5 1 19093
56 /20 -> 56 1 2020
12/98 -> 12 1 19098
8/94 -> 8 1 19094
11/81 -> 11 1 19081
03/95 -> 3 1 19095
05/94 -> 5 1 19094
1964/66 -> 66 1 1964
5/93 -> 5 1 19093
05/91 -> 5 1 19091
08/31 -> 8 1 19031
8/95 -> 8 1 19095
5/98 -> 5 1 19098
05/95 -> 5 1 19095
12/95 -> 12 1 19095
2/98 -> 2 1 19098
12/93 -> 12 1 19093
5/94 -> 5 1 19094
5/99 -> 5 1 19099
06/93 -> 6 1 19093
73/90 -> 73 1 19090
9/93 -> 9 1 19093
9/94 -> 9 1 19094
5/85 -> 5 1 19085
5/97 -> 5 1 19097
97 / 98 -> 97 1 19098
1964/66 -> 66 1 1964
9/94 -> 9 1 19094
1964/66 -> 66 1 1964
8/95 -> 8 1 19095
08/97 -> 8 1 19097
10/91 -> 10 1 19091
12/87 -> 12 1 19087
6/66 -> 6 1 19066
3/85 -> 3 1 19085
3/85 -> 3 1 19085
8/95 -> 8 1 19095
5/92 -> 5 1 19092
05/94 -> 5 1 19094
5/91 -> 5 1 19091
05/91 -> 5 1 19091
5/91 -> 5 1 19091
1/30 -> 1 1 19030
11/99 -> 11 1 19099
07/95 -> 7 1 19095
5/97 -> 5 1 19097
5/97 -> 5 1 19097
12/94 -> 12 1 19094
03/98 -> 3 1 19098
5/91 -> 5 1 19091
5/91 -> 5 1 19091
16/67 -> 6 16 19067
3/97 -> 3 1 19097
07/90 -> 7 1 19090
12/98 -> 12 1 19098
8/85 -> 8 1 19085
16/92 -> 6 16 19092
6/84 -> 6 1 19084
12/99 -> 12 1 19099
12/99 -> 12 1 19099
5/94 -> 5 1 19094
06/31/1991 -> 6 31 1991
07/96 -> 7 1 19096
5/94 -> 5 1 19094
6/31 -> 6 1 19031
04/94 -> 4 1 19094
5/92 -> 5 1 19092
5/98 -> 5 1 19098
4/84 -> 4 1 19084
6/91 -> 6 1 19091
1975/78 -> 78 1 1975
12/1/94 -> 12 1 19094
4/14/84 -> 4 14 19084
9/99 -> 9 1 19099
03/93 -> 3 1 19093
12/10/81 -> 12 10 19081
5/89 -> 5 1 19089
5/96 -> 5 1 19096
12/1/94 -> 12 1 19094
6/83 -> 6 1 19083
5/90 -> 5 1 19090
5/91 -> 5 1 19091
7/70 -> 7 1 19070
6/97 -> 6 1 19097
05/99 -> 5 1 19099
4/94 -> 4 1 19094
06/31/2016 -> 6 31 2016
04/90 -> 4 1 19090
5/92 -> 5 1 19092
5/91 -> 5 1 19091
5/86 -> 5 1 19086
4/94 -> 4 1 19094
4/94 -> 4 1 19094
05/97 -> 5 1 19097
06/90 -> 6 1 19090
01/97 -> 1 1 19097
1/80 -> 1 1 19080
7/97 -> 7 1 19097
03/89 -> 3 1 19089
6/81 -> 6 1 19081
6/76 -> 6 1 19076
12/98 -> 12 1 19098
08/97 -> 8 1 19097
4/94 -> 4 1 19094
08/93 -> 8 1 19093
05/92 -> 5 1 19092
9/65 -> 9 1 19065
07/98 -> 7 1 19098
05/92 -> 5 1 19092
5/98 -> 5 1 19098
6/3/79 -> 6 3 19079
8/91 -> 8 1 19091
12/31 -> 12 1 19031
4/94 -> 4 1 19094
07/30 -> 7 1 19030
1/80 -> 1 1 19080
17/72 -> 6 17 19072
4/94 -> 4 1 19094
6/7/98 -> 6 7 19098
6/92 -> 6 1 19092
11/97 -> 11 1 19097
3/94 -> 3 1 19094
5/83 -> 5 1 19083
05/98 -> 5 1 19098
6/96 -> 6 1 19096
9/96 -> 9 1 19096
5/92 -> 5 1 19092
24/81 -> 6 24 19081
1/91 -> 1 1 19091
11/97 -> 11 1 19097
6/97 -> 6 1 19097
05/92 -> 5 1 19092
11/84 -> 11 1 19084
06/90 -> 6 1 19090
11/84 -> 11 1 19084
5/27/87 -> 5 27 19087
6/85 -> 6 1 19085
6/97 -> 6 1 19097
8/54 -> 8 1 19054
8/54 -> 8 1 19054
5/98 -> 5 1 19098
12/31 -> 12 1 19031
5/93 -> 5 1 19093
06/94 -> 6 1 19094
5/83 -> 5 1 19083
02/30/2016 -> 2 30 2016
6/89 -> 6 1 19089
05/86 -> 5 1 19086
8/94 -> 8 1 19094
12/88 -> 12 1 19088
12/88 -> 12 1 19088
12/16/90 -> 12 16 19090
8/95 -> 8 1 19095
12/97 -> 12 1 19097
09/97 -> 9 1 19097
5/92 -> 5 1 19092
12/95 -> 12 1 19095
07/95 -> 7 1 19095
03/29 -> 3 1 19029
12/83 -> 12 1 19083
12/98 -> 12 1 19098
5/23/97 -> 5 23 19097
5/83 -> 5 1 19083
5/96 -> 5 1 19096
5/98 -> 5 1 19098
6/84 -> 6 1 19084
5/92 -> 5 1 19092
8/31/98 -> 8 31 19098
1/02/96 -> 1 2 19096
12/19/96 -> 12 19 19096
8/20/90 -> 8 20 19090
02/99 -> 2 1 19099
02/99 -> 2 1 19099
06/98 -> 6 1 19098
05/95 -> 5 1 19095
06/98 -> 6 1 19098
05/95 -> 5 1 19095
6/88 -> 6 1 19088
9/97 -> 9 1 19097
11/99 -> 11 1 19099
08/84 -> 8 1 19084
08/81 -> 8 1 19081
05/92 -> 5 1 19092
03/85 -> 3 1 19085
02/82 -> 2 1 19082
07/88 -> 7 1 19088
07/85 -> 7 1 19085
06/71 -> 6 1 19071
07/93 -> 7 1 19093
08/98 -> 8 1 19098
07/96 -> 7 1 19096
12/90 -> 12 1 19090
05/84 -> 5 1 19084
5/96 -> 5 1 19096
05/95 -> 5 1 19095
05/91 -> 5 1 19091
5/91 -> 5 1 19091
12/89 -> 12 1 19089
5/89 -> 5 1 19089
03/77 -> 3 1 19077
6/89 -> 6 1 19089
06/92 -> 6 1 19092
09/88 -> 9 1 19088
5/97 -> 5 1 19097
6/89 -> 6 1 19089
06/95 -> 6 1 19095
12/90 -> 12 1 19090
12/97 -> 12 1 19097
8/21/82 -> 8 21 19082
6/95 -> 6 1 19095
5/83 -> 5 1 19083
11/97 -> 11 1 19097
5/93 -> 5 1 19093
5/78 -> 5 1 19078
5/92 -> 5 1 19092
05/93 -> 5 1 19093
01/11/99 -> 1 11 19099
5/99 -> 5 1 19099
05/97 -> 5 1 19097
05/99 -> 5 1 19099
09/98 -> 9 1 19098
01/98 -> 1 1 19098
7/98 -> 7 1 19098
06/92 -> 6 1 19092
5/93 -> 5 1 19093
10/98 -> 10 1 19098
5/85 -> 5 1 19085
06/94 -> 6 1 19094
6/84 -> 6 1 19084
5/94 -> 5 1 19094
1/92 -> 1 1 19092
6/91 -> 6 1 19091
6/88 -> 6 1 19088
12/90 -> 12 1 19090
6/80 -> 6 1 19080
10/82 -> 10 1 19082
6/95 -> 6 1 19095
5/86 -> 5 1 19086
05/97 -> 5 1 19097
10/95 -> 10 1 19095
02/87 -> 2 1 19087
05/80 -> 5 1 19080
12/98 -> 12 1 19098
12/99 -> 12 1 19099
5/91 -> 5 1 19091
5/90 -> 5 1 19090
5/17/86 -> 5 17 19086
5/96 -> 5 1 19096
5/95 -> 5 1 19095
5/92 -> 5 1 19092
05/97 -> 5 1 19097
5/97 -> 5 1 19097
12/95 -> 12 1 19095
5/97 -> 5 1 19097
5/93 -> 5 1 19093
5/88 -> 5 1 19088
5/99 -> 5 1 19099
12/91 -> 12 1 19091
6/92 -> 6 1 19092
5/94 -> 5 1 19094
8/92 -> 8 1 19092
6/98 -> 6 1 19098
5/93 -> 5 1 19093
12/99 -> 12 1 19099
5/97 -> 5 1 19097
5/96 -> 5 1 19096
5/75 -> 5 1 19075
08/80 -> 8 1 19080
07/98 -> 7 1 19098
08/90 -> 8 1 19090
5/98 -> 5 1 19098
12/94 -> 12 1 19094
6/92 -> 6 1 19092
6/81 -> 6 1 19081
6/87 -> 6 1 19087
6/79 -> 6 1 19079
05/96 -> 5 1 19096
05/90 -> 5 1 19090
5/96 -> 5 1 19096
6/97 -> 6 1 19097
6/96 -> 6 1 19096
6/88 -> 6 1 19088
6/88 -> 6 1 19088
1/90 -> 1 1 19090
6/93 -> 6 1 19093
1/63 -> 1 1 19063
5/93 -> 5 1 19093
5/90 -> 5 1 19090
6/97 -> 6 1 19097
06/89 -> 6 1 19089
5/90 -> 5 1 19090
05/84 -> 5 1 19084
05/79 -> 5 1 19079
5/96 -> 5 1 19096
6/98 -> 6 1 19098
6/82 -> 6 1 19082
6/79 -> 6 1 19079
5/91 -> 5 1 19091
6/80 -> 6 1 19080
6/84 -> 6 1 19084
8/99 -> 8 1 19099
5/99 -> 5 1 19099
6/95 -> 6 1 19095
5/91 -> 5 1 19091
5/97 -> 5 1 19097
8/90 -> 8 1 19090
6/92 -> 6 1 19092
12/84 -> 12 1 19084
5/80 -> 5 1 19080
06/80 -> 6 1 19080
03/76 -> 3 1 19076
5/80 -> 5 1 19080
6/99 -> 6 1 19099
6/94 -> 6 1 19094
8/99 -> 8 1 19099
7/97 -> 7 1 19097
12/95 -> 12 1 19095
12/99 -> 12 1 19099
8/98 -> 8 1 19098
12/76 -> 12 1 19076
5/73 -> 5 1 19073
12/95 -> 12 1 19095
11/70 -> 11 1 19070
5/94 -> 5 1 19094
8/92 -> 8 1 19092
5/88 -> 5 1 19088
7/73 -> 7 1 19073
5/96 -> 5 1 19096
5/15/88 -> 5 15 19088
05/96 -> 5 1 19096
01/97 -> 1 1 19097
06/93 -> 6 1 19093
06/89 -> 6 1 19089
72/02 -> 72 1 2002
5/86 -> 5 1 19086
12/92 -> 12 1 19092
12/87 -> 12 1 19087
12/85 -> 12 1 19085
05/89 -> 5 1 19089
5/12/98 -> 5 12 19098
3/97 -> 3 1 19097
3/91 -> 3 1 19091
5/96 -> 5 1 19096
6/95 -> 6 1 19095
12/92 -> 12 1 19092
7/84 -> 7 1 19084
12/94 -> 12 1 19094
12/93 -> 12 1 19093
12/93 -> 12 1 19093
12/98 -> 12 1 19098
5/99 -> 5 1 19099
5/89 -> 5 1 19089
5/94 -> 5 1 19094
5/76 -> 5 1 19076
5/94 -> 5 1 19094
5/76 -> 5 1 19076
6/97 -> 6 1 19097
11/98 -> 11 1 19098
06/97 -> 6 1 19097
1/74 -> 1 1 19074
5/15/88 -> 5 15 19088
08/87 -> 8 1 19087
07/84 -> 7 1 19084
5/94 -> 5 1 19094
5/95 -> 5 1 19095
11/91 -> 11 1 19091
11/86 -> 11 1 19086
07/98 -> 7 1 19098
8/82 -> 8 1 19082
05/98 -> 5 1 19098
12/96 -> 12 1 19096
1/63 -> 1 1 19063
6/79 -> 6 1 19079
08/98 -> 8 1 19098
1 /88 -> 1 1 19088
05/79 -> 5 1 19079
8/97 -> 8 1 19097
12/91 -> 12 1 19091
05/87 -> 5 1 19087
1/81 -> 1 1 19081
5/94 -> 5 1 19094
6/15/96 -> 6 15 19096
12/91 -> 12 1 19091
5/88 -> 5 1 19088
6/81 -> 6 1 19081
05/96 -> 5 1 19096
05/91 -> 5 1 19091
5/73 -> 5 1 19073
9/99 -> 9 1 19099
12/95 -> 12 1 19095
5/87 -> 5 1 19087
12/98 -> 12 1 19098
3/97 -> 3 1 19097
10/97 -> 10 1 19097
5/84 -> 5 1 19084
5/82 -> 5 1 19082
6/95 -> 6 1 19095
1/66 -> 1 1 19066
12/89 -> 12 1 19089
2/86 -> 2 1 19086
5/97 -> 5 1 19097
6/88 -> 6 1 19088
06/99 -> 6 1 19099
5/92 -> 5 1 19092
8/88 -> 8 1 19088
6/97 -> 6 1 19097
4/99 -> 4 1 19099
3/86 -> 3 1 19086
2/82 -> 2 1 19082
5/94 -> 5 1 19094
8/92 -> 8 1 19092
5/77 -> 5 1 19077
5/97 -> 5 1 19097
5/73 -> 5 1 19073
5/ 97 -> 5 1 19097
8/92 -> 8 1 19092
12/97 -> 12 1 19097
07/93 -> 7 1 19093
06/92 -> 6 1 19092
5/93 -> 5 1 19093
06/31/1995 -> 6 31 1995
8/97 -> 8 1 19097
6/88 -> 6 1 19088
05/81 -> 5 1 19081
12/95 -> 12 1 19095
12/89 -> 12 1 19089
12/93 -> 12 1 19093
2/89 -> 2 1 19089
05/94 -> 5 1 19094
6/77 -> 6 1 19077
2/63 -> 2 1 19063
12/81 -> 12 1 19081
10/98 -> 10 1 19098
5/85 -> 5 1 19085
08/96 -> 8 1 19096
12/96 -> 12 1 19096
06/92 -> 6 1 19092

12/95 -> 12 1 19095
5/90 -> 5 1 19090
6/85 -> 6 1 19085
07/28/98 -> 7 28 19098
5/99 -> 5 1 19099
01/97 -> 1 1 19097
06/93 -> 6 1 19093
5/87 -> 5 1 19087
5/92 -> 5 1 19092
5/85 -> 5 1 19085
5/84 -> 5 1 19084
12/97 -> 12 1 19097
02/91 -> 2 1 19091
12/94 -> 12 1 19094
5/98 -> 5 1 19098
12/98 -> 12 1 19098
5/90 -> 5 1 19090
09/96 -> 9 1 19096
5/92 -> 5 1 19092
05/98 -> 5 1 19098
1/97 -> 1 1 19097
10/90 -> 10 1 19090
2/73 -> 2 1 19073
05/97 -> 5 1 19097
11/70 -> 11 1 19070
12/99 -> 12 1 19099
5/66 -> 5 1 19066
5/92 -> 5 1 19092
5/85 -> 5 1 19085
02/99 -> 2 1 19099
12/98 -> 12 1 19098
6 / 80 -> 6 1 19080
6 / 74 -> 6 1 19074
5/86 -> 5 1 19086
5/96 -> 5 1 19096
5/95 -> 5 1 19095
12/97 -> 12 1 19097
5/97 -> 5 1 19097
5/92 -> 5 1 19092
12/89 -> 12 1 19089
03/26 -> 3 1 19026
02/94 -> 2 1 19094
12/95 -> 12 1 19095
6/91 -> 6 1 19091
5/87 -> 5 1 19087
8/94 -> 8 1 19094
8/93 -> 8 1 19093
4/82 -> 4 1 19082
9/97 -> 9 1 19097
9/90 -> 9 1 19090
5/98 -> 5 1 19098
12/92 -> 12 1 19092
4/89 -> 4 1 19089
5/99 -> 5 1 19099
5/99 -> 5 1 19099
12/99 -> 12 1 19099
5/97 -> 5 1 19097
5/90 -> 5 1 19090
6/86 -> 6 1 19086
05/98 -> 5 1 19098
07/95 -> 7 1 19095
03/79 -> 3 1 19079
8/94 -> 8 1 19094
5/98 -> 5 1 19098
6/94 -> 6 1 19094
5/97 -> 5 1 19097
08/88 -> 8 1 19088
11/99 -> 11 1 19099
05/91 -> 5 1 19091
12/88 -> 12 1 19088
5/93 -> 5 1 19093
5/83 -> 5 1 19083
5/94 -> 5 1 19094
11/93 -> 11 1 19093
6/88 -> 6 1 19088
5/98 -> 5 1 19098
5/97 -> 5 1 19097
5/85 -> 5 1 19085
5/84 -> 5 1 19084
6/79 -> 6 1 19079
6/77 -> 6 1 19077
12/97 -> 12 1 19097
05/81 -> 5 1 19081
12/99 -> 12 1 19099
12/98 -> 12 1 19098
9/78 -> 9 1 19078
5/88 -> 5 1 19088
5/98 -> 5 1 19098
6/94 -> 6 1 19094
5/78 -> 5 1 19078
5/89 -> 5 1 19089
5/85 -> 5 1 19085
2/99 -> 2 1 19099
1/98 -> 1 1 19098
4/97 -> 4 1 19097
1/97 -> 1 1 19097
4/94 -> 4 1 19094
06/97 -> 6 1 19097
6/69 -> 6 1 19069
6/71 -> 6 1 19071
6/73 -> 6 1 19073
10/92 -> 10 1 19092
07/90 -> 7 1 19090
5/94 -> 5 1 19094
5/92 -> 5 1 19092
1/91 -> 1 1 19091
7/97 -> 7 1 19097
7/94 -> 7 1 19094
8/91 -> 8 1 19091
1/86 -> 1 1 19086
1/77 -> 1 1 19077
6/79 -> 6 1 19079
08/89 -> 8 1 19089
08/83 -> 8 1 19083
8/99 -> 8 1 19099
5/77 -> 5 1 19077
6/74 -> 6 1 19074
4/99 -> 4 1 19099
3/86 -> 3 1 19086
2/82 -> 2 1 19082
09/76 -> 9 1 19076
06/75 -> 6 1 19075
07/79 -> 7 1 19079
01/77 -> 1 1 19077
09/75 -> 9 1 19075
04/93 -> 4 1 19093
12/78 -> 12 1 19078
5/71 -> 5 1 19071
4/98 -> 4 1 19098
09/91 -> 9 1 19091
6/91 -> 6 1 19091
3/83 -> 3 1 19083
03/99 -> 3 1 19099
08/99 -> 8 1 19099
05/96 -> 5 1 19096
02/97 -> 2 1 19097
12 / 99 -> 12 1 19099
05 / 89 -> 5 1 19089
2/88 -> 2 1 19088
6/76 -> 6 1 19076
6/74 -> 6 1 19074
07/99 -> 7 1 19099
07/95 -> 7 1 19095
6/82 -> 6 1 19082
6/79 -> 6 1 19079
5/91 -> 5 1 19091
1/87 -> 1 1 19087
5/90 -> 5 1 19090
05/82 -> 5 1 19082
12/99 -> 12 1 19099
7/98 -> 7 1 19098
6/98 -> 6 1 19098
5/95 -> 5 1 19095
1/95 -> 1 1 19095
10/86 -> 10 1 19086
6/81 -> 6 1 19081
6/77 -> 6 1 19077
6/80 -> 6 1 19080
11/97 -> 11 1 19097
8/97 -> 8 1 19097
11/79 -> 11 1 19079
11/77 -> 11 1 19077
6/93 -> 6 1 19093
8/91 -> 8 1 19091
12/78 -> 12 1 19078
5/76 -> 5 1 19076
8/21/82 -> 8 21 19082
12/97 -> 12 1 19097
07/93 -> 7 1 19093
8/98 -> 8 1 19098
5/92 -> 5 1 19092
2/93 -> 2 1 19093
5/93 -> 5 1 19093
12/97 -> 12 1 19097
6/91 -> 6 1 19091
05/98 -> 5 1 19098
12/96 -> 12 1 19096
8/96 -> 8 1 19096
8/89 -> 8 1 19089
5/83 -> 5 1 19083
12/98 -> 12 1 19098
6/91 -> 6 1 19091
06/98 -> 6 1 19098
5/97 -> 5 1 19097
7/92 -> 7 1 19092
10/99 -> 10 1 19099
05/98 -> 5 1 19098
7/12/70 -> 7 12 19070
7/1/99 -> 7 1 19099
8/77 -> 8 1 19077
06/94 -> 6 1 19094
06/94 -> 6 1 19094
5/70 -> 5 1 19070
5/83 -> 5 1 19083
5/18/80 -> 5 18 19080
5/22/94 -> 5 22 19094
02/98 -> 2 1 19098
02/96 -> 2 1 19096
07/93 -> 7 1 19093
12/92 -> 12 1 19092
5/98 -> 5 1 19098
6/94 -> 6 1 19094
12/96 -> 12 1 19096
12/94 -> 12 1 19094
12/89 -> 12 1 19089
5/92 -> 5 1 19092
6/97 -> 6 1 19097
8/94 -> 8 1 19094
09/90 -> 9 1 19090
06/89 -> 6 1 19089
5/77 -> 5 1 19077
5/74 -> 5 1 19074
4/27/96 -> 4 27 19096
06/93 -> 6 1 19093
07/88 -> 7 1 19088
07/83 -> 7 1 19083
6/90 -> 6 1 19090
5/86 -> 5 1 19086
5/91 -> 5 1 19091
5/10/91 -> 5 10 19091
11/98 -> 11 1 19098
5/85 -> 5 1 19085
6/78 -> 6 1 19078
05/85 -> 5 1 19085
6/96 -> 6 1 19096
5/93 -> 5 1 19093
6/90 -> 6 1 19090
6/79 -> 6 1 19079
8/92 -> 8 1 19092
12/88 -> 12 1 19088
5/98 -> 5 1 19098
4/94 -> 4 1 19094
7/92 -> 7 1 19092
5/95 -> 5 1 19095
8/88 -> 8 1 19088
5/90 -> 5 1 19090
5/96 -> 5 1 19096
01/09/99 -> 1 9 19099
05/03/72 -> 5 3 19072
12/97 -> 12 1 19097
5/78 -> 5 1 19078
10/91 -> 10 1 19091
12/86 -> 12 1 19086
12/82 -> 12 1 19082
5/76 -> 5 1 19076
6/92 -> 6 1 19092
5/91 -> 5 1 19091
6/88 -> 6 1 19088
5/12/96 -> 5 12 19096
1/97 -> 1 1 19097
9/90 -> 9 1 19090
8/90 -> 8 1 19090
2/87 -> 2 1 19087
8/98 -> 8 1 19098
5/95 -> 5 1 19095
5/92 -> 5 1 19092
5/89 -> 5 1 19089
06/95 -> 6 1 19095
6/83 -> 6 1 19083
08/88 -> 8 1 19088
08/82 -> 8 1 19082
5/93 -> 5 1 19093
5/90 -> 5 1 19090
2/99 -> 2 1 19099
6/94 -> 6 1 19094
5/90 -> 5 1 19090
5/87 -> 5 1 19087
12/93 -> 12 1 19093
12/82 -> 12 1 19082
05/97 -> 5 1 19097
2/65 -> 2 1 19065
2/69 -> 2 1 19069
5/93 -> 5 1 19093
10/93 -> 10 1 19093
8/81 -> 8 1 19081
7/79 -> 7 1 19079
4/90 -> 4 1 19090
7/84 -> 7 1 19084
05/97 -> 5 1 19097
6/87 -> 6 1 19087
12/85 -> 12 1 19085
05/90 -> 5 1 19090
1/99 -> 1 1 19099
12/97 -> 12 1 19097
7/92 -> 7 1 19092
7/90 -> 7 1 19090
11/99 -> 11 1 19099
05/98 -> 5 1 19098
6/92 -> 6 1 19092
12/84 -> 12 1 19084
05/95 -> 5 1 19095
9/92 -> 9 1 19092
6/84 -> 6 1 19084
12/97 -> 12 1 19097
07/93 -> 7 1 19093
05/98 -> 5 1 19098
05/96 -> 5 1 19096
12/93 -> 12 1 19093
08/97 -> 8 1 19097
5/81 -> 5 1 19081
06/93 -> 6 1 19093
12/86 -> 12 1 19086
12/85 -> 12 1 19085
05/80 -> 5 1 19080
12/78 -> 12 1 19078
05/97 -> 5 1 19097
05/83 -> 5 1 19083
05/79 -> 5 1 19079
06/81 -> 6 1 19081
06/95 -> 6 1 19095
5/92 -> 5 1 19092
02/94 -> 2 1 19094
05/92 -> 5 1 19092
5/92 -> 5 1 19092
5/91 -> 5 1 19091
8/89 -> 8 1 19089
6/84 -> 6 1 19084
06/92 -> 6 1 19092
5/96 -> 5 1 19096
5/93 -> 5 1 19093
9/89 -> 9 1 19089
7/86 -> 7 1 19086
5/97 -> 5 1 19097
12/94 -> 12 1 19094
6/91 -> 6 1 19091
5/89 -> 5 1 19089
12/86 -> 12 1 19086
5/70 -> 5 1 19070
5/68 -> 5 1 19068
6/90 -> 6 1 19090
5/96 -> 5 1 19096
7/89 -> 7 1 19089
7/83 -> 7 1 19083
12/93 -> 12 1 19093
06/90 -> 6 1 19090
5/98 -> 5 1 19098
12/85 -> 12 1 19085
02/84 -> 2 1 19084
07/92 -> 7 1 19092
12/96 -> 12 1 19096
06/94 -> 6 1 19094
7/90 -> 7 1 19090
5/78 -> 5 1 19078
5/73 -> 5 1 19073
5/25/84 -> 5 25 19084
7/98 -> 7 1 19098
5/86 -> 5 1 19086
5/82 -> 5 1 19082
6/82 -> 6 1 19082
6/78 -> 6 1 19078
5/90 -> 5 1 19090
6/88 -> 6 1 19088
6/90 -> 6 1 19090
6/86 -> 6 1 19086
8/84 -> 8 1 19084
5/1/92 -> 5 1 19092
8/98 -> 8 1 19098
8/82 -> 8 1 19082
5/81 -> 5 1 19081
1/89 -> 1 1 19089
5/86 -> 5 1 19086
12/22/72 -> 12 22 19072
02/88 -> 2 1 19088
07/85 -> 7 1 19085
7/92 -> 7 1 19092
7/90 -> 7 1 19090
5/87 -> 5 1 19087
6/86 -> 6 1 19086
12/90 -> 12 1 19090
07/88 -> 7 1 19088
07/85 -> 7 1 19085
8/5/99 -> 8 5 19099
11/88 -> 11 1 19088
07/82 -> 7 1 19082
5/89 -> 5 1 19089
7/86 -> 7 1 19086
09/95 -> 9 1 19095
7/97 -> 7 1 19097
7/94 -> 7 1 19094
5/25/75 -> 5 25 19075
6/9/79 -> 6 9 19079
12/2/88 -> 12 2 19088
5/77 -> 5 1 19077
5/95 -> 5 1 19095
9/93 -> 9 1 19093
5/99 -> 5 1 19099
7/88 -> 7 1 19088
2/89 -> 2 1 19089
2/87 -> 2 1 19087
12/94 -> 12 1 19094
12/86 -> 12 1 19086
5/84 -> 5 1 19084
12/92 -> 12 1 19092
06/87 -> 6 1 19087
3/90 -> 3 1 19090
3/89 -> 3 1 19089
2/93 -> 2 1 19093
05/98 -> 5 1 19098
05/95 -> 5 1 19095
12 / 97 -> 12 1 19097
07/89 -> 7 1 19089
05/92 -> 5 1 19092
05/95 -> 5 1 19095
8/93 -> 8 1 19093
5/92 -> 5 1 19092
12/72 -> 12 1 19072
6/71 -> 6 1 19071
5/92 -> 5 1 19092
07/87 -> 7 1 19087
6/96 -> 6 1 19096
03/92 -> 3 1 19092
5/90 -> 5 1 19090
07/96 -> 7 1 19096
6/90 -> 6 1 19090
6/88 -> 6 1 19088
5/89 -> 5 1 19089
12/84 -> 12 1 19084
6/81 -> 6 1 19081
3/98 -> 3 1 19098
4/97 -> 4 1 19097
06/91 -> 6 1 19091
08/97 -> 8 1 19097
12/80 -> 12 1 19080
5/95 -> 5 1 19095
6/82 -> 6 1 19082
6/80 -> 6 1 19080
11/95 -> 11 1 19095
8/93 -> 8 1 19093
5/89 -> 5 1 19089
7/78 -> 7 1 19078
7/76 -> 7 1 19076
6/79 -> 6 1 19079
7/98 -> 7 1 19098
12/94 -> 12 1 19094
4/87 -> 4 1 19087
7/84 -> 7 1 19084
05/93 -> 5 1 19093
12/90 -> 12 1 19090
12/85 -> 12 1 19085
05/85 -> 5 1 19085
5/95 -> 5 1 19095
6/93 -> 6 1 19093
1/62 -> 1 1 19062
12/94 -> 12 1 19094
6/91 -> 6 1 19091
5/77 -> 5 1 19077
12/73 -> 12 1 19073
5/92 -> 5 1 19092
5/86 -> 5 1 19086
12/95 -> 12 1 19095
05/91 -> 5 1 19091
05/91 -> 5 1 19091
01/82 -> 1 1 19082
5/74 -> 5 1 19074
9/71 -> 9 1 19071
7/87 -> 7 1 19087
07/95 -> 7 1 19095
07/91 -> 7 1 19091
6/92 -> 6 1 19092
06/92 -> 6 1 19092
07/89 -> 7 1 19089
8/73 -> 8 1 19073
8/65 -> 8 1 19065
07/99 -> 7 1 19099
8/91 -> 8 1 19091
08/92 -> 8 1 19092
6/85 -> 6 1 19085
12/75 -> 12 1 19075
6/73 -> 6 1 19073
05/97 -> 5 1 19097
07/93 -> 7 1 19093
7/98 -> 7 1 19098
12/94 -> 12 1 19094
4/87 -> 4 1 19087
7/84 -> 7 1 19084
5/92 -> 5 1 19092
12/99 -> 12 1 19099
8/91 -> 8 1 19091
8/90 -> 8 1 19090
6/93 -> 6 1 19093

5/91 -> 5 1 19091
1/96 -> 1 1 19096
5/94 -> 5 1 19094
5/91 -> 5 1 19091
5/91 -> 5 1 19091
5/86 -> 5 1 19086
4/84 -> 4 1 19084
02/85 -> 2 1 19085
05/86 -> 5 1 19086
08/93 -> 8 1 19093
8/97 -> 8 1 19097
8/98 -> 8 1 19098
06/91 -> 6 1 19091
6/93 -> 6 1 19093
6/96 -> 6 1 19096
5/95 -> 5 1 19095
5/98 -> 5 1 19098
6/74 -> 6 1 19074
6/72 -> 6 1 19072
7/96 -> 7 1 19096
77/90 -> 77 1 19090
8/90 -> 8 1 19090
12/86 -> 12 1 19086
10/16/98 -> 10 16 19098
9/90 -> 9 1 19090
5/73 -> 5 1 19073
8/81 -> 8 1 19081
7/79 -> 7 1 19079
5/81 -> 5 1 19081
2/86 -> 2 1 19086
12/96 -> 12 1 19096
6/88 -> 6 1 19088
12/98 -> 12 1 19098
9/98 -> 9 1 19098
12/84 -> 12 1 19084
5/80 -> 5 1 19080
5/77 -> 5 1 19077
5/74 -> 5 1 19074
1/54 -> 1 1 19054
08/98 -> 8 1 19098
07/84 -> 7 1 19084
7/95 -> 7 1 19095
6/95 -> 6 1 19095
8/93 -> 8 1 19093
5/91 -> 5 1 19091
12/91 -> 12 1 19091
7/86 -> 7 1 19086
12/92 -> 12 1 19092
2/98 -> 2 1 19098
5/89 -> 5 1 19089
12/97 -> 12 1 19097
6/96 -> 6 1 19096
12/98 -> 12 1 19098
09/94 -> 9 1 19094
5/91 -> 5 1 19091
1/30 -> 1 1 19030
07/99 -> 7 1 19099
05/66 -> 5 1 19066
02/97 -> 2 1 19097
12/90 -> 12 1 19090
12/90 -> 12 1 19090
07/95 -> 7 1 19095
5/86 -> 5 1 19086
9/96 -> 9 1 19096
5/98 -> 5 1 19098
8/96 -> 8 1 19096
8/93 -> 8 1 19093
9/27 -> 9 1 19027
9/27 -> 9 1 19027
1/30 -> 1 1 19030
8/96 -> 8 1 19096
7/01/96 -> 7 1 19096
6/90 -> 6 1 19090
5/93 -> 5 1 19093
06/81 -> 6 1 19081
03/77 -> 3 1 19077
12/77 -> 12 1 19077
5/74 -> 5 1 19074
06/79 -> 6 1 19079
5/84 -> 5 1 19084
7/98 -> 7 1 19098
12/94 -> 12 1 19094
4/87 -> 4 1 19087
7/84 -> 7 1 19084
05/99 -> 5 1 19099
6/95 -> 6 1 19095
5/84 -> 5 1 19084
6/80 -> 6 1 19080
10/98 -> 10 1 19098
03/95 -> 3 1 19095
5/85 -> 5 1 19085
5/82 -> 5 1 19082
6/75 -> 6 1 19075
12/97 -> 12 1 19097
5/95 -> 5 1 19095
8/97 -> 8 1 19097
02/90 -> 2 1 19090
06/86 -> 6 1 19086
2/95 -> 2 1 19095
5/89 -> 5 1 19089
8/77 -> 8 1 19077
12/95 -> 12 1 19095
5/91 -> 5 1 19091
05/96 -> 5 1 19096
05/86 -> 5 1 19086
07/84 -> 7 1 19084
8/98 -> 8 1 19098
8/81 -> 8 1 19081
6/76 -> 6 1 19076
6/74 -> 6 1 19074
3/72 -> 3 1 19072
6/79 -> 6 1 19079
5/98 -> 5 1 19098
06/96 -> 6 1 19096
07/93 -> 7 1 19093
8/93 -> 8 1 19093
6/89 -> 6 1 19089
07/16/97 -> 7 16 19097
5/88 -> 5 1 19088
5/97 -> 5 1 19097
2/97 -> 2 1 19097
05/89 -> 5 1 19089
2/90 -> 2 1 19090
07/84 -> 7 1 19084
1/89 -> 1 1 19089
7/86 -> 7 1 19086
5/81 -> 5 1 19081
5/79 -> 5 1 19079
5/86 -> 5 1 19086
3/92 -> 3 1 19092
6/95 -> 6 1 19095
6/93 -> 6 1 19093
6/99 -> 6 1 19099
5/83 -> 5 1 19083
12/91 -> 12 1 19091
10/98 -> 10 1 19098
06/94 -> 6 1 19094
06/94 -> 6 1 19094
7/86 -> 7 1 19086
04/95 -> 4 1 19095
07/92 -> 7 1 19092
5/93 -> 5 1 19093
03/09/98 -> 3 9 19098
12/87 -> 12 1 19087
12/84 -> 12 1 19084
95/96 -> 95 1 19096
01/80 -> 1 1 19080
05/71 -> 5 1 19071
05/69 -> 5 1 19069
8/90 -> 8 1 19090
6/88 -> 6 1 19088
05/89 -> 5 1 19089
3/90 -> 3 1 19090
3/90 -> 3 1 19090
01/02/64 -> 1 2 19064
08/30/99 -> 8 30 19099
06/92 -> 6 1 19092
5/89 -> 5 1 19089
5/87 -> 5 1 19087
8/97 -> 8 1 19097
12/92 -> 12 1 19092
5/99 -> 5 1 19099
07/98 -> 7 1 19098
5/11/85 -> 5 11 19085
10/98 -> 10 1 19098
6/02/91 -> 6 2 19091
5/22/88 -> 5 22 19088
6/88 -> 6 1 19088
5/86 -> 5 1 19086
12/10/99 -> 12 10 19099
5/1/92 -> 5 1 19092
12/98 -> 12 1 19098
6/93 -> 6 1 19093
07/94 -> 7 1 19094
12/99 -> 12 1 19099
12/90 -> 12 1 19090
02/99 -> 2 1 19099
8/97 -> 8 1 19097
4/87 -> 4 1 19087
6/84 -> 6 1 19084
12/83 -> 12 1 19083
7/82 -> 7 1 19082
05/98 -> 5 1 19098
2/94 -> 2 1 19094
6/89 -> 6 1 19089
09/97 -> 9 1 19097
08/95 -> 8 1 19095
1/98 -> 1 1 19098
5/96 -> 5 1 19096
5/97 -> 5 1 19097
6/93 -> 6 1 19093
05/95 -> 5 1 19095
05/93 -> 5 1 19093
12/99 -> 12 1 19099
6/93 -> 6 1 19093
5/90 -> 5 1 19090
5/98 -> 5 1 19098
4/94 -> 4 1 19094
7/92 -> 7 1 19092
5/90 -> 5 1 19090
12/98 -> 12 1 19098
6/99 -> 6 1 19099
02/93 -> 2 1 19093
02/91 -> 2 1 19091
05/96 -> 5 1 19096
1/89 -> 1 1 19089
6/98 -> 6 1 19098
4/29/95 -> 4 29 19095
6/99 -> 6 1 19099
12/82 -> 12 1 19082
5/81 -> 5 1 19081
5/92 -> 5 1 19092
6/83 -> 6 1 19083
6/99 -> 6 1 19099
5/96 -> 5 1 19096
6/88 -> 6 1 19088
06/91 -> 6 1 19091
05/92 -> 5 1 19092
2/95 -> 2 1 19095
6/92 -> 6 1 19092
5/91 -> 5 1 19091
7/65 -> 7 1 19065
6/59 -> 6 1 19059
5/98 -> 5 1 19098
9/92 -> 9 1 19092
9/88 -> 9 1 19088
06/99 -> 6 1 19099
1/84 -> 1 1 19084
05/91 -> 5 1 19091
5/99 -> 5 1 19099
12/97 -> 12 1 19097
6/91 -> 6 1 19091
9/97 -> 9 1 19097
7/91 -> 7 1 19091
5/86 -> 5 1 19086
5/96 -> 5 1 19096
5/81 -> 5 1 19081
9/30/99 -> 9 30 19099
10/97 -> 10 1 19097
5/92 -> 5 1 19092
6/89 -> 6 1 19089
8/66 -> 8 1 19066
08/84 -> 8 1 19084
09/82 -> 9 1 19082
07/88 -> 7 1 19088
07/83 -> 7 1 19083
12/96 -> 12 1 19096
6/96 -> 6 1 19096
6/96 -> 6 1 19096
2/96 -> 2 1 19096
12/91 -> 12 1 19091
6/89 -> 6 1 19089
2/95 -> 2 1 19095
9/91 -> 9 1 19091
8/87 -> 8 1 19087
7/83 -> 7 1 19083
12/90 -> 12 1 19090
5/85 -> 5 1 19085
8/86 -> 8 1 19086
12/96 -> 12 1 19096
03/94 -> 3 1 19094
5/97 -> 5 1 19097
5/97 -> 5 1 19097
12/99 -> 12 1 19099
12/97 -> 12 1 19097
04/99 -> 4 1 19099
05/99 -> 5 1 19099
6/91 -> 6 1 19091
8/99 -> 8 1 19099
6/92 -> 6 1 19092
06/83 -> 6 1 19083
6/96 -> 6 1 19096
12/84 -> 12 1 19084
5/98 -> 5 1 19098
8/97 -> 8 1 19097
3/94 -> 3 1 19094
6/92 -> 6 1 19092
6/91 -> 6 1 19091
12/88 -> 12 1 19088
08/87 -> 8 1 19087
6/95 -> 6 1 19095
6/92 -> 6 1 19092
12/93 -> 12 1 19093
06/99 -> 6 1 19099
06/91 -> 6 1 19091
5/86 -> 5 1 19086
5/90 -> 5 1 19090
3/97 -> 3 1 19097
4/96 -> 4 1 19096
5/96 -> 5 1 19096
10/98 -> 10 1 19098
5/95 -> 5 1 19095
8/72 -> 8 1 19072
5/95 -> 5 1 19095
6/91 -> 6 1 19091
12/88 -> 12 1 19088
6/86 -> 6 1 19086
9/88 -> 9 1 19088
12/67 -> 12 1 19067
05/98 -> 5 1 19098
12/98 -> 12 1 19098
6/85 -> 6 1 19085
9/81 -> 9 1 19081
6/96 -> 6 1 19096
8/95 -> 8 1 19095
8/91 -> 8 1 19091
5/87 -> 5 1 19087
12/89 -> 12 1 19089
08/200005/2001 -> 8 200005 2001
03/199202/1994 -> 3 199202 1994
03/198802/1992 -> 3 198802 1992
2/90 -> 2 1 19090
12/99 -> 12 1 19099
05/97 -> 5 1 19097
05/83 -> 5 1 19083
05/79 -> 5 1 19079
12/97 -> 12 1 19097
6/91 -> 6 1 19091
5/6/95 -> 5 6 19095
6/86 -> 6 1 19086
8/82 -> 8 1 19082
12/80 -> 12 1 19080
09/87 -> 9 1 19087
12/90 -> 12 1 19090
05/84 -> 5 1 19084
6/86 -> 6 1 19086
12/96 -> 12 1 19096
05/95 -> 5 1 19095
05/94 -> 5 1 19094
9/92 -> 9 1 19092
6/85 -> 6 1 19085
1/82 -> 1 1 19082
8/92 -> 8 1 19092
2/92 -> 2 1 19092
3/93 -> 3 1 19093
8/97 -> 8 1 19097
12/80 -> 12 1 19080
06/99 -> 6 1 19099
12/86 -> 12 1 19086
12/80 -> 12 1 19080
5/82 -> 5 1 19082
07/97 -> 7 1 19097
07/94 -> 7 1 19094
6/88 -> 6 1 19088
5/86 -> 5 1 19086
5/74 -> 5 1 19074
8/82 -> 8 1 19082
10/97 -> 10 1 19097
10/97 -> 10 1 19097
12/98 -> 12 1 19098
5/94 -> 5 1 19094
5/88 -> 5 1 19088
5/84 -> 5 1 19084
5/99 -> 5 1 19099
5/95 -> 5 1 19095
06/18/99 -> 6 18 19099
11/99 -> 11 1 19099
9/97 -> 9 1 19097
9/96 -> 9 1 19096
04/91 -> 4 1 19091
10/98 -> 10 1 19098
06/91 -> 6 1 19091
06/89 -> 6 1 19089
12/98 -> 12 1 19098
12/94 -> 12 1 19094
12/96 -> 12 1 19096
12/98 -> 12 1 19098
07/95 -> 7 1 19095
12/97 -> 12 1 19097
7/95 -> 7 1 19095
12/94 -> 12 1 19094
7/86 -> 7 1 19086
12/95 -> 12 1 19095
3/95 -> 3 1 19095
1/93 -> 1 1 19093
5/84 -> 5 1 19084
8/87 -> 8 1 19087
5/84 -> 5 1 19084
07/98 -> 7 1 19098
07/95 -> 7 1 19095
1/87 -> 1 1 19087
5/91 -> 5 1 19091
9/89 -> 9 1 19089
1/30 -> 1 1 19030
2/51 -> 2 1 19051
11/83 -> 11 1 19083
05/99 -> 5 1 19099
09/98 -> 9 1 19098
01/98 -> 1 1 19098
5/97 -> 5 1 19097
8/90 -> 8 1 19090
05/95 -> 5 1 19095
05/90 -> 5 1 19090
08/98 -> 8 1 19098
06/92 -> 6 1 19092
12/96 -> 12 1 19096
5/94 -> 5 1 19094
5/89 -> 5 1 19089
07/86 -> 7 1 19086
07/83 -> 7 1 19083
12/98 -> 12 1 19098
12/78 -> 12 1 19078
8/94 -> 8 1 19094
8/84 -> 8 1 19084
8/82 -> 8 1 19082
5/76 -> 5 1 19076
1/61 -> 1 1 19061
5/86 -> 5 1 19086
8/97 -> 8 1 19097
5/89 -> 5 1 19089
5/98 -> 5 1 19098
6/73 -> 6 1 19073
8/1/83 -> 8 1 19083
12/85 -> 12 1 19085
07/96 -> 7 1 19096
4/86 -> 4 1 19086
6/94 -> 6 1 19094
09/87 -> 9 1 19087
09/83 -> 9 1 19083
07/97 -> 7 1 19097
07/91 -> 7 1 19091
08/97 -> 8 1 19097
05/89 -> 5 1 19089
12/86 -> 12 1 19086
12/80 -> 12 1 19080
9/88 -> 9 1 19088
8/97 -> 8 1 19097
97/98 -> 97 1 19098
7/95 -> 7 1 19095
9/98 -> 9 1 19098
12/84 -> 12 1 19084
5/80 -> 5 1 19080
6/85 -> 6 1 19085
12/93 -> 12 1 19093
08/96 -> 8 1 19096
12/95 -> 12 1 19095
5/96 -> 5 1 19096
9/91 -> 9 1 19091
6/99 -> 6 1 19099
05/98 -> 5 1 19098
12/96 -> 12 1 19096
07/95 -> 7 1 19095
3/67 -> 3 1 19067
8/64 -> 8 1 19064
8/97 -> 8 1 19097
5/65 -> 5 1 19065
12/90 -> 12 1 19090
1/89 -> 1 1 19089
12/91 -> 12 1 19091
15/30 -> 6 15 19030
06/98 -> 6 1 19098
12/99 -> 12 1 19099
5/97 -> 5 1 19097
6/77 -> 6 1 19077
6/96 -> 6 1 19096
05/82 -> 5 1 19082
05/80 -> 5 1 19080
12/89 -> 12 1 19089
06/81 -> 6 1 19081
12/19/98 -> 12 19 19098
5/79 -> 5 1 19079
12/87 -> 12 1 19087
06/85 -> 6 1 19085
06/82 -> 6 1 19082
6/82 -> 6 1 19082
3/81 -> 3 1 19081
6/85 -> 6 1 19085
8/96 -> 8 1 19096
6/91 -> 6 1 19091
6/92 -> 6 1 19092
12/82 -> 12 1 19082
5/91 -> 5 1 19091
12/79 -> 12 1 19079
5/94 -> 5 1 19094
5/79 -> 5 1 19079
05/92 -> 5 1 19092
08/88 -> 8 1 19088
51/2 -> 51 1 2002
5/85 -> 5 1 19085
12/99 -> 12 1 19099
12/98 -> 12 1 19098
12/90 -> 12 1 19090
1/27 -> 1 1 19027
06/98 -> 6 1 19098
05/99 -> 5 1 19099
05/98 -> 5 1 19098
5/87 -> 5 1 19087
1/71 -> 1 1 19071
11/98 -> 11 1 19098
11/89 -> 11 1 19089
5/84 -> 5 1 19084
05/98 -> 5 1 19098
01/00/2000 -> 1 0 2000
8/77 -> 8 1 19077
6/23/72 -> 6 23 19072
1996/97 -> 97 1 1996
1/94 -> 1 1 19094
5/90 -> 5 1 19090
5/90 -> 5 1 19090
8/81 -> 8 1 19081
8/86 -> 8 1 19086
5/87 -> 5 1 19087
5/86 -> 5 1 19086
12/91 -> 12 1 19091
12/94 -> 12 1 19094
07/92 -> 7 1 19092
9/99 -> 9 1 19099
5/92 -> 5 1 19092
5/98 -> 5 1 19098
5/94 -> 5 1 19094
3/98 -> 3 1 19098
5/83 -> 5 1 19083
12/80 -> 12 1 19080
10/94 -> 10 1 19094
5/92 -> 5 1 19092
05/85 -> 5 1 19085
5/99 -> 5 1 19099
5/97 -> 5 1 19097
5/97 -> 5 1 19097
06/99 -> 6 1 19099
12/96 -> 12 1 19096
5/87 -> 5 1 19087
11/94 -> 11 1 19094
5/86 -> 5 1 19086
6/74 -> 6 1 19074
05/78 -> 5 1 19078
4/30/88 -> 4 30 19088
03/99 -> 3 1 19099
6/98 -> 6 1 19098
5/97 -> 5 1 19097
5/96 -> 5 1 19096
6/92 -> 6 1 19092
12/99 -> 12 1 19099
11/94 -> 11 1 19094
5/86 -> 5 1 19086
5/98 -> 5 1 19098
8/94 -> 8 1 19094
8/93 -> 8 1 19093
4/82 -> 4 1 19082
09/81 -> 9 1 19081
06/81 -> 6 1 19081
08/74 -> 8 1 19074
12/83 -> 12 1 19083
8/82 -> 8 1 19082
5/89 -> 5 1 19089
11/98 -> 11 1 19098
02/98 -> 2 1 19098
11/12/98 -> 11 12 19098
07/96 -> 7 1 19096
5/98 -> 5 1 19098
5/89 -> 5 1 19089
10/99 -> 10 1 19099
6/91 -> 6 1 19091
05/94 -> 5 1 19094
12/93 -> 12 1 19093
01/99 -> 1 1 19099
07/88 -> 7 1 19088
1/95 -> 1 1 19095
5/87 -> 5 1 19087
5/72 -> 5 1 19072
5/94 -> 5 1 19094
05/89 -> 5 1 19089
12/95 -> 12 1 19095
12/92 -> 12 1 19092
5/78 -> 5 1 19078
04/98 -> 4 1 19098
6/91 -> 6 1 19091
5/89 -> 5 1 19089
05/92 -> 5 1 19092
05/99 -> 5 1 19099
06/97 -> 6 1 19097
5/92 -> 5 1 19092
6/94 -> 6 1 19094
6/67 -> 6 1 19067
5/91 -> 5 1 19091
9/89 -> 9 1 19089
5/98 -> 5 1 19098
6/75 -> 6 1 19075
12/78 -> 12 1 19078
6/97 -> 6 1 19097
6/97 -> 6 1 19097
12/90 -> 12 1 19090
9/92 -> 9 1 19092
6/84 -> 6 1 19084
5/98 -> 5 1 19098
8/81 -> 8 1 19081
7/79 -> 7 1 19079
12/98 -> 12 1 19098
8/69 -> 8 1 19069
5/86 -> 5 1 19086
5/96 -> 5 1 19096
5/78 -> 5 1 19078
1/78 -> 1 1 19078
10/93 -> 10 1 19093
1/82 -> 1 1 19082
06/99 -> 6 1 19099
5/99 -> 5 1 19099
05/87 -> 5 1 19087
05/93 -> 5 1 19093
12/90 -> 12 1 19090
07/88 -> 7 1 19088
05/98 -> 5 1 19098
5/82 -> 5 1 19082
5/86 -> 5 1 19086
5/82 -> 5 1 19082
5/95 -> 5 1 19095
5/79 -> 5 1 19079
8/92 -> 8 1 19092
6/74 -> 6 1 19074
05/78 -> 5 1 19078
6/77 -> 6 1 19077
07/96 -> 7 1 19096
06/97 -> 6 1 19097
12/94 -> 12 1 19094
05/93 -> 5 1 19093
05/89 -> 5 1 19089
6/74 -> 6 1 19074
05/78 -> 5 1 19078
5/ 97 -> 5 1 19097
5/92 -> 5 1 19092
06/95 -> 6 1 19095
5/86 -> 5 1 19086
5/99 -> 5 1 19099
8/88 -> 8 1 19088
9/79 -> 9 1 19079
5/83 -> 5 1 19083
6/97 -> 6 1 19097
5/82 -> 5 1 19082
8/92 -> 8 1 19092
9/98 -> 9 1 19098
06/98 -> 6 1 19098
06/87 -> 6 1 19087
5/91 -> 5 1 19091
03/93 -> 3 1 19093
3/97 -> 3 1 19097
12/88 -> 12 1 19088
7/82 -> 7 1 19082
05/98 -> 5 1 19098
05/99 -> 5 1 19099
09/94 -> 9 1 19094
12/93 -> 12 1 19093
5/89 -> 5 1 19089
5/88 -> 5 1 19088
11/98 -> 11 1 19098
8/83 -> 8 1 19083
5/82 -> 5 1 19082
12/89 -> 12 1 19089
06/81 -> 6 1 19081
12/98 -> 12 1 19098
08/98 -> 8 1 19098
5/80 -> 5 1 19080
5/77 -> 5 1 19077
12/99 -> 12 1 19099
12/96 -> 12 1 19096
12/98 -> 12 1 19098
12/84 -> 12 1 19084
5/98 -> 5 1 19098
12/90 -> 12 1 19090
07/99 -> 7 1 19099
2/88 -> 2 1 19088
6/76 -> 6 1 19076
6/74 -> 6 1 19074
09/87 -> 9 1 19087
06/94 -> 6 1 19094
06/91 -> 6 1 19091
12/95 -> 12 1 19095
5/93 -> 5 1 19093
12/90 -> 12 1 19090
5/88 -> 5 1 19088
6/98 -> 6 1 19098
12/99 -> 12 1 19099
07/95 -> 7 1 19095
07/92 -> 7 1 19092
05/92 -> 5 1 19092
5/7/99 -> 5 7 19099
5/95 -> 5 1 19095
5/93 -> 5 1 19093
05/97 -> 5 1 19097
05/93 -> 5 1 19093
11/70 -> 11 1 19070
5/94 -> 5 1 19094
12/89 -> 12 1 19089
8/90 -> 8 1 19090
8/87 -> 8 1 19087
5/82 -> 5 1 19082
06/99 -> 6 1 19099
5/91 -> 5 1 19091
9/91 -> 9 1 19091
5/97 -> 5 1 19097
8/94 -> 8 1 19094
6/81 -> 6 1 19081
6/94 -> 6 1 19094
12/98 -> 12 1 19098
5/97 -> 5 1 19097
5/98 -> 5 1 19098
08/91 -> 8 1 19091
05/76 -> 5 1 19076
1/87 -> 1 1 19087
12/09/98 -> 12 9 19098
5/98 -> 5 1 19098
5/93 -> 5 1 19093
5/67 -> 5 1 19067
5/90 -> 5 1 19090
12/81 -> 12 1 19081
5/79 -> 5 1 19079
5/96 -> 5 1 19096
5/90 -> 5 1 19090
5/88 -> 5 1 19088
1/81 -> 1 1 19081
6/89 -> 6 1 19089
9/91 -> 9 1 19091
6/74 -> 6 1 19074
05/78 -> 5 1 19078
12/95 -> 12 1 19095
12/98 -> 12 1 19098
06/87 -> 6 1 19087
08/76 -> 8 1 19076
03/85 -> 3 1 19085
05/94 -> 5 1 19094
12/85 -> 12 1 19085
6/79 -> 6 1 19079
6/98 -> 6 1 19098
06/94 -> 6 1 19094
12/92 -> 12 1 19092
1/98 -> 1 1 19098
1/71 -> 1 1 19071
5/91 -> 5 1 19091
5/86 -> 5 1 19086
06/89 -> 6 1 19089
6/92 -> 6 1 19092
6/98 -> 6 1 19098
5/98 -> 5 1 19098
02/02/97 -> 2 2 19097
10/98 -> 10 1 19098
05/92 -> 5 1 19092
8/98 -> 8 1 19098
1/96 -> 1 1 19096
12/96 -> 12 1 19096
8/90 -> 8 1 19090
2/79 -> 2 1 19079
6/72 -> 6 1 19072
1/71 -> 1 1 19071
12/93 -> 12 1 19093
05/98 -> 5 1 19098
12/98 -> 12 1 19098
1/77 -> 1 1 19077
08/96 -> 8 1 19096
08/93 -> 8 1 19093
05/89 -> 5 1 19089
5/21/93 -> 5 21 19093
5/21/90 -> 5 21 19090
07/99 -> 7 1 19099
07/99 -> 7 1 19099
10/98 -> 10 1 19098
2/51 -> 2 1 19051
5/94 -> 5 1 19094
8/92 -> 8 1 19092
12/75 -> 12 1 19075
5/67 -> 5 1 19067
5/98 -> 5 1 19098
5/86 -> 5 1 19086
12/80 -> 12 1 19080
07/96 -> 7 1 19096
06/93 -> 6 1 19093
07/96 -> 7 1 19096
06/93 -> 6 1 19093
2/92 -> 2 1 19092
1/89 -> 1 1 19089
07/94 -> 7 1 19094
07/91 -> 7 1 19091
5/94 -> 5 1 19094
11/12/98 -> 11 12 19098
07/96 -> 7 1 19096
5/14/97 -> 5 14 19097
5/67 -> 5 1 19067
6/87 -> 6 1 19087
6/79 -> 6 1 19079
06/95 -> 6 1 19095
06/94 -> 6 1 19094
06/92 -> 6 1 19092
07/97 -> 7 1 19097
05/92 -> 5 1 19092
03/85 -> 3 1 19085
02/82 -> 2 1 19082
6/99 -> 6 1 19099
6/96 -> 6 1 19096
6/93 -> 6 1 19093
12/96 -> 12 1 19096
12/94 -> 12 1 19094
12/99 -> 12 1 19099
07/97 -> 7 1 19097
07/94 -> 7 1 19094
8/84 -> 8 1 19084
1/78 -> 1 1 19078
5/96 -> 5 1 19096
3/92 -> 3 1 19092
9/94 -> 9 1 19094
2/82 -> 2 1 19082
04/89 -> 4 1 19089
12/85 -> 12 1 19085
07/96 -> 7 1 19096
06/93 -> 6 1 19093
9/88 -> 9 1 19088
6/98 -> 6 1 19098
6/96 -> 6 1 19096
6/96 -> 6 1 19096

5/99 -> 5 1 19099
05/97 -> 5 1 19097
5/82 -> 5 1 19082
5/80 -> 5 1 19080
03/99 -> 3 1 19099
07/96 -> 7 1 19096
5/77 -> 5 1 19077
6/99 -> 6 1 19099
6/93 -> 6 1 19093
6/97 -> 6 1 19097
7/95 -> 7 1 19095
5/83 -> 5 1 19083
5/81 -> 5 1 19081
12/86 -> 12 1 19086
5/85 -> 5 1 19085
10/1/96 -> 10 1 19096
05/87 -> 5 1 19087
05/85 -> 5 1 19085
12/95 -> 12 1 19095
07/98 -> 7 1 19098
07/95 -> 7 1 19095
03/90 -> 3 1 19090
08/87 -> 8 1 19087
5/94 -> 5 1 19094
5/91 -> 5 1 19091
5/91 -> 5 1 19091
12/84 -> 12 1 19084
12/90 -> 12 1 19090
6/73 -> 6 1 19073
6/99 -> 6 1 19099
12/99 -> 12 1 19099
5/98 -> 5 1 19098
5/94 -> 5 1 19094
1/74 -> 1 1 19074
5/94 -> 5 1 19094
12/94 -> 12 1 19094
8/82 -> 8 1 19082
5/81 -> 5 1 19081
12/93 -> 12 1 19093
6/71 -> 6 1 19071
12/93 -> 12 1 19093
2/97 -> 2 1 19097
12/84 -> 12 1 19084
12/81 -> 12 1 19081
12/98 -> 12 1 19098
06/92 -> 6 1 19092
6/71 -> 6 1 19071
05/98 -> 5 1 19098
6/96 -> 6 1 19096
12/93 -> 12 1 19093
12/94 -> 12 1 19094
12/97 -> 12 1 19097
5/94 -> 5 1 19094
10/78 -> 10 1 19078
10/98 -> 10 1 19098
5/85 -> 5 1 19085
01/98 -> 1 1 19098
06/95 -> 6 1 19095
5/97 -> 5 1 19097
5/95 -> 5 1 19095
10/97 -> 10 1 19097
10/98 -> 10 1 19098
4/98 -> 4 1 19098
2/98 -> 2 1 19098
11/97 -> 11 1 19097
12/96 -> 12 1 19096
10/96 -> 10 1 19096
5/91 -> 5 1 19091
12/97 -> 12 1 19097
12/98 -> 12 1 19098
5/86 -> 5 1 19086
6/97 -> 6 1 19097
12/94 -> 12 1 19094
5/83 -> 5 1 19083
6/74 -> 6 1 19074
5/98 -> 5 1 19098
1/95 -> 1 1 19095
12/83 -> 12 1 19083
6/74 -> 6 1 19074
12/91 -> 12 1 19091
5/90 -> 5 1 19090
6/95 -> 6 1 19095
08/98 -> 8 1 19098
08/96 -> 8 1 19096
6/99 -> 6 1 19099
5/99 -> 5 1 19099
5/82 -> 5 1 19082
6/89 -> 6 1 19089
5/99 -> 5 1 19099
5/95 -> 5 1 19095
12/87 -> 12 1 19087
10/91 -> 10 1 19091
5/97 -> 5 1 19097
8/99 -> 8 1 19099
5/92 -> 5 1 19092
6/90 -> 6 1 19090
6/94 -> 6 1 19094
06/92 -> 6 1 19092
06/84 -> 6 1 19084
6/15/96 -> 6 15 19096
6/1/71 -> 6 1 19071
6/1/70 -> 6 1 19070
09/92 -> 9 1 19092
12/98 -> 12 1 19098
2/80 -> 2 1 19080
9/98 -> 9 1 19098
12/84 -> 12 1 19084
5/80 -> 5 1 19080
12/96 -> 12 1 19096
06/92 -> 6 1 19092
12/99 -> 12 1 19099
12/98 -> 12 1 19098
5/96 -> 5 1 19096
12/87 -> 12 1 19087
5/88 -> 5 1 19088
4/89 -> 4 1 19089
8/83 -> 8 1 19083
7/93 -> 7 1 19093
08/99 -> 8 1 19099
08/99 -> 8 1 19099
1/93 -> 1 1 19093
5/87 -> 5 1 19087
04/99 -> 4 1 19099
5/92 -> 5 1 19092
12/88 -> 12 1 19088
6/75 -> 6 1 19075
5/74 -> 5 1 19074
05/93 -> 5 1 19093
5/97 -> 5 1 19097
5/96 -> 5 1 19096
6/66 -> 6 1 19066
6/70 -> 6 1 19070
5/82 -> 5 1 19082
3/27/80 -> 3 27 19080
12/21/79 -> 12 21 19079
5/80 -> 5 1 19080
6/27/70 -> 6 27 19070
6/87 -> 6 1 19087
12/99 -> 12 1 19099
05/91 -> 5 1 19091
5/90 -> 5 1 19090
8/99 -> 8 1 19099
6/75 -> 6 1 19075
6/71 -> 6 1 19071
8/70 -> 8 1 19070
6/69 -> 6 1 19069
01/14/82 -> 1 14 19082
05/31/80 -> 5 31 19080
12/90 -> 12 1 19090
9/91 -> 9 1 19091
9/87 -> 9 1 19087
05/85 -> 5 1 19085
5/99 -> 5 1 19099
5/85 -> 5 1 19085
8/82 -> 8 1 19082
03/85 -> 3 1 19085
5/99 -> 5 1 19099
01/97 -> 1 1 19097
06/93 -> 6 1 19093
05/89 -> 5 1 19089
72/02 -> 72 1 2002
6/82 -> 6 1 19082
5/89 -> 5 1 19089
06/89 -> 6 1 19089
1/98 -> 1 1 19098
5/80 -> 5 1 19080
5/89 -> 5 1 19089
5/98 -> 5 1 19098
10/92 -> 10 1 19092
1996/97 -> 97 1 1996
6/95 -> 6 1 19095
5/78 -> 5 1 19078
2/6/97 -> 2 6 19097
8/93 -> 8 1 19093
6/83 -> 6 1 19083
5/73 -> 5 1 19073
12/80 -> 12 1 19080
8/81 -> 8 1 19081
6/92 -> 6 1 19092
5/95 -> 5 1 19095
1/80 -> 1 1 19080
5/76 -> 5 1 19076
5/91 -> 5 1 19091
5/86 -> 5 1 19086
4/84 -> 4 1 19084
6/88 -> 6 1 19088
6/85 -> 6 1 19085
12/90 -> 12 1 19090
05/84 -> 5 1 19084
12/90 -> 12 1 19090
05/84 -> 5 1 19084
12/98 -> 12 1 19098
05/95 -> 5 1 19095
5/94 -> 5 1 19094
03/99 -> 3 1 19099
12/96 -> 12 1 19096
5/99 -> 5 1 19099
5/98 -> 5 1 19098
5/90 -> 5 1 19090
9/94 -> 9 1 19094
9/92 -> 9 1 19092
5/94 -> 5 1 19094
5/90 -> 5 1 19090
11/90 -> 11 1 19090
8/97 -> 8 1 19097
8/97 -> 8 1 19097
5/99 -> 5 1 19099
06/99 -> 6 1 19099
12/95 -> 12 1 19095
10/96 -> 10 1 19096
12/86 -> 12 1 19086
05/12/99 -> 5 12 19099
05/92 -> 5 1 19092
01/90 -> 1 1 19090
01/87 -> 1 1 19087
8/97 -> 8 1 19097
7/95 -> 7 1 19095
5/99 -> 5 1 19099
12/87 -> 12 1 19087
6/85 -> 6 1 19085
04/99 -> 4 1 19099
09/94 -> 9 1 19094
10/97 -> 10 1 19097
8/97 -> 8 1 19097
5/94 -> 5 1 19094
6/85 -> 6 1 19085
2/78 -> 2 1 19078
1996/97 -> 97 1 1996
05/99 -> 5 1 19099
01/94 -> 1 1 19094
07/90 -> 7 1 19090
03/99 -> 3 1 19099
11/97 -> 11 1 19097
06/96 -> 6 1 19096
05/93 -> 5 1 19093
07/90 -> 7 1 19090
6/85 -> 6 1 19085
6/82 -> 6 1 19082
12/94 -> 12 1 19094
06/87 -> 6 1 19087
12/96 -> 12 1 19096
6/98 -> 6 1 19098
9/93 -> 9 1 19093
5/95 -> 5 1 19095
07/91 -> 7 1 19091
07/88 -> 7 1 19088
03/91 -> 3 1 19091
12/96 -> 12 1 19096
06/93 -> 6 1 19093
11/82 -> 11 1 19082
5/96 -> 5 1 19096
7/89 -> 7 1 19089
7/83 -> 7 1 19083
05/95 -> 5 1 19095
9/93 -> 9 1 19093
6/90 -> 6 1 19090
5/87 -> 5 1 19087
9/91 -> 9 1 19091
12/87 -> 12 1 19087
5/97 -> 5 1 19097
2/51 -> 2 1 19051
06/92 -> 6 1 19092
12/86 -> 12 1 19086
05/83 -> 5 1 19083
5/92 -> 5 1 19092
05/99 -> 5 1 19099
11/82 -> 11 1 19082
05/96 -> 5 1 19096
2/27 -> 2 1 19027
1/90 -> 1 1 19090
5/82 -> 5 1 19082
12/73 -> 12 1 19073
5/72 -> 5 1 19072
6/98 -> 6 1 19098
6/70 -> 6 1 19070
6/76 -> 6 1 19076
1/81 -> 1 1 19081
12/98 -> 12 1 19098
6/84 -> 6 1 19084
6/84 -> 6 1 19084
8/85 -> 8 1 19085
4/84 -> 4 1 19084
9/96 -> 9 1 19096
5/83 -> 5 1 19083
6/74 -> 6 1 19074
6/79 -> 6 1 19079
04/99 -> 4 1 19099
9/99 -> 9 1 19099
6/94 -> 6 1 19094
8/95 -> 8 1 19095
12/93 -> 12 1 19093
7/94 -> 7 1 19094
8/92 -> 8 1 19092
12/95 -> 12 1 19095
8/89 -> 8 1 19089
12/86 -> 12 1 19086
05/83 -> 5 1 19083
12/80 -> 12 1 19080
8/93 -> 8 1 19093
5/91 -> 5 1 19091
8/31/79 -> 8 31 19079
5/93 -> 5 1 19093
9/98 -> 9 1 19098
12/84 -> 12 1 19084
5/80 -> 5 1 19080
6/94 -> 6 1 19094
6/90 -> 6 1 19090
12/98 -> 12 1 19098
12/90 -> 12 1 19090
8/93 -> 8 1 19093
06/80 -> 6 1 19080
03/76 -> 3 1 19076
2/53 -> 2 1 19053
5/96 -> 5 1 19096
5/90 -> 5 1 19090
12/81 -> 12 1 19081
5/98 -> 5 1 19098
6/96 -> 6 1 19096
1/93 -> 1 1 19093
6/93 -> 6 1 19093
12/94 -> 12 1 19094
8/93 -> 8 1 19093
12/89 -> 12 1 19089
5/93 -> 5 1 19093
5/94 -> 5 1 19094
6/93 -> 6 1 19093
5/84 -> 5 1 19084
5/80 -> 5 1 19080
05/94 -> 5 1 19094
01/98 -> 1 1 19098
09/30 -> 9 1 19030
9/80 -> 9 1 19080
6/86 -> 6 1 19086
6/84 -> 6 1 19084
9/98 -> 9 1 19098
6/90 -> 6 1 19090
6/85 -> 6 1 19085
6/74 -> 6 1 19074
6/72 -> 6 1 19072
08/98 -> 8 1 19098
12/96 -> 12 1 19096
06/93 -> 6 1 19093
8/92 -> 8 1 19092
5/92 -> 5 1 19092
5/89 -> 5 1 19089
5/96 -> 5 1 19096
1/94 -> 1 1 19094
09/90 -> 9 1 19090
05/93 -> 5 1 19093
5/84 -> 5 1 19084
5/81 -> 5 1 19081
5/98 -> 5 1 19098
11/85 -> 11 1 19085
12/84 -> 12 1 19084
12/81 -> 12 1 19081
9/97 -> 9 1 19097
6/91 -> 6 1 19091
09/90 -> 9 1 19090
5/91 -> 5 1 19091
06/90 -> 6 1 19090
06/87 -> 6 1 19087
5/77 -> 5 1 19077
12/87 -> 12 1 19087
5/86 -> 5 1 19086
5/93 -> 5 1 19093
5/91 -> 5 1 19091
03/95 -> 3 1 19095
07/92 -> 7 1 19092
6/66 -> 6 1 19066
12/83 -> 12 1 19083
67/70 -> 67 1 19070
08/85 -> 8 1 19085
12/77 -> 12 1 19077
12/75 -> 12 1 19075
6/97 -> 6 1 19097
5/91 -> 5 1 19091
06/80 -> 6 1 19080
12/95 -> 12 1 19095
05/03/97 -> 5 3 19097
05/09/92 -> 5 9 19092
8/73 -> 8 1 19073
5/71 -> 5 1 19071
5/97 -> 5 1 19097
8/91 -> 8 1 19091
6/89 -> 6 1 19089
03/85 -> 3 1 19085
5/97 -> 5 1 19097
05/79 -> 5 1 19079
2/97 -> 2 1 19097
04/89 -> 4 1 19089
12/85 -> 12 1 19085
03/93 -> 3 1 19093
12/97 -> 12 1 19097
10/90 -> 10 1 19090
5/89 -> 5 1 19089
5/86 -> 5 1 19086
9/98 -> 9 1 19098
04/96 -> 4 1 19096
12/99 -> 12 1 19099
5/98 -> 5 1 19098
5/85 -> 5 1 19085
12/99 -> 12 1 19099
07/97 -> 7 1 19097
07/94 -> 7 1 19094
5/4/75 -> 5 4 19075
12/88 -> 12 1 19088
5/87 -> 5 1 19087
5/85 -> 5 1 19085
5/7/94 -> 5 7 19094
12/14/77 -> 12 14 19077
5/7/94 -> 5 7 19094
12/99 -> 12 1 19099
01/94 -> 1 1 19094
6/96 -> 6 1 19096
5/92 -> 5 1 19092
5/90 -> 5 1 19090
07/94 -> 7 1 19094
06/90 -> 6 1 19090
5/79 -> 5 1 19079
04/89 -> 4 1 19089
12/85 -> 12 1 19085
6/84 -> 6 1 19084
6/84 -> 6 1 19084
11/99 -> 11 1 19099
5/82 -> 5 1 19082
10/97 -> 10 1 19097
10/97 -> 10 1 19097
1/53 -> 1 1 19053
5/98 -> 5 1 19098
8/95 -> 8 1 19095
5/93 -> 5 1 19093
05/96 -> 5 1 19096
08/93 -> 8 1 19093
03/74 -> 3 1 19074
06/72 -> 6 1 19072
2/51 -> 2 1 19051
6/88 -> 6 1 19088
5/86 -> 5 1 19086
06/73 -> 6 1 19073
1/98 -> 1 1 19098
12/90 -> 12 1 19090
1/86 -> 1 1 19086
6/78 -> 6 1 19078
07/98 -> 7 1 19098
07/97 -> 7 1 19097
05/99 -> 5 1 19099
05/97 -> 5 1 19097
05/88 -> 5 1 19088
4/99 -> 4 1 19099
10/97 -> 10 1 19097
3/96 -> 3 1 19096
2/96 -> 2 1 19096
10/95 -> 10 1 19095
5/95 -> 5 1 19095

5/95 -> 5 1 19095
2/95 -> 2 1 19095
8/28/98 -> 8 28 19098
5/8/92 -> 5 8 19092
9/80 -> 9 1 19080
9/91 -> 9 1 19091
07/98 -> 7 1 19098
07/97 -> 7 1 19097
09/90 -> 9 1 19090
8/97 -> 8 1 19097
05/95 -> 5 1 19095
5/99 -> 5 1 19099
5/97 -> 5 1 19097
6/73 -> 6 1 19073
2/94 -> 2 1 19094
6/66 -> 6 1 19066
6/87 -> 6 1 19087
05/90 -> 5 1 19090
04/87 -> 4 1 19087
01/99 -> 1 1 19099
1/86 -> 1 1 19086
9/82 -> 9 1 19082
9/81 -> 9 1 19081
9/77 -> 9 1 19077
6/86 -> 6 1 19086
6/84 -> 6 1 19084
6/86 -> 6 1 19086
6/84 -> 6 1 19084
12/90 -> 12 1 19090
6/98 -> 6 1 19098
5/83 -> 5 1 19083
5/97 -> 5 1 19097
5/73 -> 5 1 19073
8/88 -> 8 1 19088
5/84 -> 5 1 19084
12/83 -> 12 1 19083
5/86 -> 5 1 19086
12/83 -> 12 1 19083
12/97 -> 12 1 19097
5/93 -> 5 1 19093
6/99 -> 6 1 19099
10/79 -> 10 1 19079
6/77 -> 6 1 19077
5/87 -> 5 1 19087
6/83 -> 6 1 19083
08/99 -> 8 1 19099
12/09/98 -> 12 9 19098
1/80 -> 1 1 19080
5/30 -> 5 1 19030
06/92 -> 6 1 19092
05/89 -> 5 1 19089
2/51 -> 2 1 19051
5/97 -> 5 1 19097
1/82 -> 1 1 19082
11/82 -> 11 1 19082
07/98 -> 7 1 19098
5/97 -> 5 1 19097
02/91 -> 2 1 19091
5/93 -> 5 1 19093
12/79 -> 12 1 19079
05/86 -> 5 1 19086
06/90 -> 6 1 19090
12/94 -> 12 1 19094
6/91 -> 6 1 19091
12/83 -> 12 1 19083
01/14/82 -> 1 14 19082
05/31/80 -> 5 31 19080
08/92 -> 8 1 19092
12/84 -> 12 1 19084
5/96 -> 5 1 19096
5/93 -> 5 1 19093
5/90 -> 5 1 19090
5/82 -> 5 1 19082
6/81 -> 6 1 19081
10/93 -> 10 1 19093
5/98 -> 5 1 19098
5/90 -> 5 1 19090
5/83 -> 5 1 19083
5/92 -> 5 1 19092
05/91 -> 5 1 19091
6/86 -> 6 1 19086
6/84 -> 6 1 19084
5/92 -> 5 1 19092
6/87 -> 6 1 19087
9/84 -> 9 1 19084
12/97 -> 12 1 19097
12/81 -> 12 1 19081
5/99 -> 5 1 19099
9/84 -> 9 1 19084
08/99 -> 8 1 19099
12/16/87 -> 12 16 19087
05/87 -> 5 1 19087
12/97 -> 12 1 19097
2/61 -> 2 1 19061
05/85 -> 5 1 19085
07/26/94 -> 7 26 19094
08/92 -> 8 1 19092
12/84 -> 12 1 19084
6/96 -> 6 1 19096
1/74 -> 1 1 19074
5/62 -> 5 1 19062
2/51 -> 2 1 19051
9/93 -> 9 1 19093
5/89 -> 5 1 19089
12/31 -> 12 1 19031
9/98 -> 9 1 19098
12/84 -> 12 1 19084
5/80 -> 5 1 19080
05/91 -> 5 1 19091
3/97 -> 3 1 19097
6/74 -> 6 1 19074
6/79 -> 6 1 19079
08/89 -> 8 1 19089
6/84 -> 6 1 19084
6/82 -> 6 1 19082
10/96 -> 10 1 19096
8/95 -> 8 1 19095
9/91 -> 9 1 19091
5/98 -> 5 1 19098
5/86 -> 5 1 19086
12/99 -> 12 1 19099
07/97 -> 7 1 19097
07/94 -> 7 1 19094
10/21/97 -> 10 21 19097
08/10/94 -> 8 10 19094
8/99 -> 8 1 19099
6/87 -> 6 1 19087
6/97 -> 6 1 19097
6/70 -> 6 1 19070
5/96 -> 5 1 19096
8/95 -> 8 1 19095
07/87 -> 7 1 19087
6/94 -> 6 1 19094
12/97 -> 12 1 19097
1/86 -> 1 1 19086
6/78 -> 6 1 19078
6/82 -> 6 1 19082
6/71 -> 6 1 19071
5/82 -> 5 1 19082
6/78 -> 6 1 19078
6/77 -> 6 1 19077
12/81 -> 12 1 19081
5/98 -> 5 1 19098
8/86 -> 8 1 19086
8/97 -> 8 1 19097
09/199407/1997 -> 9 199407 1997
09/199007/1994 -> 9 199007 1994
07/97 -> 7 1 19097
6/83 -> 6 1 19083
12/95 -> 12 1 19095
5/92 -> 5 1 19092
5/99 -> 5 1 19099
8/94 -> 8 1 19094
11/82 -> 11 1 19082
02/30 -> 2 1 19030
05/96 -> 5 1 19096
05/94 -> 5 1 19094
5/94 -> 5 1 19094
05/95 -> 5 1 19095
5/98 -> 5 1 19098
12/94 -> 12 1 19094
6/92 -> 6 1 19092
02/96 -> 2 1 19096
4/99 -> 4 1 19099
05/94 -> 5 1 19094
05/84 -> 5 1 19084
07/99 -> 7 1 19099
1/31 -> 1 1 19031
05/96 -> 5 1 19096
07/93 -> 7 1 19093
5/93 -> 5 1 19093
12/79 -> 12 1 19079
12/90 -> 12 1 19090
05/84 -> 5 1 19084
12/87 -> 12 1 19087
12/76 -> 12 1 19076
9/92 -> 9 1 19092
6/84 -> 6 1 19084
12/99 -> 12 1 19099
5/80 -> 5 1 19080
5/77 -> 5 1 19077
5/74 -> 5 1 19074
05/24/98 -> 5 24 19098
05/26/87 -> 5 26 19087
5/22/94 -> 5 22 19094
12/27/84 -> 12 27 19084
12/89 -> 12 1 19089
04/98 -> 4 1 19098
6/86 -> 6 1 19086
2/90 -> 2 1 19090
2/90 -> 2 1 19090
12/97 -> 12 1 19097
5/85 -> 5 1 19085
1/53 -> 1 1 19053
2/28 -> 2 1 19028
5/84 -> 5 1 19084
05/97 -> 5 1 19097
8/99 -> 8 1 19099
4/96 -> 4 1 19096
12/95 -> 12 1 19095
05/95 -> 5 1 19095
05/98 -> 5 1 19098
07/92 -> 7 1 19092
11/92 -> 11 1 19092
12/80 -> 12 1 19080
05/78 -> 5 1 19078
12/97 -> 12 1 19097
5/98 -> 5 1 19098
12/94 -> 12 1 19094
6/92 -> 6 1 19092
2/96 -> 2 1 19096
2/94 -> 2 1 19094
70/70 -> 70 1 19070
7/87 -> 7 1 19087
12/97 -> 12 1 19097
6/5/74 -> 6 5 19074
8/15/72 -> 8 15 19072
5/90 -> 5 1 19090
5/98 -> 5 1 19098
31/20 -> 31 1 2020
06/97 -> 6 1 19097
09/199407/1996 -> 9 199407 1996
09/199007/1994 -> 9 199007 1994
01/94 -> 1 1 19094
05/90 -> 5 1 19090
1/88 -> 1 1 19088
02/86 -> 2 1 19086
05/89 -> 5 1 19089
05/87 -> 5 1 19087
07/89 -> 7 1 19089
6/73 -> 6 1 19073
2/94 -> 2 1 19094
1/56 -> 1 1 19056
01/94 -> 1 1 19094
08/94 -> 8 1 19094
12/91 -> 12 1 19091
2/99 -> 2 1 19099
6/93 -> 6 1 19093
6/93 -> 6 1 19093
1/53 -> 1 1 19053
6/84 -> 6 1 19084
5/97 -> 5 1 19097
2/28 -> 2 1 19028
8/97 -> 8 1 19097
5/95 -> 5 1 19095
12/93 -> 12 1 19093
8/81 -> 8 1 19081
04/91 -> 4 1 19091
07/86 -> 7 1 19086
9/66 -> 9 1 19066
6/83 -> 6 1 19083
6/83 -> 6 1 19083
6/79 -> 6 1 19079
07/98 -> 7 1 19098
06/98 -> 6 1 19098
06/89 -> 6 1 19089
12/98 -> 12 1 19098
12/98 -> 12 1 19098
07/86 -> 7 1 19086
07/83 -> 7 1 19083
05/92 -> 5 1 19092
03/91 -> 3 1 19091
01/82 -> 1 1 19082
1/86 -> 1 1 19086
6/78 -> 6 1 19078
02/93 -> 2 1 19093
12/97 -> 12 1 19097
06/92 -> 6 1 19092
06/84 -> 6 1 19084
8/90 -> 8 1 19090
05/92 -> 5 1 19092
03/91 -> 3 1 19091
01/82 -> 1 1 19082
1/54 -> 1 1 19054
05/92 -> 5 1 19092
03/91 -> 3 1 19091
01/82 -> 1 1 19082
6/98 -> 6 1 19098
8/86 -> 8 1 19086
5/81 -> 5 1 19081
12/87 -> 12 1 19087
4/80 -> 4 1 19080
8/79 -> 8 1 19079
7/84 -> 7 1 19084
4/80 -> 4 1 19080
8/79 -> 8 1 19079
7/84 -> 7 1 19084
12/97 -> 12 1 19097
12/89 -> 12 1 19089
5/29/78 -> 5 29 19078
5/29/75 -> 5 29 19075
1/26 -> 1 1 19026
6/98 -> 6 1 19098
5/93 -> 5 1 19093
05/96 -> 5 1 19096
05/91 -> 5 1 19091
08/86 -> 8 1 19086
12/83 -> 12 1 19083
8/75 -> 8 1 19075
5/72 -> 5 1 19072
5/95 -> 5 1 19095
07/98 -> 7 1 19098
1/57 -> 1 1 19057
8/90 -> 8 1 19090
06/93 -> 6 1 19093
06/90 -> 6 1 19090
05/87 -> 5 1 19087
8/92 -> 8 1 19092
05/96 -> 5 1 19096
07/93 -> 7 1 19093
8/97 -> 8 1 19097
6/98 -> 6 1 19098
6/80 -> 6 1 19080
6/78 -> 6 1 19078
09/90 -> 9 1 19090
08/94 -> 8 1 19094
12/91 -> 12 1 19091
5/92 -> 5 1 19092
1/57 -> 1 1 19057
07/91 -> 7 1 19091
07/88 -> 7 1 19088
06/98 -> 6 1 19098
5/65 -> 5 1 19065
06/99 -> 6 1 19099
01/85 -> 1 1 19085
02/82 -> 2 1 19082
6/90 -> 6 1 19090
5/91 -> 5 1 19091
5/89 -> 5 1 19089
12/98 -> 12 1 19098
05/85 -> 5 1 19085
07/97 -> 7 1 19097
12/97 -> 12 1 19097
07/93 -> 7 1 19093
5/94 -> 5 1 19094
7/94 -> 7 1 19094
8/92 -> 8 1 19092
5/81 -> 5 1 19081
4/90 -> 4 1 19090
6/80 -> 6 1 19080
5/99 -> 5 1 19099
12/78 -> 12 1 19078
03/77 -> 3 1 19077
1/86 -> 1 1 19086
04/98 -> 4 1 19098
5/81 -> 5 1 19081
5/96 -> 5 1 19096
08/89 -> 8 1 19089
05/83 -> 5 1 19083
4/55 -> 4 1 19055
5/94 -> 5 1 19094
12/91 -> 12 1 19091
5/22/83 -> 5 22 19083
5/99 -> 5 1 19099
5/97 -> 5 1 19097
6/98 -> 6 1 19098
60/60 -> 60 1 19060
5/96 -> 5 1 19096
8/95 -> 8 1 19095
8/99 -> 8 1 19099
06/88 -> 6 1 19088
6/1/98 -> 6 1 19098
05/95 -> 5 1 19095
5/99 -> 5 1 19099
8/81 -> 8 1 19081
7/79 -> 7 1 19079
5/98 -> 5 1 19098
5/95 -> 5 1 19095
5/67 -> 5 1 19067
06/89 -> 6 1 19089
06/89 -> 6 1 19089
06/90 -> 6 1 19090
06/99 -> 6 1 19099
5/60 -> 5 1 19060
5/94 -> 5 1 19094
8/85 -> 8 1 19085
12/94 -> 12 1 19094
6/91 -> 6 1 19091
12/83 -> 12 1 19083
11/99 -> 11 1 19099
5/94 -> 5 1 19094
05/92 -> 5 1 19092
03/91 -> 3 1 19091
01/82 -> 1 1 19082
5/93 -> 5 1 19093
12/79 -> 12 1 19079
5/89 -> 5 1 19089
07/98 -> 7 1 19098
07/98 -> 7 1 19098
2/97 -> 2 1 19097
08/91 -> 8 1 19091
07/98 -> 7 1 19098
12/84 -> 12 1 19084
5/77 -> 5 1 19077
5/96 -> 5 1 19096
2/96 -> 2 1 19096
5/94 -> 5 1 19094
1/93 -> 1 1 19093
5/79 -> 5 1 19079
8/97 -> 8 1 19097
5/95 -> 5 1 19095
5/90 -> 5 1 19090
12/99 -> 12 1 19099
06/86 -> 6 1 19086
11/89 -> 11 1 19089
10/89 -> 10 1 19089
5/88 -> 5 1 19088
5/95 -> 5 1 19095
12/96 -> 12 1 19096
5/96 -> 5 1 19096
5/95 -> 5 1 19095
2/92 -> 2 1 19092
5/91 -> 5 1 19091
5/84 -> 5 1 19084
1/53 -> 1 1 19053
08/91 -> 8 1 19091
6/87 -> 6 1 19087
5/85 -> 5 1 19085
8/97 -> 8 1 19097
9/91 -> 9 1 19091
6/92 -> 6 1 19092
12/82 -> 12 1 19082
6/11/97 -> 6 11 19097
6/11/94 -> 6 11 19094
3/21/92 -> 3 21 19092
6/93 -> 6 1 19093
5/82 -> 5 1 19082
5/82 -> 5 1 19082
5/82 -> 5 1 19082
1/82 -> 1 1 19082
5/93 -> 5 1 19093
06/84 -> 6 1 19084
1/86 -> 1 1 19086
7/93 -> 7 1 19093
9/98 -> 9 1 19098
6/90 -> 6 1 19090
06/89 -> 6 1 19089
9/98 -> 9 1 19098
12/84 -> 12 1 19084
5/80 -> 5 1 19080
7/97 -> 7 1 19097
5/87 -> 5 1 19087
5/85 -> 5 1 19085
05/99 -> 5 1 19099
1/86 -> 1 1 19086
6/78 -> 6 1 19078
12/95 -> 12 1 19095
5/92 -> 5 1 19092
5/88 -> 5 1 19088
5/91 -> 5 1 19091
5/86 -> 5 1 19086
07/99 -> 7 1 19099
5/93 -> 5 1 19093
4/99 -> 4 1 19099
05/92 -> 5 1 19092
12/82 -> 12 1 19082
02/92 -> 2 1 19092
02/90 -> 2 1 19090
2/86 -> 2 1 19086
6/81 -> 6 1 19081
6/79 -> 6 1 19079
10/87 -> 10 1 19087
6/77 -> 6 1 19077
8/99 -> 8 1 19099
6/99 -> 6 1 19099
9/97 -> 9 1 19097
10/87 -> 10 1 19087
6/77 -> 6 1 19077
12/90 -> 12 1 19090
05/84 -> 5 1 19084
05/98 -> 5 1 19098
07/93 -> 7 1 19093
05/90 -> 5 1 19090
05/87 -> 5 1 19087
5/91 -> 5 1 19091
5/86 -> 5 1 19086
5/89 -> 5 1 19089
6/86 -> 6 1 19086
12/92 -> 12 1 19092
5/95 -> 5 1 19095
12/80 -> 12 1 19080
12/89 -> 12 1 19089
5/91 -> 5 1 19091
5/85 -> 5 1 19085
6/79 -> 6 1 19079
02/88 -> 2 1 19088
2/97 -> 2 1 19097
5/85 -> 5 1 19085
6/79 -> 6 1 19079
6/95 -> 6 1 19095
7/96 -> 7 1 19096
1/20108/2013 -> 1 20108 2013
9/20057/2009 -> 9 20057 2009
1996/97 -> 97 1 1996
1996/97 -> 97 1 1996
05/97 -> 5 1 19097
5/93 -> 5 1 19093
5/93 -> 5 1 19093
6/77 -> 6 1 19077
5/71 -> 5 1 19071
01/31 -> 1 1 19031
9/95 -> 9 1 19095
12/91 -> 12 1 19091
7/88 -> 7 1 19088
8/95 -> 8 1 19095
6/85 -> 6 1 19085
05/82 -> 5 1 19082
02/82 -> 2 1 19082
07/99 -> 7 1 19099
5/85 -> 5 1 19085
6/79 -> 6 1 19079
5/85 -> 5 1 19085
6/79 -> 6 1 19079
5/99 -> 5 1 19099
8/91 -> 8 1 19091
8/99 -> 8 1 19099
5/98 -> 5 1 19098
2/96 -> 2 1 19096
6/93 -> 6 1 19093

<ipython-input-154-0824e056c936>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w_slash['CompletionDate'] = w_slash['CompletionDateRaw'].apply(parse_slash_date)

In [144]:
w_slash[w_slash['CompletionDate'].isnull()]

,BGTResID,degreeLevel,Instituition,InstitutionCity,InstitutionState,degreePosition,DegreeType,ipeds_unit_id,major,MajorCipCode,CompletionDateRaw,GPA,ind_doc,CompletionDate
1632,5581481,21,University of Phoenix,<NA>,<NA>,1,PhD Doctor of Management,380465,Information Systems and Technology,52.1201,6./12,<NA>,1,<NA>
4966,945558,21,Temple University#School of Law,<NA>,<NA>,1,J.D,<NA>,<NA>,<NA>,May/2009,<NA>,1,<NA>
5055,951978,21,"Temple University, Beasley School of Law",<NA>,<NA>,1,J.D,<NA>,<NA>,<NA>,May/2009,<NA>,1,<NA>
6473,8317970,21,Rensselaer Polytechnic Institute,Troy,NY,1,Ph. D,194824,Polymer Chemistry,<NA>,May/August 2008,<NA>,1,<NA>
6943,5273516,21#18#16,University of Wisconsin#Technical University#Technical University#Technical University,Darmstadt#Darmstadt#Darmstadt,##,1,Ph.D#M.S#B.S,<NA>,Paper Science and Technology#Mechanical Engineering,14.1901,6/20016/2003,<NA>,1,<NA>
12142,5931264,21,Carnegie Mellon University,Pittsburgh,PA,1,PHD,211440,<NA>,<NA>,Dec/1995,<NA>,1,<NA>
12800,3772931,21,The Ohio State University,Columbus,OH,1,Doctor of Philosophy,-999,Industrial Welding and Systems Engineering#Manufacturing,14.2700;15.0614,Dec./2007,3.5,1,<NA>
13029,6505315,21,Warren National University,Cheyenne,WY,1,Ph.D,<NA>,International Business Administration,<NA>,April/2009,<NA>,1,<NA>
13891,3363030,21,Pennsylvania State University,<NA>,<NA>,1,Ph.D,-999,Computer Science and Engineering,11.0701,9/92 8/96,<NA>,1,<NA>
15234,3890216,21,Miami University,Oxford,OH,1,PhD,204024,Analytical Chemistry,40.0502,08/98*08/03,<NA>,1,<NA>
18032,977392,21,Michigan State University College of Law,East Lansing,MI,2,Juris Doctor,171100,Corporate Law,<NA>,5/2015 n5/2015,<NA>,1,<NA>
22448,3874961,21,University of Dayton (UD),<NA>,OH,1,PhD,202480,Electrical Engineering,14.0101;14.1001,December/2005,<NA>,1,<NA>
23844,2481455,21,Howard University School of Law,<NA>,WA#DC,1,J.D,<NA>,<NA>,<NA>,May/2006,<NA>,1,<NA>
27761,5392445,21#21,George Mason University,Philadelphia,PA,4,PhD#PhD,232186,Physics,40.0800,Jan/2013,<NA>,1,<NA>
30039,3472411,21,Alliant International University,San Francisco,CA,1,Ph.D#CSPP,<NA>,Clinical Psychology,42.2801;42.2899,9/00 07/2008,<NA>,1,<NA>
32047,3568891,21,Villanova University School of Law,Villanova,PA,1,JD,216597,<NA>,<NA>,5/07 n n nSpring 2007,3.58/4.0#3.23/4.0,1,<NA>
35825,5372472,21,Florida Coastal School of Law,Jacksonville,FL,1,Juris Doctor,434715,<NA>,<NA>,May/2009,3.02,1,<NA>
45164,3373510,21,Villanova University School of Law,Villanova,PA,1,JD,216597,<NA>,<NA>,5/07 n n nSpring 2007,3.58/4.0#3.23/4.0,1,<NA>
47138,9388520,21,University of Central Florida,Orlando,FL,1,PhD,439525,Electrical Engineering,14.0101;14.1001,April/Summer 2008,3.91,1,<NA>
48171,3603469,21,Far Eastern University,Quezon City,<NA>,1,Doctorate#Doctor of Medicine,212133,<NA>,<NA>,April / 2001,<NA>,1,<NA>
49069,5717887,21,University of Technology,<NA>,<NA>,1,Ph.D,<NA>,Chemical Engineering,<NA>,Feb/2011,<NA>,1,<NA>
53852,5758712,21,Philadelphia Bible College & Seminary..........,Baltimore,MD,1,Doctorate of Theology,<NA>,<NA>,<NA>,6/11/2011 ............................,<NA>,1,<NA>
54441,8719230,21,University of Dayton,Dayton,OH,1,Ph.D,202480,Electrical Engineering,<NA>,December/1993,<NA>,1,<NA>
54824,8784766,21,Purdue University,West Lafayette,IN,1,Ph. D,-999,<NA>,<NA>,May/2008,<NA>,1,<NA>
55116,8776711,21,University of Michigan,Ann Arbor,MI,1,Ph.D,171146,Social) Psychology and Communication Studies,<NA>,January/ 2001,<NA>,1,<NA>
55670,8719172,21,University of Dayton,Dayton,OH,1,Ph.D,202480,Electrical Engineering,<NA>,December/1993,<NA>,1,<NA>
59657,8028536,21,Capella University,<NA>,<NA>,1,PHD,413413,<NA>,<NA>,Dec/2009,<NA>,1,<NA>
60170,9739224,21,Virginia Polytechnic Institute & State University (VPISU),Blacksburg,VA,1,PhD,234155,Chemical Engineering,14.0701,Summer/Fall 2006,3.97/4.0,1,<NA>
62375,12791284,16#21,Chatham College#University of Pittsburgh,<NA>,<NA>,1,B.A#J.D,<NA>,<NA>,<NA>,1996/97,<NA>,1,<NA>
62611,9764612,21,"The University of Oklahoma, OK",<NA>,<NA>,1,Ph.D,-999,Petroleum Engineering#History matching,<NA>,Aug/06,<NA>,1,<NA>
65101,8819646,21#18,University of Wisconsin-Madison\nSan Francisco Conservatory of Music,Madison#San Francisco,WI#CA,1,Doctorate of Music#Master of Music,122506,Viola Performance#Viola Performance,<NA>,5/2010 n5/2006,<NA>,1,<NA>
66381,10774553,21,University of Florida,Seoul#Los Angeles,#,1,Ph.D,134130,<NA>,<NA>,Spring/Summer 1999,<NA>,1,<NA>
67377,9264376,21,The University of North Carolina at Chapel Hill\nSchool of Education,Ithaca,NY,3,Doctor of Philosophy,199120,"Health Services and Outcomes Research, Healthcare Policy, and Management",<NA>,May/1995,<NA>,1,<NA>
67790,10790675,21,Purdue University,Lafayette,IN,1,PhD,-999,Nuclear Engineering,14.0101,May/August 2000,3.85 / 4.0,1,<NA>
68089,1412486,21,Temple University,Philadelphia,PA,1,Ph.D,216339,Pharmaceutics,<NA>,August/2009,<NA>,1,<NA>
73455,2609989,21,"Charite \nUniversity, Benjamin Franklin Medical Center",Berlin,<NA>,1,Doctor of Philosophy (Ph.D),<NA>,Pharmacology and Toxicology,26.1001;26.1004,June/2007,<NA>,1,<NA>
74398,11435686,21,University of North Carolina,Charlotte#Charlotte,#NC,1,Ph.D,199157,Electrical and Computer Engineering#Electrical Engineering,14.0900;14.1001#14.0101;14.1001,May/2003,<NA>,1,<NA>
77253,9220691,21,Present Lawrence Technological University#University of Michigan,<NA>,<NA>,1,Doctorate,<NA>,Manufacturing System Engineering,<NA>,09/2009 n n04/1998,<NA>,1,<NA>
78946,10846505,21,The University of Michigan,Ann Arbor,MI,1,Ph.D,<NA>,Industrial and Operations Engineering#Operations Engineering,<NA>,5/96 10/99,8.33 / 8.00,1,<NA>
80018,9841830,21,Widener Law,Wilmington,DE,1,Juris Doctor,-999,<NA>,<NA>,May/2005,<NA>,1,<NA>
81899,7998673,21,Arizona State University,Tempe,AZ,1,Ph.D#Higher Education,-999,Educational Leadership and Policy Studies,<NA>,May/2008,<NA>,1,<NA>
82778,13532084,21,City \nUniversity of New York,<NA>,<NA>,3,Ph.D,<NA>,Microbiology,26.0502,February/98,<NA>,1,<NA>
84455,13555943,21,UNIVERSITY OF NOTRE DAME,Dame,IN,1,Ph.D Chemical Eng,152080,<NA>,<NA>,5 / n2002,3.8,1,<NA>
84551,11996537,21,University of Washington,Indianapolis#Urbana#,IN#IL#,2,Ph.D,432223,Neuroscience,<NA>,8/95 10/01,<NA>,1,<NA>
85234,9562666,21,Texas Tech University,<NA>,<NA>,1,Ph.D,229115,Creative Writing,<NA>,May/August n2006,<NA>,1,<NA>
85314,9539875,21#18,University of Cincinnati,<NA>,OH,1,Doctorate of Education#Masters,-999,Educational Administration,<NA>,6/95. 2,<NA>,1,<NA>
85372,9538982,21,Chapman University School of Law#California State University,Orange#Fullerton,CA#CA,1,Juris Doctor,<NA>,<NA>,<NA>,05/2006 n n08/2002,<NA>,1,<NA>
85971,9948317,21,BOSTON COLLEGE LAW SCHOOL,<NA>,<NA>,1,J.D,<NA>,<NA>,<NA>,June/1977,<NA>,1,<NA>
87217,9955743,21,"Rensselaer Polytechnic Institute, Computer Science Department",Troy,NY,1,Ph.D,<NA>,<NA>,<NA>,09/07- ...),<NA>,1,<NA>
87253,10945911,16#21,"Dept. of Mathematics, Peking University#Now Dept. of Mathematics, UC-Berkeley",<NA>,<NA>,1,B.S#Ph.D,<NA>,Mathematics#Applied Mathematics,27.0101,7/97 n8/97,<NA>,1,<NA>
88393,9318437,21,Texas Woman's University,Denton,TX,1,PhD,229179,<NA>,<NA>,August/2002,<NA>,1,<NA>
90150,8070886,21,University of Connecticut,Storrs,CT,1,Ph.D,129020,<NA>,<NA>,May/June 2009,<NA>,1,<NA>
93590,11067773,21,University of Southern California,<NA>,<NA>,1,Ph.D,123961,Electrical Engineering,14.0101;14.1001,Spring/99,<NA>,1,<NA>
94144,11004244,21,University of Central Florida,Orlando,FL,1,Doctor of Philosophy,439525,Computer Science,11.0701,5/ n93,3.9/4.0,1,<NA>
94925,13583473,21#18,Tianjin University,<NA>,<NA>,1,Ph.D#M.E,<NA>,<NA>,<NA>,08/97~05/2000,<NA>,1,<NA>
95960,8776568,21,Prairie View A & M University,<NA>,TX,1,Ph.D,227526,Juvenile Justice#Psychology,<NA>,Summer 06/2008,<NA>,1,<NA>
96653,13627915,21#18#16,Auburn University#National Central \nUniversity,<NA>,<NA>,1,Ph.D#M.S#B.S,<NA>,Materials Engineering#Chemical Engineering#Chemical Engineering,14.1801#14.0701#14.0701,DEC/96,3.6/4.0#4.0/4.0,1,<NA>
99965,11934854,21,University of Minnesota,Minneapolis,MN,1,Ph.D,174233,Analytical Chemistry,40.0502,Summer/Fall 2006,4.00/4.00,1,<NA>
100011,11973277,21,University of Illinois at Urbana-Champaign (UIUC),Urbana,IL,1,Ph.D,145637,Computer Science,11.0701,May/1997,3.80,1,<NA>
100661,15110812,21,Walden University,Baltimore,MD,1,Ph.D,125231,Clinical Social Work,<NA>,9/02 5/2011,<NA>,1,<NA>
101513,5891382,21,University of California Los Angeles School of Law,<NA>,<NA>,1,J.D,110662,<NA>,<NA>,2009 n n12/3/2009,<NA>,1,<NA>
101883,12067759,21,University of Florida,Gainesville,FL,1,Ph.D,134130,<NA>,<NA>,Spring/Summer 1999,<NA>,1,<NA>
101961,12129997,21,"Materials Science Dept., Fudan University",<NA>,<NA>,1,Ph.D,<NA>,Physical Electronics,<NA>,9/95 1/99,<NA>,1,<NA>
102205,12125783,21#16,University of Michigan#University of California#Sharif University of Technology#Sharif University of Technology,<NA>,<NA>,2,Ph.D#BSEE,<NA>,Circuits and Micro systems#Electronics,<NA>,17.47/20,8/9#17.7/20,1,<NA>
102221,12061904,18#21#16,"Dept. of Automation, Qingdao Inst. of Tech#Purdue University",#,#,1,M.S.E.E#Ph.D#B.S,<NA>,Communication & Signal Processing#Dept. of Control Science and Engineering#Automatic Control#Process Control,<NA>,09/98 05/99,3.5/4.0#3.8/4.0#3.9/4.0,1,<NA>
102639,12044878,21#18#16,Beijing Normal University,Beijing,<NA>,1,Ph.D#M.A#B.S,<NA>,Environmental Health/Toxicology#Molecular Biology#Biology,26.1004;51.2202,Jul. 93 / May 98,<NA>,1,<NA>
103125,13644916,21,Iowa State University,Ames,IA,1,Ph.D,153603,Industrial Engineering#Industrial Engineering,14.0101,Spring/2001,<NA>,1,<NA>
103183,13666109,21,University of Florida#University of Florida,Gainesville#Gainesville,FL#FL,1,Ph.D,<NA>,ECE,<NA>,8/93 12/96,<NA>,1,<NA>
106030,7570069,21,University of Michigan,Ann Arbor,MI,1,Ph.D,171146,Social) Psychology and Communication Studies,<NA>,January/ 2001,<NA>,1,<NA>
107239,666639,21,The John Marshall Law School,Chicago,IL,1,J.D,146241,<NA>,<NA>,Jan/2009,<NA>,1,<NA>
108711,12094365,21,The Ohio State University,<NA>,<NA>,1,Ph.D,<NA>,Materials Science and Engineering,14.0101,12/98-08/02,3.7/4.0,1,<NA>
111426,2186131,21,AMERICAN UNIVERSITY,Villanova,PA,2,J.D,131159,<NA>,<NA>,Spring/Summer 1982,<NA>,1,<NA>
112161,8964024,21,University\n of America,Washington,NE,1,Ed.D,<NA>,Educational Technology Catholic,<NA>,9/83 * 12/87,<NA>,1,<NA>
114791,11113966,21,Nova Southeastern University,Fort Lauderdale,FL,1,Doctorate,136215,Clinical Psychology,42.2801;42.2899,8/94 8/99,3.98,1,<NA>
115061,13698566,21,The Johns Hopkins University,<NA>,<NA>,1,Ph.D#T. A,162928,Chem Eng#Barbari,<NA>,March/99,<NA>,1,<NA>
115711,16568234,21,University of Illinois,<NA>,<NA>,1,PhD,-999,Mechanical Science and Engineering,14.0101;14.1901,May/16,3.90/4,1,<NA>
116353,7104649,21,University of Texas,Arlington,<NA>,1,Ph.D,-999,Electrical Engineering,<NA>,Dec./2001,<NA>,1,<NA>
116593,11123947,21,University of Minnesota,<NA>,<NA>,2,Ph.D,174233,Electrical Engineering,<NA>,August/September 2000,<NA>,1,<NA>
116733,16559597,21,University of\nPuerto Rico Mayagï¿½ez Campus,<NA>,<NA>,1,Ph.D,<NA>,"Civil Engineering, concentration Environmental Engineering",<NA>,July/14/2006,3.81#3.54,1,<NA>
122448,7220528,21,"Department of Physics and Astronomy, Wayne State University",<NA>,<NA>,1,Ph. D,<NA>,<NA>,<NA>,Spring/Summer 2009,<NA>,1,<NA>
122492,7170809,21,San Joaquin College of Law,<NA>,<NA>,1,Juris Doctorate,122649,<NA>,<NA>,8/00-2005,<NA>,1,<NA>
122901,10471096,21,University of South Florida,<NA>,<NA>,3,Ph.D,-999,Natural Product Chemistry,40.0501,June/August 2010,<NA>,1,<NA>
123299,16579974,21,Arizona State University,<NA>,<NA>,1,Ph.D,<NA>,Mechanical Engineering,<NA>,Dec/2015,<NA>,1,<NA>
125383,15464475,21,Walden University,Minneapolis,MN,1,Doctorate of Philosophy,125231,General Psychology#Research and Evaluation,<NA>,Aug/2015,<NA>,1,<NA>
125421,15443156,21,Thurgood Marshall School of Law,Houston,TX,3,Juris Doctor,<NA>,<NA>,<NA>,September/1999,<NA>,1,<NA>
125556,15710699,21,Arizona State University,Tempe,AZ,1,PhD,-999,Physics,40.0800,Nov/2015,<NA>,1,<NA>
128176,15748336,21,University of California,Davis,<NA>,1,"Ph.D, Materials Science",110671,<NA>,<NA>,Fall/Winter 2016,3.68/4.00,1,<NA>
128395,16316801,21,The Chicago School of Professional Psychology,<NA>,<NA>,1,Doctorate,143978,Applied Clinical Psychology,42.2801;42.2899,08/201208/2016,<NA>,1,<NA>
128991,5915003,21,Florida Coastal School of Law,Jacksonville,FL,1,Juris Doctor,434715,<NA>,<NA>,May/2009,3.02,1,<NA>
130427,13881269,21,Florida Coastal School of Law,Jacksonville,FL,1,Juris Doctor,434715,<NA>,<NA>,May/2009,3.02,1,<NA>
132174,16700585,21,Yale University,New Haven,CT,1,Ph.D,130794,Computer Science#Programming Languages and Systems,11.0701,May/1993,<NA>,1,<NA>
133811,16356018,21,Sharif University of Technology,<NA>,<NA>,2,PhD,<NA>,Civil Engineering#Structural and Earthquake Engineering#Civil Engineering,14.0801#14.0101#14.0801,17.08/20,<NA>,1,<NA>
136186,12462707,21,Princeton \nUniversity,<NA>,<NA>,1,PhD,186131,Electrical Engineering,14.0101;14.1001,1997/98,<NA>,1,<NA>
137379,12500965,21,"Oklahoma State UniversityStillwater, OK",<NA>,<NA>,1,Ph.D.Jan,<NA>,Mechanical Engineering,<NA>,96 / May99,<NA>,1,<NA>
137513,12574569,21,Stanford University,<NA>,<NA>,1,Ph.D,243744,<NA>,<NA>,9/93 9/97,<NA>,1,<NA>
138062,16861175,21,University of\nPuerto Rico Mayagï¿½ez Campus,<NA>,<NA>,1,Ph.D,<NA>,"Civil Engineering, concentration Environmental Engineering",<NA>,July/14/2006,3.81#3.54,1,<NA>
145930,8564143,21,University\n of America,Washington,NE,1,Ed.D,<NA>,Educational Technology Catholic,<NA>,9/83 * 12/87,<NA>,1,<NA>
146067,8563939,21,State University of New York - College of Environmental Science and Forestry (SUNY - ESF),Syracuse,NY,1,Doctor of Philosophy,196103,Plant Science and Biotechnology,01.1101;15.0401,March/December 1999,<NA>,1,<NA>
148891,18078187,21,"Korea University, Dept. of Chemistry",Seoul,<NA>,1,Ph.D,<NA>,Biophysical Chemistry,<NA>,Feb/2001,<NA>,1,<NA>
152492,18150663,21,"OASAS, CASAC-T\nWalden University",<NA>,<NA>,1,PhD,<NA>,Human Services,<NA>,01/2008 n05/2016,<NA>,1,<NA>
155515,18983932,21,University of Akron,<NA>,<NA>,3,Ph.D,<NA>,Industrial/Organizational Psychology,42.2804,Spring/Summer 2016,<NA>,1,<NA>
158926,8219752,21,University of Leiden,<NA>,<NA>,1,Ph.D,<NA>,"Netherlands, English Literature/Shakespeare",23.0101,Spring/Summer 2008,<NA>,1,<NA>
160220,20142431,21,Loyola and Tulane Universities School of Law,New Orleans,LA,1,Juris Doctorate,<NA>,<NA>,<NA>,May/1985,<NA>,1,<NA>
162935,19931515,21,University of Memphis#University of Memphis,#,TN#TN,1,PhD,<NA>,Electrical Engineering,14.0101;14.1001,Dec/2016,<NA>,1,<NA>
163444,17869266,21,Texas Tech University#Texas Tech University,Lubbock,TX,1,Ph.D,<NA>,Organic Chemistry,<NA>,2010 n08/2009,<NA>,1,<NA>
165130,21366305,21,Western National University,Brooklyn,NY,2,Ph.D,<NA>,International Business Administration,<NA>,April/2009,<NA>,1,<NA>
165282,21484176,21,National Technical University of Athens,London,<NA>,2,Ph.D,<NA>,Electrical Engineering#Electrical and \nComputer Engineering,14.0900,10/1995 03/1999,<NA>,1,<NA>
169405,31961819,21#18,At West Laurens High School#Current Middle Georgia State University#Middle Georgia State University,Dexter,GA,2,Juris Doctorate#Masters,<NA>,Health Science Administration,<NA>,August/14,<NA>,1,<NA>
175985,16925400,21,University of Puerto Rico Mayagï¿½ez Campus,<NA>,<NA>,1,Ph.D,<NA>,"Civil Engineering, concentration Environmental Engineering",<NA>,July/14/2006,3.81#3.54,1,<NA>
176955,22654322,21,University of Michigan,Ann Arbor,MI,1,Ph.D,171146,Communication Studies and (Social) Psychology,<NA>,January/ 2001,<NA>,1,<NA>
177166,6410687,18#21,Instituto Tecnolï¿½gico de Morelia\no Morelia#Clarkson University,Michoacï¿½n#Potsdam,#NY,1,B#M. Sc#PhD,-999,"Engineering, Electrical Engineering#Electrical Engineering#Electrical Power Systems#Electrical Engineering#Electrical Power Systems",14.0101;14.1001#14.1001,October / 2008,<NA>,1,<NA>
178497,22722855,21,University of Dayton (UD),<NA>,OH,1,PhD,202480,Electrical Engineering,14.0101;14.1001,December/2005,<NA>,1,<NA>
179471,22738041,21,Miami University,Oxford,OH,1,PhD,204024,Analytical Chemistry,40.0502,08/98*08/03,<NA>,1,<NA>
180776,23518734,21,Walden University,Minneapolis,MN,1,Ph.D,125231,"Applied Management and Decision Sciences, Leadership and\n Organizational Change",<NA>,April/May 2007,<NA>,1,<NA>
180814,23526261,21,Capella University,<NA>,<NA>,1,PHD,413413,<NA>,<NA>,June/2009,<NA>,1,<NA>
180874,23702536,21,Life Chiropractic College West,Marietta,GA,9,J.D,117520,<NA>,<NA>,11 - /2001,<NA>,1,<NA>
184342,34496407,21,WANTAGH,<NA>,<NA>,2,PhD,<NA>,<NA>,<NA>,6/03 - 2013,<NA>,1,<NA>
187702,24722499,21,University of Wisconsin,<NA>,<NA>,1,Ph.D,240444,<NA>,<NA>,6/20016/2003,<NA>,1,<NA>
190331,24804781,21,University of Central Florida,Orlando,FL,1,PhD,439525,Electrical Engineering,14.0101;14.1001,April/Summer 2008,3.91,1,<NA>
190741,24794197,21,Texas Tech University,<NA>,<NA>,1,Ph.D,229115,Creative Writing,<NA>,May/August 2006,<NA>,1,<NA>
191398,26175543,21,Warren National University,<NA>,<NA>,1,PhD,<NA>,Business Administration,52.0201,April/May 2009,<NA>,1,<NA>
192123,26281762,21,The University at Albany,<NA>,<NA>,1,Ph.D,<NA>,Physics,<NA>,April/1999,<NA>,1,<NA>
199814,31061459,21,University of Maryland,Baltimore,MD,1,Ph.D,-999,Chemical and Biochemical Engineering,<NA>,August/2016,3.73,1,<NA>
202612,31249689,21#21#18,University of Technology,<NA>,<NA>,2,Ph.D#Ph.D#M.Sc,<NA>,Chemical Engineering (Biotechnology and Biochemical Engineering)#Sharif,15.0401,19.54 /20,<NA>,1,<NA>
206132,37498382,21,Southern Illinois University School of Medicine,Dallas,TX,2,Ph.D,<NA>,"Molecular Biology, Microbiology, and Biochemistry",26.0502,May/1999,<NA>,1,<NA>
211791,32937433,21,Lehigh University,Bethlehem,PA,1,Ph.D,213543,Electrical and Computer Engineering,14.0900,August/2016,<NA>,1,<NA>
213343,21797923,21,University of Michigan,Ithaca,NY,1,Ph.D,171146,Communication Studies and (Social) Psychology,<NA>,January/ 2001,<NA>,1,<NA>
213656,33232000,21,University of Oklahoma,<NA>,<NA>,1,Ph. D,484738,Electrical and Computer Engineering,14.0900,4/4 2012,<NA>,1,<NA>
213750,33266621,21,Texas A&M University,<NA>,TX,1,Ph.D,224545,Mechanical Engineering,<NA>,May/2016,3.9/4.0,1,<NA>
214103,33299608,21,"University of California Los Angeles, Dept. of Biomedical Physics",Los Angeles,CA,1,Ph.D,<NA>,Biomedical Physics,<NA>,9/04 12/09,3.98 /4.0,1,<NA>
214377,33770571,21#18#16,Birzeit University,<NA>,<NA>,1,Ph.D#M.Sc#B.Sc,<NA>,"Electrical Engineering#Electrical Engineering#Power & Control, Communications",14.0101;14.1001#09.0100,Feb/2016,<NA>,1,<NA>
214446,48540938,21,The Ohio State University,Columbus#,OH#,1,Doctor of Philosophy,-999,Mathematics Education,27.0101,Mar/1994,3.63,1,<NA>
219347,22949409,21,University of Texas,Arlington,<NA>,1,Ph.D,-999,Electrical Engineering,<NA>,Dec./2001,<NA>,1,<NA>
219396,22949722,21,University of Texas,Arlington,<NA>,1,Ph.D,-999,Electrical Engineering,<NA>,Dec./2001,<NA>,1,<NA>
219451,22948799,21,The Pennsylvania State University,University Park,PA,1,Ph.D,-999,Electrical Engineering,<NA>,9/98 12/04,3.68 / 4.0,1,<NA>
219619,23030239,21#21,Oklahoma City University,Oklahoma City,OK,1,Juris Doctor#J.D,207458,<NA>,<NA>,8/00 8/04,<NA>,1,<NA>
220083,24864777,21,Florida Coastal School of Law,Jacksonville,FL,1,Juris Doctor,434715,<NA>,<NA>,May/2009,3.02,1,<NA>
222357,34967768,21,Duquesne University,Pittsburgh,PA,1,Juris Doctor,212106,<NA>,<NA>,18/98 December 2015,3.41/4.0,1,<NA>
229457,30789015,21,"University of Georgia, College of Pharmacy",<NA>,<NA>,1,Ph.D,<NA>,pharmaceutical sciences,<NA>,May/2014,<NA>,1,<NA>
232780,36619292,21,Loyola University Chicago,Chicago,IL,1,Doctor of Philosophy,146719,<NA>,<NA>,6/30.2016,<NA>,1,<NA>
234047,36653491,21,University of Tehran,<NA>,<NA>,1,PhD,<NA>,Health Psychology,42.2810,18.44/20,<NA>,1,<NA>

In [155]:
w_slash.sample(100)

,BGTResID,degreeLevel,Instituition,InstitutionCity,InstitutionState,degreePosition,DegreeType,ipeds_unit_id,major,MajorCipCode,CompletionDateRaw,GPA,ind_doc,CompletionDate
1089207,192513247,16,MS VALLEY STATE UNIV.,<NA>,<NA>,1,Bachelor's Degree,<NA>,Computer Science,11.0701,12/15/2005,<NA>,0,2005-12-15
975396,42048715,16,Shandong Institute of Architectural and Civil,<NA>,<NA>,3,BS,<NA>,Civil Engineering,14.0801,07/1996,<NA>,0,1996-07-01
750782,17609632,16,Central State University,Prescott Valley,AZ,4,Bachelor of Science Degree,201690,Accounting,52.0301,08/01/1986,<NA>,0,1986-08-01
466117,403121,16,St. Petersburg State University of Telecommunications,East Lansing,MI,3,B.Eng,<NA>,Telecommunications Engineering,<NA>,06/2004,<NA>,0,2004-06-01
478930,8360522,18,Wheelock College,Minneapolis,MN,2,Master of Arts,168290,Social Work,<NA>,12/05,<NA>,0,2005-12-01
626880,9612560,<NA>,University of Florida,<NA>,<NA>,20,<NA>,134130,<NA>,<NA>,8/20,<NA>,0,2020-08-01
250138,57510635,21,University of South Carolina,<NA>,<NA>,2,Juris Doctorate Degree,218335,<NA>,<NA>,12/ 08,<NA>,1,2008-12-01
1198098,216511938,16,Louisiana State University,Tallahassee,<NA>,4,B.S,-999,"Baton Rouge, Speech and Journalism Education",09.0400;09.0401,8/1971,<NA>,0,1971-08-01
247247,52691526,21,"Chinese University of Hong Kong, Hong Kong",<NA>,<NA>,1,Ph.D,<NA>,GeoInformation Science,<NA>,07/2009,<NA>,1,2009-07-01
421253,41566704,<NA>,University of Phoenix,Tempe,AZ,1,Doctor of Education,380465,Education/Educational Leadership,<NA>,11/2015,<NA>,1,2015-11-01
1218823,209549202,16,Ghulam Ishaq Khan Institute of Engineering Sciences and Technology,Lafayette,<NA>,3,BS,<NA>,Electronic Engineering,14.0101,05/2000,<NA>,0,2000-05-01
490314,5946969,16,University of Illinois,<NA>,<NA>,3,B.A,-999,Business Management,52.0201,5/99,3.0,0,<NA>
885914,32952647,18,Duke University,<NA>,NC,1,Masters Science,198419,<NA>,<NA>,6/2018,<NA>,0,2018-06-01
1105703,195535067,<NA>,ACS National Meeting,Potsdam,NY,3,<NA>,-999,<NA>,<NA>,03/2017 n07/2016,<NA>,0,<NA>
1231702,219400669,14,Elgin Community,<NA>,<NA>,4,A.S. degree,144944,Business Administration,52.0201,12/2002,3.486,0,2002-12-01
1115750,212792447,16,University of Miami,<NA>,<NA>,5,Bachelor of Business Administration,135726,Political Science,45.1000,05/2009,3.86,0,2009-05-01
168604,21482381,21,Purdue University,West Lafayette,IN,1,Ph.D,-999,Electrical and Computer Engineering,14.0900,8/02,<NA>,1,2002-08-01
1118839,212961919,18,Clark Atlanta University,Denton,CA,2,Master of Arts Degree,138947,Accounting,52.0301,05/2012,<NA>,0,2012-05-01
1120265,213184607,18,Wayne State University,Detroit,MI,3,M.Sc. of Civil Engineering,172644,Environmental Engineering,14.1400,8/2016,4.00,0,2016-08-01
597918,10773815,16,University of Delaware,Newark#Salisbury,#MD,2,Bachelor's Degree,130943,<NA>,<NA>,12/1996,3.9/4.0,0,1996-12-01
469024,7716095,16,University of Calgary,Buffalo,<NA>,2,B.A,<NA>,Philosophy,38.0100,4/1989,<NA>,0,1989-04-01
598924,9250560,18,Nanjing University,Ithaca,NY,2,M.S,<NA>,Electrical Engineering,14.0101;14.1001,2002/06,<NA>,0,2002-06-01
305161,198870275,21,Brigham Young University,Provo,UT,1,Ph.D,-999,Electrical and Computer Engineering,14.0900,1/2015,3.75,1,2015-01-01
964339,53403257,<NA>,Capella University,Galloway,NJ,3,<NA>,413413,<NA>,<NA>,12/15,<NA>,0,2015-12-01
1033505,97463068,13,Edgemont High School,Palo Alto,CA,5,Diploma,<NA>,<NA>,<NA>,06/05,<NA>,0,2005-06-01
628087,5882152,18,The Czech Technical University Czech Republic-Czech Republic,<NA>,<NA>,2,Master's Degree,<NA>,Electrical Engineering,14.0101;14.1001,6/1988,3.92,0,1988-06-01
835003,24774155,18,Solid State Devices and Circuits#University of Texas,Dallas,<NA>,2,Master of Science,<NA>,Electrical Engineering,<NA>,12/1998,4.0/4.0,0,1998-12-01
606162,11638477,<NA>,"University of Hawaii, Dept. of Educational Technology",<NA>,<NA>,1,<NA>,<NA>,<NA>,<NA>,8/5/99,<NA>,0,<NA>
2574,757263,21,Seton Hall University,Newark,NJ,1,Juris Doctorate,186584,<NA>,<NA>,6/94,<NA>,1,<NA>
819945,743573,16,Lehigh University,Valparaiso,IN,2,Bachelor of Arts,213543,Political Science and Urban Studies,45.1000;45.1200,5/2005,<NA>,0,2005-05-01
775996,20190225,16,School DVS College,<NA>,<NA>,102,Bachelor of Science,<NA>,Art Education,<NA>,6/25/1980,<NA>,0,1980-06-25
648691,5882209,<NA>,The University of Akron,West Lafayette,IN,2,MSME,<NA>,Mechanical Engineering,14.1901,05/92,<NA>,0,<NA>
771133,257551,16,Colorado Technical University,<NA>,<NA>,2,Bachelor of Science Degree,<NA>,criminal justice,<NA>,9/08,<NA>,0,2008-09-01
52039,4919573,21,Widener University School of Law,Reading,PA,2,J.D,216852,Law,<NA>,7/01/93,<NA>,1,<NA>
308363,196314462,21,Brooklyn Law School,Brooklyn,NY,1,Juris Doctor,189501,<NA>,<NA>,06/01/1996,<NA>,1,1996-06-01
311868,198027773,21,Mississippi State University,Starkville,MS,1,Ph.D,176080,Forest Resources/Mechanical Engineering,14.1901,8/2010,<NA>,1,2010-08-01
1168785,211326437,18,Northeastern University,Boston,MA,2,Master of Science,167358,<NA>,<NA>,05/2007,<NA>,0,2007-05-01
851222,30603172,<NA>,Rutgers University,Staten Island,NY,4,<NA>,186371,<NA>,<NA>,10/2015,<NA>,0,2015-10-01
215581,50366470,21,Suffield University,<NA>,<NA>,1,Ph.D,<NA>,<NA>,<NA>,05/31/2008,3.50,1,2008-05-31
620854,9335133,<NA>,University of Arizona,Tucson,AZ,4,<NA>,104179,<NA>,<NA>,7/05,<NA>,0,2005-07-01
227536,36204677,21,University of Newcastle,<NA>,NSW,1,Doctor of Philosophy (PhD),<NA>,Chemical Engineering,14.0701,9/2000,<NA>,1,2000-09-01
858050,36917892,16,Beijing Normal University,<NA>,<NA>,3,B.A,<NA>,Special Education,13.1001,07/2007,<NA>,0,2007-07-01
1024562,90272377,<NA>,American Board of Pediatrics,<NA>,<NA>,7,<NA>,<NA>,<NA>,<NA>,10/2015,<NA>,0,2015-10-01
347032,210314313,21,UNIVERSITY OF UTAH COLLEGE OF LAW,Salt Lake City,UT,1,Juris Doctor,230764,<NA>,<NA>,05/91,<NA>,1,<NA>
578661,10773161,16#16,University of Pittsburgh,Pittsburgh,PA,3,BS#BA,215266,Psychology#Political Science,42.0101#45.1000,5/1989,<NA>,0,1989-05-01
523463,2480278,16,Georgia State University,Durham,NC,2,Bachelor of Arts,139940,Political Science and Pre-law,22.0001;45.1000,05/2005,<NA>,0,2005-05-01
836406,24795294,16,State University of New York,Oneonta,NY,1,Bachelor of Arts (B.A,-999,<NA>,<NA>,5/73,<NA>,0,<NA>
1129909,208430373,16,Nankai University,Minneapolis,MN,3,B.S,<NA>,Chemistry,40.0501,06/2010,<NA>,0,2010-06-01
1037919,97519112,16#12,Jiangsu University#Jiangsu University,Zhenjiang,<NA>,1,Bachelor#high school,<NA>,Biotechnology#QPCR /Cell Culture/ Gene Mutation,15.0401,06/2011,<NA>,0,2011-06-01
151279,14908383,21,St. Mary's University,<NA>,<NA>,1,J.D,228149,<NA>,<NA>,5/93,<NA>,1,<NA>
1259203,212569786,<NA>,BLS,Nashville,TN,10,<NA>,<NA>,<NA>,<NA>,02/2016,<NA>,0,2016-02-01
775949,20190225,16,School Inner State Beauty School,<NA>,<NA>,49,Bachelor of Nursing Degree,<NA>,<NA>,<NA>,3/23/1980,<NA>,0,1980-03-23
96173,10184355,21,Walden University,Minneapolis,MN,1,PhD,125231,Public Health,51.2200;51.2201,09/2009,3.89/4.0,1,2009-09-01
271565,90221280,21,Michigan State University,East Lansing,MI,1,Ph.D,171100,Electrical and Computer Engineering,14.0900,10/2016,4.00,1,2016-10-01
691845,8565612,16,Shandong Agricultural University,<NA>,<NA>,3,B.S,<NA>,Crop Protection,<NA>,7/1991,<NA>,0,1991-07-01
275704,108489139,21,University of Nebraska,<NA>,<NA>,1,Ph.D,-999,Management Information System#Lincoln,<NA>,05/2007,<NA>,1,2007-05-01
360344,215603011,21#21,Hamline University School of Law,St. Paul,MN,2,Juris Doctorate#J.D,173665,<NA>,<NA>,05/2005,<NA>,1,2005-05-01
195792,30085098,21,University of San Francisco School of Law,San Francisco,CA,1,Juris Doctor,122612,<NA>,<NA>,05/11,<NA>,1,2011-05-01
774878,20189190,<NA>,Alpha Epsilon Delta#North Carolina State University,Greenville,NC,6,<NA>,<NA>,<NA>,<NA>,05/2005,<NA>,0,2005-05-01
1092622,198747631,<NA>,Surgical Pathology Fellowship,<NA>,<NA>,1,<NA>,<NA>,Anatomic and Clinical Pathology Residency,<NA>,01/24/2018,<NA>,0,2018-01-24
1149236,193292294,16,University of Alaska,Keele,<NA>,3,Bachelors of Arts Degree,-999,Psychology & History,42.0101,05/2003,<NA>,0,2003-05-01
478786,6613021,16,University of Maryland,<NA>,<NA>,4,Bachelor of Science,-999,Accounting,52.0301,8/2002,<NA>,0,2002-08-01
416527,33985402,<NA>,Colorado Technical University,Colorado Springs,CO,1,Doctor,-999,Computer Science,11.0701,6/23/2015,4.0,1,2015-06-23
1177727,209398453,18,University of Toledo US-OH-Toledo<BR,<NA>,NJ,2,Master's Degree<BR,<NA>,<NA>,<NA>,7/1993,<NA>,0,1993-07-01
192020,21254306,21,Southern Illinois University School of Law,Carbondale,IL,1,Juris Doctor,<NA>,<NA>,<NA>,11/70,<NA>,1,<NA>
400789,15416872,<NA>,"University of Puerto Rico, School of Medicine",Rio Piedras,PR,1,Doctor of Medicine,<NA>,<NA>,<NA>,6/1989,<NA>,1,1989-06-01
304723,194097696,21,Florida State University,Tallahassee#Beijing,FL#,1,Ph.D,134097,<NA>,<NA>,04/2017,<NA>,1,2017-04-01
836240,26021348,16,University Of Phoenix,<NA>,VA,4,Bachelor of Science,380465,Business Management,52.0201,8/2000,<NA>,0,2000-08-01
320630,194358396,21,Argosy University#Breyer State University,<NA>,<NA>,2,Ph.D,<NA>,<NA>,<NA>,12/2009,4.0#4.0,1,2009-12-01
1183056,214672160,16,Sichuan University,Seattle,WA,2,B.S,<NA>,Material Physics#Material Science and Engineering,40.0800#40.1001,07/2007,<NA>,0,2007-07-01
941488,20390038,16,St. John Fisher College#SUNY,Syracuse#Rochester,NY#NY,5,BA,<NA>,English Literature-----,23.0101,06/73,<NA>,0,<NA>
120954,13769396,21,Texas A&M University,College Station,TX,1,Ph.D,224545,EE,<NA>,01/96,<NA>,1,<NA>
168237,21483597,21,Arizona State University,Tempe,AZ,1,PhD,-999,Electrical Engineering#Signal Processing and Communications,14.0101;14.1001#09.0100,9/2000,3.94/4.0,1,2000-09-01
71425,9457655,21,Academy of Pedagogical Sciences of the USSR,Moscow#Moscow,#,2,Ph.D,<NA>,Education,<NA>,01/1985,<NA>,1,1985-01-01
129019,5915096,21,University Tulsa Law School,<NA>,<NA>,1,Juris Doctor,<NA>,<NA>,<NA>,12/2002,<NA>,1,2002-12-01
571812,8734014,18,Tongji University,Carbondale,IL,3,Master degree,<NA>,Engineering Geology,14.0101;14.3900,3/86,<NA>,0,<NA>
846154,15004515,16,Columbia College,Lansing,MI,3,BS,479248,Business Administration#Management,52.0201,7/2001,<NA>,0,2001-07-01
434027,199522947,<NA>,DEGREES,Wichita,KS,5,Doctor of Medicine,<NA>,<NA>,<NA>,5/92,<NA>,1,<NA>
1098567,147509423,<NA>,Mount Sinai School of Medicine,New York,NY,19,<NA>,<NA>,<NA>,<NA>,4/2009,<NA>,0,2009-04-01
861379,37027833,<NA>,Lorain County Community College,<NA>,<NA>,5,<NA>,203748,<NA>,<NA>,12/1988,4.0,0,1988-12-01
1092057,193976553,18,University of Pune (UoP),New York,NY,4,Master of Arts,<NA>,Economics,45.0601,12/2009,<NA>,0,2009-12-01
1105795,195572740,18,Portland State University,<NA>,<NA>,2,M.S,209807,Chemistry,40.0501,03/2012,3.8/4.0,0,2012-03-01
401526,15414954,18,"Faculty of Medicine, Chulalongkorn University",Bangkok,<NA>,1,Doctor of Medicine (M.D,<NA>,<NA>,<NA>,5/1998,<NA>,1,1998-05-01
1063108,85104291,<NA>,Universidad de Ciencias Medicas de La Habana. Cuba,Harshaw,WI,3,<NA>,<NA>,<NA>,<NA>,10/2011,<NA>,0,2011-10-01
842920,14939482,18,Nanjing University,Dallas#Nanjing,#,2,M.S,-999,Computer Science and Technology,11.0701,07/2000,<NA>,0,2000-07-01
41408,4842682,21,Case Western Reserve University School of Law,Cleveland,OH,1,J.D,201645,<NA>,<NA>,5/00,3.33/4.0,1,2000-05-01
413409,31097555,<NA>,Slippery Rock University,Slippery Rock,PA,2,Doctor,-999,Physical Therapy,51.2308,8/00,3.74,1,2000-08-01
1262237,220210947,18,New York University,<NA>,<NA>,3,M.S,193900,Organic Chemistry,40.0504,1/1988,<NA>,0,1988-01-01
946355,65380455,<NA>,University College of The Caribbean,Gainesville,FL,4,<NA>,-999,<NA>,<NA>,04/09,<NA>,0,2009-04-01
112848,7025769,21,University of Connecticut,<NA>,<NA>,1,Ph.D,129020,Materials Science,<NA>,12/2013,<NA>,1,2013-12-01
1102136,197785041,16,University of Phoenix,Minneapolis#Troy,MN#MI,2,BACHELOR OF SCIENCE,380465,INFORMATION TECHNOLOGY,11.0103,06/2004,<NA>,0,2004-06-01
91362,7507166,21,Capella University,<NA>,<NA>,1,Doctor of Philosophy,413413,PhD Human Service Management/Nonprofit Agencies,<NA>,8/2010,<NA>,1,2010-08-01
886055,33010853,18,Argosy University,<NA>,<NA>,2,Master of Arts (MA) degree,450535,Psychology,42.0101,02/2013,<NA>,0,2013-02-01
125765,15758397,21,University of Louisville,<NA>,<NA>,1,Doctor of Philosophy,157289,Microbiology/Immunology,26.0502;26.0507,5/2008,<NA>,1,2008-05-01
181429,23776711,21,Arizona State University,La Crosse,WI,3,Ph.D,-999,Educational Psychology,<NA>,12/2006,<NA>,1,2006-12-01
1102331,195453729,<NA>,Advanced Organic Synthesis,<NA>,<NA>,6,CHM,<NA>,<NA>,<NA>,Spring/2014,<NA>,0,<NA>
1154798,197279679,16,Spelman College,Fayetteville,AR,2,Bachelor of Arts Degree,141060,Political Science,45.1000,5/89,<NA>,0,<NA>
319344,86316688,21,Capella University,<NA>,<NA>,1,PhD,413413,Emergency Management,<NA>,06/2019,<NA>,1,2019-06-01
768047,19571258,18,Tennessee Technological University,<NA>,<NA>,2,Master of Arts,221847,Educational Psychology and Counselor Education#Counseling,42.0101#42.2899,05/94,<NA>,0,<NA>
1079871,192688971,18,Eastern Washington University,Lansing,MI,2,Masters of Science,235097,Communication,<NA>,6/2003,<NA>,0,2003-06-01

'012'

In [132]:
single_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 660966 entries, 2 to 1268711
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   BGTResID           660966 non-null  Int64
 1   degreeLevel        561415 non-null  string
 2   Instituition       660726 non-null  string
 3   InstitutionCity    442593 non-null  string
 4   InstitutionState   418919 non-null  string
 5   degreePosition     660966 non-null  Int64
 6   DegreeType         593077 non-null  string
 7   ipeds_unit_id      433110 non-null  Int64
 8   major              415359 non-null  string
 9   MajorCipCode       259024 non-null  string
 10  CompletionDateRaw  660966 non-null  object
 11  GPA                95167 non-null   string
 12  ind_doc            660966 non-null  Int64
dtypes: Int64(4), object(1), string(8)
memory usage: 73.1+ MB

In [111]:
container = set()

def find_non_numbers(string):
    if string is not pd.NA:
        for s in string.split(' '):
            try:
                int(s)
            except(ValueError):
                container.add(s)
                
single_dates['CompletionDateRaw'].apply(find_non_numbers)

container

{'',
 '9.90',
 '8/1986',
 '12/29/17',
 '10/11/',
 '08/01/1978',
 '1997/07',
 '03.2001',
 'May-2005',
 '05/21/1993',
 '05/10/2011',
 'Feb.1990',
 'February',
 '5/10/2016',
 '3/06',
 'April)',
 '6/13',
 '10-2012',
 '09/2015',
 '4/27/96',
 '07/23/1996',
 '4/1997',
 '12/2010',
 '1/15',
 '10/1/96',
 '6/20/1980',
 '05/1968',
 '05/31/2007',
 '31,1970',
 '05/1971',
 '8/10/1984',
 '2005September',
 '1995.',
 '5/22/88',
 '09/11',
 '08/27/2009',
 'May2010',
 'Aug.2013',
 '1/2013',
 '11/84',
 '9/3/09',
 '01/1999',
 '8/1989',
 '05/1993',
 'May,1997',
 '16,2008',
 '02/96',
 '02/02',
 '03/1999',
 "February'",
 '4/23/2010',
 '10/1988',
 '83.82%',
 '2/5/1980',
 '05/03/72',
 'MAY,',
 'Spring2017',
 '5/1/1992',
 '8/18/2016',
 '7/91',
 '9th,',
 '01/2004',
 'December-1996',
 '11/10',
 '2/1986',
 '7/1/1987',
 "12'98",
 'Jan./1990',
 '06/01/2005',
 '1/1991',
 '02/1988',
 'May/1976',
 '5/1988',
 '3/13',
 '07/1997',
 '11/2013',
 '9/89',
 '08/19/1996',
 '19/67',
 '1982......',
 '______________________________________________________________________________',
 'May86',
 'Aug1997',
 '1/93',
 '07.',
 '08/2019',
 '12/09/1998',
 'May02',
 '11.2005',
 '5/4/75',
 '05/14/2011',
 '01/15',
 'Aug,2013',
 'May-2016',
 '5/2012',
 'June-2005',
 '05/27/2011',
 'nDecember',
 '5/17/2011',
 '9/11',
 '5/2009',
 'DECEMBER',
 '1983????????????????????',
 'FEBRUARY',
 '8-12,',
 '5.2003',
 '06/01/1989',
 '08/20/2000',
 '04/24/2009',
 '00-2003',
 'JUN.2005',
 '2016/02',
 '9/25/2018',
 "Dec'2009",
 '5/30/1983',
 'Sep-2000',
 '9/1988',
 'June1972',
 '2/28',
 '06.2000',
 '5/27/2007',
 'nOctober',
 '7/2000',
 '5/24/2003',
 '09/10',
 'Spring,2000',
 '---------',
 '10/31/2009',
 'n9,',
 "'22",
 'June/July',
 '01/1979',
 '11/08/2011',
 '12/11/2009',
 '5/2003',
 '12/31/2012',
 '9.1993',
 '5/1993',
 'MAR',
 '10/2011',
 'June-2011',
 '09/04/2008',
 '2011??????????????????????????????????????????????????????????????????????????????????????',
 '8/06',
 '07/11/2001',
 'Dec...2008',
 '8/10/1980',
 '2/15/03',
 '(2006',
 '2/26/2018',
 '5/24/1997',
 '90.20',
 '8.27/10',
 'June1974',
 'Sept,',
 '1/3%',
 'May/2006',
 '6/1992',
 '02/1977',
 '06.2006',
 '04/1988',
 '03/10/04',
 '8/12',
 '6/20',
 'Mar.2013',
 '01/88',
 '2/1981',
 "20'09",
 'nJul',
 '01/26/2018',
 'May2018',
 "August'2006",
 '5/13/2001',
 '02.10.2001',
 '05/88',
 '06/75',
 '01/',
 '08/86',
 '02/15/2015',
 '06/30/15',
 '21,1992',
 '1/95',
 '5/13/2006',
 'June-1983',
 'n06/2014',
 '3/26/2013',
 '11/2018',
 "'08",
 '04/1983',
 '6/11/2011',
 '12/14/2014',
 '5.00',
 '5-2012',
 '01/07/1997',
 '04/12',
 '5/1978',
 '6/27/2001',
 '08-1995',
 'July-1997',
 'May1998',
 '7/4/1980',
 '9/15',
 'n1978',
 'Jun.2001',
 'through',
 'n05/2005',
 '09/08/2000',
 '12/1/2016',
 'April,2000',
 '20th,',
 '3/27/2015',
 '02/93',
 'Dec.2007',
 'Apr/2005',
 '06/95',
 '10/05/2015',
 '12/15/00',
 'November/2010',
 '5/17/2001',
 '9/16',
 'July.2011',
 '11/17',
 '4/26/07',
 '6/81',
 '01/00',
 '2015?????????????????????????????????????????????????????????????????????????????',
 '06/1981',
 'June,1982',
 '10/01/2000',
 '7/92',
 '01/12/2016',
 'Jun*97',
 'OCTOBER',
 "Feb'03",
 '6/2009',
 '6/73',
 '2014/2015',
 '07/27/2005',
 '24/81',
 '05.01',
 '61.06',
 '01/30/2012',
 'Sept.2002',
 '7/31/2016',
 'May;',
 '05/1981',
 '30.00',
 '09/15/2006',
 '03/2009',
 '6/1963',
 '02/01/2003',
 '02/12/2010',
 'Fall/08',
 '12/13/1983',
 '13th',
 '12/1966',
 '3/97',
 '12/15/2008',
 '2011????????',
 '03,',
 '08/10/2004',
 '05/11/2016',
 '08/00',
 'Jun2004',
 '08.2016',
 '05/1987',
 '6/1/1988',
 '05/1985',
 'Oct.2015',
 "Nov.'94",
 '10/12/1993',
 '08/01/1991',
 '12/19/2015',
 '8th',
 '19.12.2013',
 '06/2007',
 'January-2011',
 '`14',
 'May/1973',
 '05.83',
 'Sept.2012',
 '09/17/03',
 '08/07/2015',
 'Summer2005',
 '01/24/1971',
 '11/2009',
 'n1974',
 'May-1986',
 '16.03.2016',
 '18-24,',
 '9/1977',
 'July11,',
 '1976......',
 '10th',
 '1/1985',
 'July,2010',
 '1985???????',
 '?07',
 '2/10',
 '8/1991',
 'Dec.2017',
 '10.10.2016',
 '2013.09',
 '01/1985',
 '11/1982',
 '01.07.2005',
 '10/99',
 'Jan/2009',
 'August,1998',
 '8/12/08',
 '03/2006',
 '05/15/2014',
 '06/14/1980',
 'Aug-',
 '05/10/2015',
 '09/1980',
 '06/04/1992',
 '5/03/2000',
 '08/2005',
 '05/31/1991',
 '08/04/2016',
 '6/26/2001',
 'March2007',
 '05/2010',
 '2/1998',
 '6/14/2001',
 '3/31/2016',
 'Dec2013',
 '8/30/1994',
 '2013Mar',
 '8/89',
 '05/23/1993',
 '12/1980',
 '12/31/2019',
 '09/09',
 'Aug.2018',
 '4-10',
 'July.1992',
 '3/84',
 '17.33',
 '12/',
 '7/86',
 '06/1979',
 '3/1985',
 '4/26/2001',
 'n2005',
 '2007/02',
 '12/2000',
 'Aug2015',
 '8/86',
 '5/6/95',
 '9/29/2011',
 '10/19/2011',
 '07/02',
 '12/31/2013',
 '12/01/2011',
 'Dec./1984',
 'fall',
 '10/10/2014',
 '12/2006',
 'June/1986',
 'Aug.1996',
 '10/10',
 'July1989',
 '5/19/2001',
 '6/01/2012',
 '07/10/2002',
 '05/1989',
 '5/85',
 '06/19',
 '1/7.',
 '5/08',
 'February1997',
 '2/8/2009',
 'June-1974',
 '10/03',
 '12/2019',
 '5/1980',
 'Jun.2015',
 '05/31/2018',
 '5/31/2004',
 '05/78',
 '2/79',
 'Aug..',
 'Jul.2008',
 'Feb.2015',
 '04/20/2007',
 '06th,',
 '2/1983',
 '4/15/2016',
 ',',
 '08/1978',
 '11,1989',
 '7/03',
 '12/20',
 '03/18/2014',
 '5/1/10',
 '06/01/2018',
 '04/90',
 '11/12/2013',
 'JUL.',
 '06/09',
 '04/16/2013',
 '09/2016',
 '2012/03',
 '18.49/20',
 '12/19/2006',
 '8/31/15',
 '05/12/2006',
 '07/23/15',
 '1/2009',
 '10/02',
 '3/1998',
 '09/88',
 '10/2009',
 '6/12/2001',
 '9/81',
 '07/90',
 '6,2011',
 '28-29,',
 '7/2016',
 '06/16',
 "06'-",
 '7/65',
 '5/20/2000',
 '02/28/2002',
 'December,1996',
 '8/20/2018',
 '=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=',
 '05/01/',
 '3/1988',
 'September1975',
 '07/23/2014',
 '06-1988',
 '18.52/20',
 '08/28/2009',
 '06/1991',
 '02/92',
 '5/2//2016',
 '2016/01',
 '?11',
 '7/2002',
 '10/10/12',
 '13.',
 '04/2007',
 '7/27/1980',
 '6./12',
 '11/03/2010',
 ',2005',
 '6/93',
 '2016).............................',
 '01.1989',
 '`85',
 '9/17/1980',
 '1998June',
 '2/1988',
 '05/22/2004',
 '9.18',
 'Feb,',
 '`03',
 '12-17,',
 '9/07',
 '9,2010',
 '05/07/2016',
 '04/1992',
 '04.30.1999',
 'Aug.1987',
 'Feb/1994',
 '10/2012',
 'December/2008',
 '5/18/1980',
 '10/01',
 '08/2007',
 '04-2005',
 "'18",
 'June1970',
 '05.97',
 '06/13/2017',
 '11/2002',
 '19.',
 '23/2016',
 '9/14/1980',
 'January2008',
 '1/1/2016',
 '8/24/2015',
 '2/4/2015',
 '08/12/2016',
 '8/12/2009',
 '28-2016',
 "'02",
 '8/2016',
 '06/1985',
 '2002?????????????????????????',
 '12/20/2010',
 '02.2016',
 '2/3/2015',
 '12/5/2017',
 '08/11/2013',
 '5/8/2001',
 '1980,',
 '04/1972',
 '6/5/74',
 'MAR.',
 '9/20057/2009',
 '01/76',
 'August/2000',
 '07/1994',
 '11/87',
 '05/1979',
 '9/25/1980',
 '4/17/2009',
 '77/90',
 'Aug/2017',
 'May,2009',
 '1/1994',
 '22nd,',
 '09/01/1974',
 '21-22,',
 'May.2011',
 '1/24/2011',
 '1/2020',
 '3/1995',
 '03/2018',
 '7/1989',
 'Aug.84',
 '2013--------------------------------------------------------------------------------------------',
 "Dec'03",
 '09/05/1997',
 '11/1990',
 'March-2016',
 'AUGUST',
 'Nov.',
 '5/67',
 'August,2010',
 '02/01/1998',
 '08/2004',
 '08/08/2002',
 'Dec-2000',
 '10/93',
 '19-23,',
 '12/87',
 '5/12/12',
 '9/80',
 'Aug-1999',
 '12/22/2001',
 '2/95',
 '05/2007',
 '9/8/1980',
 '10/1992',
 '11/26/2002',
 '10/1995',
 '03/79',
 '3/2005',
 '05/07/1995',
 'March/1985',
 '12/15/2002',
 "'93",
 '12/09',
 'Feb/01',
 "May'04",
 '5/18/85',
 '08/',
 '05/01/2004',
 'SINCE',
 '4/86',
 '05/2013',
 '11/04',
 '4/24/2004',
 '7/09',
 '5/1996',
 'Dec2007',
 '6/1959',
 '02/2000',
 '7/12/70',
 '3/88',
 '05/06/2005',
 '06/08/2014',
 '5/02',
 '6/6/1980',
 "Apr'",
 '4/1/2014',
 '12/15/12',
 'n2007???????????????????????',
 'n2008',
 'Jun-1996',
 'n5/2014',
 '1976June',
 '5/16',
 'December-2016',
 '11/2004,',
 '5/80',
 '01/1986',
 '2014,',
 'Sep.1999',
 'Feb-2010',
 '9/72',
 '06/16/2005',
 '1/18/2001',
 '12.2009',
 '6/2012',
 '4/96',
 '01/2002',
 '02/10',
 "May,'15",
 '7/2/1980',
 '12/18/2012',
 '01/13/2000',
 'Apr,',
 '2016????????',
 'n1990',
 '06/1975',
 'July-2011',
 '9/2007',
 '05/2004',
 '8/14/1980',
 '10/31/2019',
 '8/83',
 '5/76',
 '1/1989',
 '7/1987',
 '2014?????????????????????',
 'n07/2016',
 'January1991',
 '07/07',
 '5/21/2000',
 '6/09',
 '6/62',
 '1/30/2018',
 '/2001',
 '05/08/2017',
 '03/2001',
 '21,1980',
 "Summer'08",
 'December-2015',
 '1/97',
 '04.2011',
 '..........................................................',
 'n1992',
 '5/30/2014',
 'July,1992',
 'March---2008',
 "Dec'06",
 'n*Spring',
 '5/10/1980',
 'Jun.,1997',
 '09-2009',
 '2007Jun.2011',
 '2010)??????????',
 '6/1982',
 '6/22/2000',
 '3/',
 'Feb/2002',
 '08/01/1986',
 'December2002',
 '12/97',
 '2/69',
 '1990?????????????',
 '12.11.2005',
 '12/16/1989',
 'June/2007',
 '2/1976',
 '04/1989',
 'Aug/1990',
 '5/87',
 'Oct.2014',
 '08/1997',
 '10/26/2012',
 '08/90',
 '10/18/2012',
 'n14,',
 'Jul/2000',
 '1/91',
 'February,1989',
 '2011)',
 '8/1982',
 '12/2013',
 '2/10/1980',
 '9/21/2006',
 '8/2013',
 '1/1987',
 '09/15/2015',
 '05/82',
 '08/201208/2016',
 '05/16/1976',
 '`92',
 '2007/11',
 '07.03.2018',
 '09/04/2009',
 'Jan-2012',
 '09-1988',
 '10/10/2012',
 '12/1964',
 '05/1996',
 '21/07',
 '08/2014',
 'November,1995',
 '1/4/1980',
 '05/00',
 '06/02/2009',
 '4/1',
 'nTransferred',
 '2/2007',
 '2011/06',
 '6/85',
 '05/08/2004',
 'Spring/2001',
 '4/2/2009',
 '09/2017',
 '09.1979',
 '5/2004',
 '05/95',
 '9/09{11/11',
 '6/1965',
 '1/62',
 '04.2015',
 '9/2017',
 '01/08/2006',
 'Spring-2015',
 '9/86',
 '8/2001',
 '9/71',
 "Spring'98",
 'n12/91',
 '1st',
 '05/31/80',
 '02.11.2008',
 'May/1997',
 '04/2016',
 '02/2003',
 '8/11/12',
 '4/2001',
 '3/01/2002',
 '6/16',
 '02/05',
 '04/91',
 '02/07/15',
 'Aug*',
 'Aug.2011',
 '1/10/03',
 '5/7/2014',
 '/2012',
 '8/1988',
 '4/19',
 '5/1989',
 '07/28/05',
 'September-2014',
 '06.1979',
 '10/22/1980',
 'May1978',
 'December21,',
 '13%',
 'MAY2011',
 '12/01/2005',
 '07/26/2012',
 '04/15',
 '`09',
 '3/25/03',
 '10/2003',
 '1/1988',
 '7/2012',
 '4.49/5',
 'Oct-16',
 'June2003',
 '4/1985',
 '2/2/1996',
 "Aug'05",
 '12/91',
 '03/12/2003',
 '4/',
 '10/96',
 'Sep-2013',
 '05/13/12',
 '5/24/03',
 '5/16/14',
 '03/18/08',
 'June/1989',
 'Jan/2003',
 '1/2017',
 'Sep.91',
 '02/02/2009',
 'APR',
 '`93',
 '2/1/2014',
 '9/2011',
 '1/13/2003',
 '01/1993',
 'SEPT',
 '12/10/2013',
 '6/1973',
 '2/1995',
 'December-2008',
 '12,',
 'Jan.1994',
 '7/2015',
 '12/16',
 '07/1983',
 '2122,',
 '09/89',
 '05/02/2016',
 '6/2003',
 '04/24/2015',
 '10/8/98',
 '2/2009',
 '06/1969',
 '07/92',
 '22,',
 "Jun'80",
 '05/26/87',
 '1996.09',
 '2/2008',
 '1/1980',
 'August.',
 '08/18',
 '05/11/07',
 '07/2015',
 'October,',
 '09/2019',
 'July-2009',
 '06/15',
 '6/20/2009',
 '03/1984',
 '07/2002',
 '9/8/2007',
 '2/63',
 'n06/2005',
 'August.1983',
 'May/2014',
 '1/2019',
 '06/24/2012',
 '01/05/2013',
 '06/2000',
 '10/15',
 '8/84',
 '03/26',
 '05/17/2015',
 '25/2015',
 '6/12/2015',
 '2/2013',
 '......',
 'n1998',
 'Oct-1992',
 '10/2/2006',
 '12/76',
 '10/06/1977',
 '05/13/1979',
 '6/30/14',
 '6/1974',
 'July2005',
 '05/17/1981',
 'May/2016',
 '09/02/2008',
 '08/97',
 '4/1/1980',
 '2/80',
 'December2006',
 '08/06/2009',
 'August-2016',
 '03/1991',
 '7/76',
 '16/2016',
 '8/1/07',
 'July-2016',
 'Dec,2012',
 '8/04',
 'Dec.99',
 '05/1995',
 '16.53/20',
 '04/16/2015',
 '11/79',
 "Fall'99",
 '09.1984',
 '19!',
 'n30,',
 '12/1978',
 '06/13/1975',
 '11/83',
 'June2005',
 '03/2003',
 '05/01/99',
 'n22,',
 'Fall,2000',
 '03/08/1989',
 'March/1983',
 '6/99',
 '12/1997',
 '06/1995',
 'June-2004',
 '8/02',
 '12/1987',
 '9/2014',
 '6/06',
 '(2004',
 '3/67',
 '12/17',
 '06/1970',
 '6/1980',
 '05/66',
 '11/96',
 '9/24/1978',
 'May:',
 "June'18",
 '02/00',
 "May'2011",
 '4/14/2016',
 '05,',
 '8/19/2014',
 'May-1995',
 '08/18/01',
 '06.2012',
 '3/1973',
 "Jun'06",
 'June/2005',
 '8/1999',
 '12.2007',
 '5/97',
 'nJune,',
 '07/15/2014',
 '1/31/03',
 'Feb/2001',
 '12/1985',
 'DEC.',
 '10/19/2016',
 '2016/17',
 'Jul.,',
 '5/9/2010',
 '2003.08',
 'May.2002',
 '4/2012',
 '9,',
 '87.04',
 "Jul'",
 '1997/98',
 '5/28/1980',
 '07.01.2000',
 '-',
 '12/15/01',
 '1/61',
 '2006????????????????????????????????????????????????',
 '2008/02',
 '1/1976',
 '8/25/1980',
 '08/01',
 "'03",
 '2/94',
 '17.53/20',
 'Aug-2011',
 '02/2005',
 '07/2012',
 '06/2003',
 '01/01/2015',
 '08/01/2008',
 'Oct-2001',
 'nSummer',
 '12/7/2013',
 '8/10/1981',
 'January,',
 '01/13/02',
 '6/1968',
 '10/10/2002',
 '1/31/2019',
 '12/01/2004',
 '05/11/2014',
 'March,1995',
 '12/13/2007',
 'Spring1993',
 'March19th',
 'June-2013',
 '6/3/79',
 '8/2005',
 '09.1988',
 'Present',
 'July2002',
 '5/79',
 '07/20/2017',
 '13/',
 '08/31/1978',
 '02/08/2008',
 'until',
 '8/11',
 'Jun,',
 'July,1998',
 '7/29/2015',
 'March.',
 '9/2016',
 '06/30/2015',
 "'75",
 'Feb/',
 '05/05/01',
 '11/21/2000',
 '01/2010',
 "Sep'04",
 '6/02',
 'December1993',
 '12/20/1997',
 '____',
 '2006/07',
 '5/93',
 '2nd,',
 'June,27',
 '06/27/2004',
 ...}

In [113]:
for s in container:
    if s.find('/') >= 0:
        print(s.replace('?', ''))

8/1986
12/29/17
10/11/
08/01/1978
1997/07
05/21/1993
05/10/2011
5/10/2016
3/06
6/13
09/2015
4/27/96
07/23/1996
4/1997
12/2010
1/15
10/1/96
6/20/1980
05/1968
05/31/2007
05/1971
8/10/1984
5/22/88
09/11
08/27/2009
1/2013
11/84
9/3/09
01/1999
8/1989
05/1993
02/96
02/02
03/1999
4/23/2010
10/1988
2/5/1980
05/03/72
5/1/1992
8/18/2016
7/91
01/2004
11/10
2/1986
7/1/1987
Jan./1990
06/01/2005
1/1991
02/1988
May/1976
5/1988
3/13
07/1997
11/2013
9/89
08/19/1996
19/67
1/93
08/2019
12/09/1998
5/4/75
05/14/2011
01/15
5/2012
05/27/2011
5/17/2011
9/11
5/2009
06/01/1989
08/20/2000
04/24/2009
2016/02
9/25/2018
5/30/1983
9/1988
2/28
5/27/2007
7/2000
5/24/2003
09/10
10/31/2009
June/July
01/1979
11/08/2011
12/11/2009
5/2003
12/31/2012
5/1993
10/2011
09/04/2008
8/06
07/11/2001
8/10/1980
2/15/03
2/26/2018
5/24/1997
8.27/10
1/3%
May/2006
6/1992
02/1977
04/1988
03/10/04
8/12
6/20
01/88
2/1981
01/26/2018
5/13/2001
05/88
06/75
01/
08/86
02/15/2015
06/30/15
1/95
5/13/2006
n06/2014
3/26/2013
11/2018
04/1983
6/11/2011
12/14/2014
01/07/1997
04/12
5/1978
6/27/2001
7/4/1980
9/15
n05/2005
09/08/2000
12/1/2016
3/27/2015
02/93
Apr/2005
06/95
10/05/2015
12/15/00
November/2010
5/17/2001
9/16
11/17
4/26/07
6/81
01/00
06/1981
10/01/2000
7/92
01/12/2016
6/2009
6/73
2014/2015
07/27/2005
24/81
01/30/2012
7/31/2016
05/1981
09/15/2006
03/2009
6/1963
02/01/2003
02/12/2010
Fall/08
12/13/1983
12/1966
3/97
12/15/2008
08/10/2004
05/11/2016
08/00
05/1987
6/1/1988
05/1985
10/12/1993
08/01/1991
12/19/2015
06/2007
May/1973
09/17/03
08/07/2015
01/24/1971
11/2009
9/1977
1/1985
2/10
8/1991
01/1985
11/1982
10/99
Jan/2009
8/12/08
03/2006
05/15/2014
06/14/1980
05/10/2015
09/1980
06/04/1992
5/03/2000
08/2005
05/31/1991
08/04/2016
6/26/2001
05/2010
2/1998
6/14/2001
3/31/2016
8/30/1994
8/89
05/23/1993
12/1980
12/31/2019
09/09
3/84
12/
7/86
06/1979
3/1985
4/26/2001
2007/02
12/2000
8/86
5/6/95
9/29/2011
10/19/2011
07/02
12/31/2013
12/01/2011
Dec./1984
10/10/2014
12/2006
June/1986
10/10
5/19/2001
6/01/2012
07/10/2002
05/1989
5/85
06/19
1/7.
5/08
2/8/2009
10/03
12/2019
5/1980
05/31/2018
5/31/2004
05/78
2/79
04/20/2007
2/1983
4/15/2016
08/1978
7/03
12/20
03/18/2014
5/1/10
06/01/2018
04/90
11/12/2013
06/09
04/16/2013
09/2016
2012/03
18.49/20
12/19/2006
8/31/15
05/12/2006
07/23/15
1/2009
10/02
3/1998
09/88
10/2009
6/12/2001
9/81
07/90
7/2016
06/16
7/65
5/20/2000
02/28/2002
8/20/2018
05/01/
3/1988
07/23/2014
18.52/20
08/28/2009
06/1991
02/92
5/2//2016
2016/01
7/2002
10/10/12
04/2007
7/27/1980
6./12
11/03/2010
6/93
9/17/1980
2/1988
05/22/2004
9/07
05/07/2016
04/1992
Feb/1994
10/2012
December/2008
5/18/1980
10/01
08/2007
06/13/2017
11/2002
23/2016
9/14/1980
1/1/2016
8/24/2015
2/4/2015
08/12/2016
8/12/2009
8/2016
06/1985
12/20/2010
2/3/2015
12/5/2017
08/11/2013
5/8/2001
04/1972
6/5/74
9/20057/2009
01/76
August/2000
07/1994
11/87
05/1979
9/25/1980
4/17/2009
77/90
Aug/2017
1/1994
09/01/1974
1/24/2011
1/2020
3/1995
03/2018
7/1989
09/05/1997
11/1990
5/67
02/01/1998
08/2004
08/08/2002
10/93
12/87
5/12/12
9/80
12/22/2001
2/95
05/2007
9/8/1980
10/1992
11/26/2002
10/1995
03/79
3/2005
05/07/1995
March/1985
12/15/2002
12/09
Feb/01
5/18/85
08/
05/01/2004
4/86
05/2013
11/04
4/24/2004
7/09
5/1996
6/1959
02/2000
7/12/70
3/88
05/06/2005
06/08/2014
5/02
6/6/1980
4/1/2014
12/15/12
n5/2014
5/16
11/2004,
5/80
01/1986
9/72
06/16/2005
1/18/2001
6/2012
4/96
01/2002
02/10
7/2/1980
12/18/2012
01/13/2000
06/1975
9/2007
05/2004
8/14/1980
10/31/2019
8/83
5/76
1/1989
7/1987
n07/2016
07/07
5/21/2000
6/09
6/62
1/30/2018
/2001
05/08/2017
03/2001
1/97
5/30/2014
5/10/1980
6/1982
6/22/2000
3/
Feb/2002
08/01/1986
12/97
2/69
12/16/1989
June/2007
2/1976
04/1989
Aug/1990
5/87
08/1997
10/26/2012
08/90
10/18/2012
Jul/2000
1/91
8/1982
12/2013
2/10/1980
9/21/2006
8/2013
1/1987
09/15/2015
05/82
08/201208/2016
05/16/1976
2007/11
09/04/2009
10/10/2012
12/1964
05/1996
21/07
08/2014
1/4/1980
05/00
06/02/2009
4/1
2/2007
2011/06
6/85
05/08/2004
Spring/2001
4/2/2009
09/2017
5/2004
05/95
9/09{11/11
6/1965
1/62
9/2017
01/08/2006
9/86
8/2001
9/71
n12/91
05/31/80
May/1997
04/2016
02/2003
8/11/12
4/2001
3/01/2002
6/16
02/05
04/91
02/07/15
1/10/03
5/7/2014
/2012
8/1988
4/19
5/1989
07/28/05
10/22/1980
12/01/2005
07/26/2012
04/15
3/25/03
10/2003
1/1988
7/2012
4.49/5
4/1985
2/2/1996
12/91
03/12/2003
4/
10/96
05/13/12
5/24/03
5/16/14
03/18/08
June/1989
Jan/2003
1/2017
02/02/2009
2/1/2014
9/2011
1/13/2003
01/1993
12/10/2013
6/1973
2/1995
7/2015
12/16
07/1983
09/89
05/02/2016
6/2003
04/24/2015
10/8/98
2/2009
06/1969
07/92
05/26/87
2/2008
1/1980
08/18
05/11/07
07/2015
09/2019
06/15
6/20/2009
03/1984
07/2002
9/8/2007
2/63
n06/2005
May/2014
1/2019
06/24/2012
01/05/2013
06/2000
10/15
8/84
03/26
05/17/2015
25/2015
6/12/2015
2/2013
10/2/2006
12/76
10/06/1977
05/13/1979
6/30/14
6/1974
05/17/1981
May/2016
09/02/2008
08/97
4/1/1980
2/80
08/06/2009
03/1991
7/76
16/2016
8/1/07
8/04
05/1995
16.53/20
04/16/2015
11/79
12/1978
06/13/1975
11/83
03/2003
05/01/99
03/08/1989
March/1983
6/99
12/1997
06/1995
8/02
12/1987
9/2014
6/06
3/67
12/17
06/1970
6/1980
05/66
11/96
9/24/1978
02/00
4/14/2016
8/19/2014
08/18/01
3/1973
June/2005
8/1999
5/97
07/15/2014
1/31/03
Feb/2001
12/1985
10/19/2016
2016/17
5/9/2010
4/2012
1997/98
5/28/1980
12/15/01
1/61
2008/02
1/1976
8/25/1980
08/01
2/94
17.53/20
02/2005
07/2012
06/2003
01/01/2015
08/01/2008
12/7/2013
8/10/1981
01/13/02
6/1968
10/10/2002
1/31/2019
12/01/2004
05/11/2014
12/13/2007
6/3/79
8/2005
5/79
07/20/2017
13/
08/31/1978
02/08/2008
8/11
7/29/2015
9/2016
06/30/2015
Feb/
05/05/01
11/21/2000
01/2010
6/02
12/20/1997
2006/07
5/93
06/27/2004
1/80
1964/66
6/4/2013
08/23/2012
11/2015
12/21/1992
2/10/2017
08/07/2010
02/11/2014
09/83
2/2012
3/30/1980
04/2019
Feb/2004
5/14/11
06/73
6/25/2009
08/1973
10/1985
01/05/2017
07/1991
3/20/2010
01/2008
9/1983
05/03
07/1993
6/1986
6/95
2007/08
03/2019
9/1989
7/2009
6/90
8/31/98
02/2014
18.45/20
06/28/2000
01/08
2/29/1980
6/1999
12/15/2012
8/31/2016
11/14
June/2012
9/99
03/31/2008
03/92
12/1984
03/74
06/01/1990
01/12/16
June/1988
2/06
02/1992
8/2008
2/92
1/81
Jan/2016
8/1975
9/2009
5/2015
6/9/79
7/84
12/01/2006
6/20/2013
05/14
5/17/1998
5/29/97
05/19/1995
n03/2016
12/31/17
1/1969
8.04/10
04/03/2009
08/1981
08/31
6/3/2001
9/97-1998
2000/03
09/05/2014
1/2
12/84
May/2003
07/1979
10/13/2015
Aug/2018
06/01/2012
1/3,
8/65
04/20/07
12/11/2010
8/72
5/94
10/1/11
/1992
12/02/2002
4/08
07/03
1/2001
n09/2018
2/12/2008
02/1993
10/14/2016
10/23/2014
10/14/1980
08/2010
2/1/2001
08/1987
04/19/02
3/23/1980
5/11/08
12/1975
11/20/2012
February/1987
01/1987
2/2003
3/19/2010
4/00
05/1970
2/59
08/06/2013
5/1991
07/1987
4/09
03/30/2011
2/2015
02/06/2011
1/56
03/1995
07/1980
4/15/2008
06/
06/92
3/92
6/02/91
05/18/2007
2016/08
07/2003
5/89
06/22/1988
12/10/1981
05/2012
08/22/2011
1/1997
06/1977
05/91
05/
4/23/2001
2002/1996
Nov/2004
8/19/2010
5/23/97
22/05/2003
12/14/82
8/10/1990
5/10/2002
08/1985
9/92
3/1979
08/24/2015
5/15/2001
1/24/1980
07/1996
4/1984
3/22/2004
01/15/2008
3/1994
9/84
1/2007
2/2000
n6/2016
6/71
08/16
12/06/2011
06/27/11
June/2010
5/11/1985
02/17/2011
08/06/2016
06/07/2013
Dec./2007
06/1980
5/14/97
08/2003
05/08/2013
06/02/2000
07/1988
08/12/2015
03/25/2013
3/2001
06/90
9/12/2013
7/98
June/2000
02/06/13
12/90
6/1969
8/64
20/2009
6/67
8/01
Sep/2011
8/69
02/03/11
8/94
01/10/2010
07/20/1990
August/2002
1/02/96
05/12/2017
09/00
2/12/1986
8/17
6/24/1980
05/08/2016
05/20/1973
06/01/2004
05/2019
05/71
8/1997
1/1996
05/93
n04/16
06/18
6/30/2017
30/90
01/20/2013
4/1996
11/2016
8/20/2007
6/1984
09/2009
11/2017
12/93
8/95
07/14
09/90
4/9/1980
7/27/12
1/57
17.09/20
02/24/2014
01/02/2009
5/31/2001
03/04
10/06/1994
04/2003
Mar/2016
05/19/07
6/17/1980
12/1995
01/16
16.70/20
09/1998
7/1980
August/14
Jun/
04/16/2009
06/16/1993
04/26/2008
11/1974
4/82
09/30/2017
5/20
05/2016
01/87
5/2014
11/01/2009
12/10
12//18//2004
June/1984
05/18/1992
6/8/1979
May/1993
Spring/17
5/16/1980
10/25/2013
09/
12/10/09
March/May
06/27/2001
03/1980
December/2012
03/05/2014
6/89
10/22/1998
01/90
05/96
12/1977
2/1957
07/1984
12/03
1/88
06/1967
05/86
2017/05
05/07/2013
1/9
08/89
04/02
4/26/03
8/20/90
May/1985
8/97
10/02/1976
06/71
18/67
12/11/2015
September/1999
05/08/2011
04/09
01/09
02/01/2014
2/1984
/2016
5/1/92
6/2018
2/13/2018
03/11/2010
6/1979
2/04
8/05
2002/05
07/2016
1/
05/26/2013
08/01/2002
9/22/2008
07/2013
05/1977
6/94
05/2009,
04/05
11/09/09
6/1966
11/01/07
07/2014
9/15/12
Summer/2001
06/1996
04/2018
4/29/1980
60/60
07/1992
1/19/1980
7/1996
07/96
08/1994
12/63
6/1/2017
3/6/2013
1/05
December/1993
08/2012
9/10
Aug/Sep
07/97
05/03/2003
06/94
12/1990
8/1972
8/29/2013
08/10
8/1/2009
03/14
5/13/78
10/28/2012
02/24/2005
08/03
07/24/1996
8/96
2/08
8/1987
5/13/2005
3/1992
3/1993
1/2008
9/78
6/7/98
07/Jun/2010
3/1984
5/23/2010
02/
6/1990
09/25/2014
02/1972
06/17/2008
05/12/2002
03/1981
8/1/2001
09/23/2017
05/13/2000
01/99
11/70
9/28/1998
06/1986
03/15/2017
6/1985
03/2008
Summer/2006
2/1987
6/97
02/27/2009
7/1973
2/2010
5/24/1992
9/94
17.57/20
01/00/2000
01/2014
2004/2006
03/2005
05/27/2004
7/1997
6/25/2001
12/1972
05/2017
1/02
01/11---)
04/24/2011
02/02/1984
3/83
05/01/1979
9/1999
05/2003
15/10
06/24
03/24/2007
February/
5/1998
08/1992
09/12/03
5/17/2009
08/2011
April/
5/1973
9/1974
10/2006
05/15/1984
70/70
5/22/07
07/1989
8.34/10
12/1969
6/58
3/1976
07/12/2007
2/17/2015
n07/00
4/11/1980
10/01/2015
11/12/1999
10/31/2005
9/96
8/1994
1/87
5/31/2016
5/99
09/1989
8/2015
3/17
11/2000
8/1998
67/70
12/31/2004
4/27/2011
05/01/1991
2/2017
09/2002
1993/06
9/2015
n06/93
1975/78
08/85
4/16
1/14/1980
05/2000
07/20
8/88
1/1992
5/15
5/16/2002
2/6/2009.............................
09/199407/1997
6/18
2/24/97
5/16/99
01/11/2011
05/2018
2/6/97
09/1992
09/2003
05/11/2001
11/08
06/15/2013
5/15/2010
12/10/99
5/8/1980
7/1990
11/1992
6/1983
10/31/2016
16.22/20
5/07/2016
8/2018
02/19/2004
5/17/1980
8/79
06/12/2009
08/1993
01/11/99
6/17/2008
6/15/2001
07/88
05/1976
09/22/00
Oct/Dec
5/17/86
07/27/2015
1/17/2016
05/80
08/20/2005
02/1991
03/2000
01/02/2007
3/4/1980
22/2017
9/2002
July/2002
04/24
05/01/2008
1/2016
07/05/1978
12/02
8/1/83
12/1/2011
11/2007
7/10/2007
9/2008
6/72
04/16/2014
08/1974
8/14/2008
3/85
11/1997
9/08
8/2000
4/1988
09/1984
07/01/2013
1/13/1980
6/2016
05/1983
May/1996
03/29/2019
06/01/1996
9/1993
01/20/1995
04/25/2012
09/23/2008
1/1995
02/2018
4/14/84
09/1994
08/15/1975
3/1991
01/2013
09/82
4/1998
06/1974
7/31/1994
02/06/2004
n08/2017
12/31/2007
05/12/
03/1998
7/01/93
07/82
8/08
06/30/1994
01/12/2009
Nov/2011
2/1996
06/30/2018
12/99
12/2011
12/19/2014
6/19/2001
03/19/2009
8/15/90
2/89
1/88,
03/23/2006
5/10/2001
01/28/2012
August/2016
01/14
05/07
7/1965
06/1984
5/18/2007
10/04/2002
09/10/2012
11/82
5/27/87
12/1983
7/1995
05/14/2012
05/15/2013
3/15/1979
8/2007
05/06/2006
12/10/2011
Spring/Fall
03/23/2012
05/31/2008
09/12/1991
6/04
5/83
04/2004
02/85
4/30/2001
5/27/2001
12/17/2008
5/1/1976
08/12
9/5/2015
JUNE/1999
7/26/1980
8/23/08
06/15/2012
12/15/2017
05/21/1982
10/17
12/09/2012
07/79
Aug/2000
12/07
05/06
8/2006
12/2012
August/2011
12/1988
Feb/1990
01/09/99
8/1993
06/79
n08/2009
2/51
07/95
6/5/11
12/2018
5/78
07/01/2003
3/18/10
12/17/2011
8/1974
Feb/2016
08/2000
05/01/2015
09/30/2006
07/09/09
1/31/15
18/20
08/74
6//2016
05/02
07/26/94
2/1991
6/23/2001
07/2005
MAR/2017
6/1997
03/24/2004
11/2004
12/23/
1/07
5/2002
6/12/05
12/16/90
05/1974
6/07
5/18/80
8/21/2007
05/2005
6/23/2016
Dec/2007
10/17/1980
5/2008
05/20/2008
June/2001
10/16/1996
3/2019
1/99
07/01/2019
12/21/2001
9/90
12/12/17
8/14/09
10/1994
01/20/2009
7/2005
05/15/2011
10/1971
02/14/1986
11/03/2001
6/1970
December/2005
n04/1998
6/74
May/July,
5/29/75
5/25/1975
6/28/2001
01/07/2014
5/11/91
07/2017
5/2017
9/6
07/05
04/2009
8/20
8/9/1980
8.95/10
n05/
6/7/2010
1/19
4/2015
01/2019
5/6/1980
10/25/1980
03/03/2016
12/88
2/2018
03/
08/92
8/5/99
05/11/13
4/8/2015
18/09/2013
August/2018
4/13/2001
Jul/1995
/2013
3/23/16
7/6/1980
n08/2015
04/12/2008
07/18
03/1973
12/15/1995
08/31/1995
02/27/2002
9/2006
03/89
12/67
09/2006
05/1998
12/10/81
5/1965
08/1990
1999/06
06/20
2/1980
01/05/2010
08/2018
02/2013
5/6/03
06/30/2016
10/1980
8/29/2006
1//2014
06/2010
06/07/13
July/2007
6/2004
06/15/1994
11/01
10/1/2010
11/12/98
June/1996
4/25/06
10/13/1980
11/3/2015
10/9/1980
June/2003
May/2013
9/04
07/12/2013
12/1/94
9/4/2015
4/2011
16/09/2001
08/1988
1/04
09/1995
2003/07
03/16
7/30/1980
01/2007
04/1973
n11/1998
Jun/1991
08/2015
Dec/2014
11/01/2012
02/1990
04/1985
2/24
6//2010
July/2010
05/18/08
06/2013
08/08/2009
1998/2000
08/1967
06/83
9/05
December/1991
April/Summer
05/03/97
7/93
09/2018
05/1990
01/06
01/2016
07/31/1978
09/10/2008
12/30/2014
3/1977
07/30/1986
12/5/15
02/1999
09/08/2011
06/01/1992
1/2014
05/16/1983
11/13/1999
7/1994
09/23/2006
12/79
5/15/13
03/1977
4/2004
12/21/1973
05/20
05/13/2011
8/1995
n12/2003
/1997
8/18/2010
08/12/2008
5/00
03/14/2002
06/24/2003
May/2009
03/1989
03/76
5/65
01/09/2009
01/2006
10/07/08
2/09
June/94
08/03/2000
09/14
May/August
n03/2013
7/88
5/2000
5/15/88
03/04/2011
06/02/1985
11/17/2009
1/30
6/12/1980
5/66
8/1/03
4/20/2001
6/2/2001
June/1998
2/29/2016
5/1984
6/21/2001
5/6/2001
6/29/2001
05/13
12/23/2011
Current/2019
05/16/1999
12/23/2012
1/2005
09/03
12/15/2016
3/13/1980
06/24/2017
12/19/98
1/11/1980
3/2017
06/1971
7/89
12/1994
07/16/2010
9/2004
1/1972
06/1972
8/20/2016
12/2/2013
10/91
9/98
11/89
04/11/2007
12/07/1987
05/2008
01/95
09/13
06/16/2003
2/20/1980
3/1996
Jun/1990
2014/12
05/10
9/7/2006
12/12/1969
2/
10/2008
4/30/88
04/87
April/2009
April/May
08/1977
2000/05
1/31/2016
08/11/2006
21/05/2002
09/95
6/1/2002
19.00/20
5/82
1/24/09
3/5/2008...........................
09/12
10/2002
09/1999
10/15/2010
6/1991
06/2003
06/13
06/2000
1/2011
06/2019
1/12/10
Feb./1997
7/96
02/05/2013
03/1996
2/27/17
07/86
1/30/1980
5/9/2001
3/1990
06/16/1987
03/1986
05/10/2016
08/04/2003
6/82
02/27/09
8/24/2016
09/2012
5/96
06/09/02
05/09/92
5/22/94
5/03
10/24/08
06/2016
06/13/1970
12/05
30/07/1996
6.94/10
02/2008
5/7/2001
6/7/1980
01/1997
6/98
12/98,
5/25/84
2/2006
3/04
05/06/2000
8/17/2016
07/28/98
12/72
8/25
08/25/2008
05/1994
May/2001
2/24/2015
June/2013
11/2010
02/2016)
6/1994
08/82
7/1/99
07/1986
08/19/2005
2/1982
08/23/00
4/1966
18.02/20
08/11/2007
21/03/1987
12/9
01/82
06/1987
12/15/2009
2/02
3/16
06/1997
12/1998
6/1/2013
02/14/2007
7/1986
9/1992
05/31/2016
3/95
12/02/2013
n06/2012
5/15/
07/09
08/2009
11/88
2/1997
2/1994
9/12
March/April
4/2009
05/12/99
5/17
11/13/14
6/17
9/20/17
12/2005
9/1982
2/13/10
02/15/2005
n11/2012
04/2001
08/08/1999
4/1994
03/18
5//2015
7/2010
July/1999
3/27/2012
09/02
4/55
07/00
18.26/20
1/90
09/27/2013
12/2001
11/13/2000
01/06/2014
8/16/11
2/18
Jul/2008
06/2017
5/24/1980
Jan/81
01/1981
July/04
6/4/1980
05/2006
5/18/2008............................
05/10/2003
06/03/1970
3/1975
01/98
10/1982
01/03
Dec./2001
08/15/2003
11/95
2/65
12/2004
05/92
18.44/20
12/73
06/2001
4/13/2012
5/95
04/13
05/1992
1/2000
9/13/2007
09/25/2002
08/1998
09/06
99/00
16.60/20
15/20
6/30/1982
Mar/1994
06/85
06/98
12/14/2005
07/31/2017
09/13/02
06/84
22/98
2/87
5/11
3/15
8/1964
04/10/2010
04/01/2006
6/2000
3/1983
8/8/2001
05/May/2014
01/07
1/17
01/24/2007
12/14
04/2012
3/26/2016
02/2004
08/02/2002............................
12/09/98
06/72
4/03
4/15/16
07/31/1999
1/84
06/24/2004
17/20
5/60
n10/13/2015
01/1968
2/6/2016
06/14/2013
03/2016
6/3/06
9/92-1994
5/1987
8/1992
5/10/2013
04/1993
2/27
5/1975
8/8-15,1996
04/03/2018
04/00
6/10/2001
1/26
12/1993
9/28/2010
09/30/1995
2/6/2009............................
01/12
9/91
May/2005
5/1/1998
7/16/1980
04/07/07
2/2001
4/1978
05/16
09/81
6/8/1985
2/15/12
11/1998
09/10/2016
06/88
10/92
2/1999
05/83
2/2016
6/'75
8/20/1980
06/13/1997
4/8/1980
1/18/2012
17.19/20
09/97
06/1998
1/1998
n12/3/2009
n12/17
4/7/1980
1/1/1980
8/00-2005
9/85
04/17
01/10
8/29/1980
Feb/1996
6/70
12/14/77
8/23
02/2012
2/53
06/13/2013
n05/1996
5/1995
12/30/06
01/14/82
9/27
7/04
21/12/2009
03/24/2008
04/21/2012
11/92
5/25/2016
05/2008
1/7/1994
3/96
06/1994
04/28/2014
9/26/1980
10/19/2012
09/05
11/1989
Jun/2011
1/29/2017
09/199007/1994
11/25/2016
5/71
05/12/2009
11/2001
9/12/1980
10/30/2015
10/03/2013
15.35/20
7/1998
08/26/1994
02/21/1974
03/2010
8/9/01
8/1996
n07/03
04/2005
7/8/1980
05/76
Spring/12
05/2014
06/01/1982
August/September,
06/02
09/1993
04/96
05/01/2016
5/2019
04/97
2/1992
2/15/1980
7/2007
9/77
4/07
10/27/2014
5/5/2014
6/2006
4/4
08/1980
Summer/Fall
5/8/2015
05/04
03/94
6/1976
10/21/1980
6/23/1980
03/2013
3/90
8/25/2015
2/8
n05/2016
07/98
Dec/1995
7/15/2001
5/28/2001
7/2011
8/29
12/10/11
05/05
1/28/2011
5/1985
5/9/08
1/38
08/11
07/01/1976
11/77
09/1987
3/14
04/29/2013
10/6/2011
03/17/2017
6/13/05
10/29/2004
10/07
10/87
4/12/1980
2/01
8/03
1/25
7/1993
5/3/2013
06/20/2008
12/10
6/2011
3/94
5/15/1989
5/21/93
6/1996
Jan/2000
July/2006
6/2014
12/13
2/19/2001
11/13/2014
5/2018
6/59
12/11/2008
05/13/14/05
07/31/1997
06/30/05
8/8/1980
1/92
09/76
3/2006
5/2004,
10/2000
7/1976
01/02
December/2007
12/17/1983
05/1986
November/December
4/30/1977
01/04
12/2017
10/31/09
10/1986
8/31/79
5/1/2013
09/2005
02/2001
01/19/2016
04/28/2005
September/1979
9/01
03/1988
1/54
10,/1986
6/2008
8/82
06/08
6/17/11
04/2015
08/1999
12/04
12/08
7/2003
04/1996
08/1984
08/30/99
15/10/2001
May/1986
12/18/2009
5/8
08/98*08/03
11/22/2014
10/2015
11/03/2014
3/28/2012
6/86
3/2014
05/31/16
12/1/10
2/13
6/1/1987
n05/2013
1/31
08/15/2014
5/2016
05/17/1996
02/19/2014
8/76
12/16/1997
05/08/2003
6/88
9/14/10
08/2016
04/01
04/01/2015
Jun/2008
04/11/1991
6/15/96
8/1984
2011/08
09/2011
8/1977
09/30/2010
08/87
10/03/2016
02/1987
12/10/2016
4/13/1980
n06/2006
20/20
06/30/1990
4/04
03/93
November/2004
02/82
04/2014
12/95
3/1987
2015/16
06/99
Spring/1997
02/01/2019
06/82
07/13/06
02/15/07
12/96
5/07
5/2006
4/12/2001
December/
03/15/2005
9/2013
2/12/2014
01/1989
6/2/2000
07/2009
5/10/91
1/98
1/71
12/22/16
06/1973
Jun/74
06/12/1971
6/3/1980
3/26/
5/14/2001
8/81
6/1981
12/12
02/2016
10/90
08/19
9/24/11
01/29/2004
06/29/12
5/91
12/23/2013
6/12/1975
10/1999
5/5/05
9/12/16
12/22/
07/2010
11/2012
12/29/2016
5/88
9/66
5/84
July/Aug
05/12/1979
1/1979
10/08/2005
5/28/1977
4/7/2006
03/1975
2011/12
1/23/2008
06/17
12/26/13
6/8/1974
n01/2011
10/07/2002
4/1990
04/2006
1/00
1/31/2011
6/17/2001
05/07/1998
6/30/2010
5/1982
12/15/2010
6/2017
02/01/2012
2/3/1980
07/08
06/80
05/90
8/15/1993
5/73
05/1991
05/12/12
07/1990
03/31/2007
06/06/2004
June/1981
01/23/2013
5/1994
2012/06
14/09/2015
02/16
10/10/04
01/1998
8/99
16/67
Spring/Summer
02/98
2014/08
9/17/2014
8/1971
03/09/98
5/1/01
5/29/86
07/99
09/2001
08/29/2016
02/1995
Aug/2004
7/1983
09/91
9/22/03
Jul/1997
3/30/1985
03/05/2012
2/17
3/01/01
09/08
06/2008
09/27/2010
04/1994
August/September
03/27/2007
9/1991
07/1978
August/
03/18/2011
02/1997
04/12/2011
02/30
01/12/00
08/21/2013
10/8/1980
06/13/2008
10/1990
05/84
10/15/2015
12/21/18
1/2003
Jun/2009
95/96
08/1995
9/54
08/1971
9/5/2013
10/01/1993
07/91
1/34
6/28/1980
10/15/1980
05/2015
04/07
4/2007
6/4/1994
8/19/1980
17.80/20
11/06
May/2008
6/16/1980
10/1991
06/21/1990
12/18/1999
2017/04
28/02/1992
9/13
01//2017
May/2007
24/05/1987
11/3/2011
8/1962
12/21/2012
01/24/2018
5/74
1995/02
08/93
3/1967
08/01/1988
2017/08
1/10
4/2017
November/2001
7/19/1980
07/2004
1/8/2000
01/10/13
06/29/2015
5/7/94
5/2007
5/16/2012
06/31/1991
May/Oct.
6/
15/2011
2014/06
01/03/2017
04/99
08/81
12/2007
03/12
03/03
Dec/2015
6/15/1971
05/01/2007
12/1996
8/77
4/02/1979
2/8/1980
09/15/2008
6/19/1992
4/80
6/11/94
10/26/03
Summer/1995
7/2001
4/84
08/06
5/26/2001
March/99
2/2005
6/1960
6/1964
08/99
07/89
10/1977
5/14
04/2011
16.20/20
05/10/2014
03/26/2002
07/13
1/2010
05/05/1990
June/2009
9/82
2/2014
6/13/97
10/2007
08/02/2002..........................
9/1978
05/12/2014
06/93
01/2005
10/79
9/1996
11/02
n09/1995
7/17/2008
2/4/1980
02/87
02/2017
02/2009
16/12/1993
January/2007
9/97
6/1975
1/98
2/05
08/01/1981
11/30/2014
3/5/03
9/12/2015
9/9/1980
June/1993
9/1998
7/10/1980
07/16/97
Jul/2001
06/1976
6/11/2017
01/20/1993
2/1989
6/92
09/93
3/93
08/22/1999
Apr/2014
7/08/07
2/61
February/2010
22/09/2008
08/1996
2/73
06/01
07/2018
01/1983
6/88.
5/81
6/12/2011
01/2015
07/2007
07/87
07/04
May/1998
1/16/2013
6/09-2010
01/1978
8/8/2010
2/28/16
03/12/2013
4/96
9/1968
09/2014
5/2/2008
01/10/2012

05/98
11/18/1993
01/2000
8.33/10
5/01
07/30
1/6/1980
03/01/2001
7/20/2001
6/1995
07/1975
6/77
8/31/2018
05/07/2009
4/2014
08/94
n08/2002
06/2002
9/19/2010
7/22/1980
9/79
10/19/2006
03/85
08/200005/2001
10/04/1995
12/1/2015
06/15/2005
01/91
07/94
02/18/10
06/15/2001
04/2000
01/10/2009
1/31/2014
10/86
2/99
01/14/2000
6/19/1980
08/95
02/91
11/1994
06/16/2013
6/11
3/2009
07/1969
06/2012
/2009
9/00
8/29/2004
8/21/82
1/1982
3/03
03/2014
04/98
6/18/1980
10/08/2011
June/2004
May/1984
12/18/2017
2/2/1980
6/15/07
06/2006
1/8/1980
Spring/Summer,
8/1968
02/84
6/03
06/28/2001
23/172,
7/01/96
7/23/2001
01/2009
08/2002
9/18
06/10/2005
5/24/1990
5/62
12/31
07/1999
3/2003
10/31/1999
03/2002
9/03
5/18
Fall/2016
11/99
11/2019
12/2008
08/2008
10/1993
06/20/1995
5/1979
9/14
20/58
06/18/08
4/28/2001
6/01
9/98-12/2000
4/94
10/23/1980
04/25/2004
6/19
12/85
04/11
5/8/93
8/1967
09/01/1998
1/13/2013
04/05/2004
11/1984
3/2002
3/01
02/89
16/20
05/05/2017
9/2001
05/21/2012
12/31/2016
7/1978
04/1990
5/16/2008
12/1979
05/2011
03/13
1/77
09/1991
May/16
18.35/20
02/21
June/1968
11/15/08
Aug/2015
/2017
2/10/2004
10/21/97
6/18/2004
5/15/2015
06/07
06/2011
7/1982
09/2007
10/14/2014
5/18/2002
04/28/2011
06/97
7/2014
1/16
09/22/2015
10/89
4/1/2007
08/1972
03/20/18
July/2011
11/01/2010
07/17
10/2019
02/04
10/03/2008
8/1/00
8/90
9/29/1986
Fall/2008
3/2
08/17
07/1998
06/06/1975
5/12
11/93-1996
9/1995
05/1997
05/19/2018
12/01/2008
10/94
05/81
5/9/2007
03/1985
12//2013
2001/03
03/25/2010
8/23/10
05/30/1991
8/54
2/90
9/26/15
6/9/1980
05/19
8/2012
5/18/09
9.45/10
10/02/1995
12/16/2000
10/2001
10/11/1980
01/09/2003
01/97
11/30/2008
09/17/2008
12/06
23/11/1995
8/98
5/9/1981
12/05/1998
May/1992
27/03
03/17/2010
3/2016
June/1977
08/01/2014
8.4/10
2/78
5/25/2012
08/27/2017
5/25/1980
16.44/20
05/99
03/00
08/2009/12-2011
03/1992
07/1977
05/24/98
Feb/2011
07/1982
Jul/2002
02/1970
3/86
Aug/
February/2015
10/2014
10/19/2014
08/15/2010
5/2005
3/14/2008
7/28/2006
8/70
05/08/2009
06/2005
2015/04
2/86
02/13/2015
5/13/1979
2/14/1980
12/13/2014
3/23/2007
09/30/2018
2009/08
08/31/2001
7/12
05/2002
09/04
03/91
10/2017
3/2011
7/90
May/
6/8/1999
12/86
07/06/2007
n12/2015
03/77
08/17/1974
06/10
Jun/1954
6/78
12/15/1981
06/11/2009
12/81
9/1990
4/1980
05/89
03/05/2016
5/15/2016
06/1963
01/01
08/01/2015
03/2017
May/2002
11/1986
04/2017
05/05/15
1/78
1/63
1/1/1986
2007/12
1/20108/2013
6/1/1964
05/1984
09/01/1994
09/28/10
02/15/2001
2006/05
11/13
5/
5/15/1995
05/1982
1/66
2/27/2011
01/31
11/2014
05/94
Summer/1997
09/94
February/2004
7/97
11/09/1990
8/18/
03/01
11/1999
09/01/2015
6/1/70
n5/2002
15/01/2001
May/2012
9/30/99
5/8/92
DEC/96
5/1972
01/96
3/1997
07/29/2005
6/83
12/06/2004
4/1989
24/2015
Feb./1979
4/3/1980
2004/07
17.42/20
08/98
3/3/2010
5/10/2014
9/17
6/30/2014
8/1983
06/1999
10/2010
04/1987
2/1/1977
11/00
10/02/14
5/26/1980
3/76
02/03/18
7/1985
03/2015
10/08
12/15/2006
8/09/1989
08/05
6/13/1980
4/11
7/2008
03/1997
07/1966
5/23/1999
6/25/1980
02/2010
5/1977
February/98
7/83
03/2007
/2015
05/17
8/8/2013
2011/09
05/1975
7/79
5/12/98
2/88
09/07/2013
4/10/2009
1/19/2001
11/20/2011
3/1980
4/27/1980
03/27/00
5/16/2015
12/97,
5/22/2001
1/09
24/09/2014
6/2013
07/11
12/78
3/99
02/15/1985
10/24/1980
20/2001
08/76
7/
1/26/1980
04/07/2017
1995/6
3/16/1980
4/02/2013
1/6/2014
6/30/2012
09/09/2018
01/27/07
07/10
05/20/1988
3/2007
10/30/2009
1/18/2010
/20
6/23
05/1988
08/1982
10/23/2009
1996/97
1/29/1980
1/22/2014
05/05/05
10/09
7/28/2001
12/1976
5/28/04
03/16/2015
07/01/2010
4/29/2001
06/26/2012
16.92/20
5/7/99
11/91
8/2011
03/198802/1992
03/17/2014
02/09
2/1/1980
5/29/2001
06/1982
01/1961
Jan/15
03/10/1991
05/07/2010
5/86
9/1/1990
June/1997
3/21/92
05/1969
12/98
11/85
01/11/2012
10/31/2017
05/14/1999
June/2011
7/1981
02/08
11/1987
1/25/1980
08/24/2017
6/95.
09/92
06/20/1981
04/92~09/95
02/06
8/68
12/20/2001
5/16/2017
2007/06
03/26/2011
7/30/
6/96
2/20
12/1974
2008/06
02/2011
2009/12
02/2002
10/7/1980
09/1988
12/15/2005
05/08
7/2013
01/85
7/31/1996
May/1995
05/01/2005
June/24/2017
2/21/1980
8/91
9/1966
2/1961
4/06/2016
08/1979
10/16
10/01/02
09/2000
07/06
6/20016/2003
May/2000
11/2011
10/13
08/02
2000/01
5/13/2013
6/08
09/06/2012
01/11/2016
11/90
04/94
1/03
07/14/05
07/83
8/1990
2/2004
6/30.2016
09/13/2013
05/22/1987
08/10/2007
03/03/1997
Dec/2005
12/21/2004
08/31/2007
01/02/64
9/2012
02/01/05
05/1972
5/14/2014
5/2/1980
Aug/2016
9/1979
May/Jun
5/5/2015
05/07/2007
3/2000
10/97
6/13/2001
/1989
7/02
02/1985
03/90
7/1999
6/18/2001
02/1989
05/04/2007
17/72
06/03/2004
03/09
6/1998
27/04/2002
08/22/1991
12/14/2007
06/12
12/31/2014
12/12/2008
6/80
1/31/2009
11/07
01/2001
11/05/2014
7/1/2014
06/05/89
07/17/2012
03/22/2013
5/90
8/6/1980
06/05
18.09/20
9/
6/2002
09/30
10/8/2012
09/10/2004
6/2015
3/81
04/93
8/31/05
06/30/2000
9/1972
12/1968
06/10/1975
3/9/1980
9/2010
3/91
2/25/1980
4/97
5/12/2000
05/22/2017
07/12
9/06
03/20/2016
3/04/1998
10/1996
1/1999
03/17/2000
02/2007
20/05/2015
3/10/1980
5/1999
11/21/2013
10/18/1980
7/2004
05/11
05/12
05/01/2019
6/11/2001
09/14/2013
04/95
6/70,
31/20
10/20/2006
10/26/10
1/74
07/16
09/2004
9/93
n5/1997
3/21/2016
2/1993
2/93
06/2009
2/26/2001
72/02
8/1973
2/1967
12/14/2017
6/6/1999
Spring/2014
Jan/2013
5/24/2006
04/1986
4/2008
6/22/2001
04/1995
01/06/2011
07/02/1993
9/1987
5/1986
1/1981
04/03/2005
2002/06
8/1980
8/16/
02/1982
7/01/1993
11/1981
07/1974
02/27/2015
3/1989
9/1994
5/31/2008
08/07
05/01/1997
1/27
12/68
12/01/1981
08/28/2008
2001/07
11/01/2013
08/15/15
2005/11
Sept/2016
11/97
1/28/04
02/97
08/28/05
9.54/10
4/27/2013
11/15/2016
5/6/2003
5/10
03/1983
2017/03
5/27/1980
05/09/08
4/02
1997/02
6/12/99
06/11
Fall/Winter
7/27/2014
08/25/2011
19/20
/1977
08/83
5/4/13
6/16/2001
4/25/2018
/1999
7/2017
December/2004
01/1988
12/1999
7/1991
8/10
5/18/2008...........................
2/03
11/2006
05/18
7/2018
5/2013
6/20/2001
12/31/1996
07/15
05/69
4/29/95
1/01
11/27/1999
9/1/2016
4/01/00
06/31/1995
05/97
8/15/72
Jan/2008
14/10/2005
5/30
9/1/01
05/03/1974
20/12/2009
05/21/2005
n5/2015
April/1999
6/28/02
4/2006
1/1984
05/09/2009
12/2=
5/17/2002
5/04
Feb/1999
07/24
1/23/1980
6/23/2015
05/01/2001
12/1991
12/08/2006
12/17/2005
5/9/1980
6/00
07/12/1980
12/17/2014
5/22/83
4/27/2000
02/26/2014
08/07/1987
4//2004
09/87
12/09/04
4/99
06/16/2000
5/2010
3/2013
3/2015
02/30/2016
09/01
02/1996
2008/03
02/90
06/1989
2/6
2/2002
3/1999
07/2000
05/10/2008
6/1993
4/14/2011
2/13/1980
02/19/2016
04/27/2016
5/3/2001
12/16/2002
Dec/2009
02/02/97
08/08
7/12/2011
12/01/1988
05/10/1984
12/80
6/12/1987
12/01
08/20/05
5/21
03/1993
04/1999
8/1/13
January/2003
12/1981
5/5
11/1980
7/17/1980
08/97~05/2000
1/2018
10/25/2009
5/15/2006
04/10/2013
6/1971
06/06
64/10
5/18/2001
10/05/2005
24/2001
10/11
1/82
03/2012
9/95
01/14/2010
05/1994...................................
8/92
8/28/98
06/30/2008
3/5/2008............................
09/1996
6/1978
01/2017
08/10/94
04/24/1990
08/84
05/04/13
09/75
2011/04
Spring/99
09/17
09/01/2009
5/1976
5/18/2014
09/25/02
09/2013
06/30//2016
10/1987
09/1971
May/2011
05/24/09
3/31/1980
4/2013
/88
06/1992
12/22/72
8/19/2015
10/29/2016
10/10/1980
9/23/1980
01/13
02/21/2018
08/20/04
6/24/2001
8/85
12/2016
09/13/2017
Feb/2008
03/11/2016
08/96
3/08
9/2005
5/09
6/2001
02/1998
09/13/1993
12/94
7/31/2009
6/91
September/1994
8/66
5/17/1987
07/23/2012
7/23/2010
9/29/1980
4/14/1980
4/2000
11/81
4/1992
07/17/2004
6/68
09/2008
5/11/85
June/2015
29/09/2006
6/29/2017
07/13/2001
7/73
11/2003
/06
July/14/2006
5/14/2009
01/25/2006
29/04/2010
4/23/2009
12/16/2006
1/7/2016
10/16/1980
Dec/1997
8/19/99
11/18/2011
05/06/2013
01/26/2001
06/1993
18/2001
Fall/1997
5/5/1980
02/26/2018
10/10/2008
04/1979
10/26/1980
04/08
3/30/2012
1/11
02/25/2011
5/1983
11/93
8.42/10
5/12/96
06/31/2016
1/5/1980
06/2015
05/17/2019
2/1977
4/06
5/77
10/01/2010
04/1963
05/21/77
09/23/1976
07/01
11/15/97
5/16/2001
5/18/
07/18/1985
12/20/2004
05/19/2011
12/16/2016
5/29/78
5/30/2001
09/04/2012
12/89
8/8/2002
10/04
8.35/10
06/14
05/17/2001
02/01
08/01/1998
97/98
4/2010
n5/1976
10/12/07
11/1993
04/04/2018
10/4/2010
n8/97
05/15/1999
6/1/1999
10/2018
6/84
01/80
08/91
2017/12
1/2012
18/98
08/15
12/16/17
12/8/2007
August/1989
10/4/2013
6/30/2018
12/31/1983
9/1997
12/12/2013
1/53
09/15
05/11/2010
1999/05
12/13/2008
12/2/88
n8/02
8/3/2013
6/79
May/2018
6/11/97
03/2011
7/94
73/90
12/31/2006
12/11
07/07/2006
7/19/01
Dec/2016
01/1980
01/10/1983
1/12/02
10/1979
8/75
05/04/2012
Aug/2013
11/05
5/17/2014
2/11/2014
1/31/2017
3/1982
15.68/20
05/28/14
05/22/1998
03/10
6/30/2001
8/07
06/2004
12/14/2012
07/10/2006
4/2003
5/12/2001
11/15
7/95
7/26/2001
2/1968
12/2002
5/2001
5/92
06/20/02
06/18/99
10/30/2010
05/07/2005
2/15
01/1982
1/12/1980
2/91
05/15/1996
05/20/2010
5/1974
02/1978
August/2009
07/
05/1973
8/2010
06/03/2008
07/85
01/01/2016
1/27/2007
12/18/1993
5/1981
01/05
03/07
7/1988
5/13/2011
1/31/09
12/92
12/30/2015
01/2012
02/12
06/00
07/199905/2004
July/91
5/14/2011
1986/1996
09/1997
n07/2009
2011/11
04/2002
4/1993
3/27/80
01/1990
18.80/20
5/13/90
04/19/2015
May/1988
1/2004
Sept/1997
9/2003
1/11/07
07/84
07/20/07
06/30/2010
05/2009
02/05/09
06/89
2005/08
1998/01
08/05/2012
5/7/1980
9/1/2018
4/5/1980
8/15
4/05/2016
May/2004
n5/2006
10/05
01/04/2006
3/2012
08/1991
05/74
4/26/2011
01/08/2007
Aug/1996
7/82
12/20/02
Dec/2013
08/01/11
5/70
03/15/1990
04/15/
n10/97
01/2011
01/11
02/94
3/05
09/1986
2/1990
6/29/13
10/2013
Dec/2012
Fall/2018
02/04/2011
6/05
02/86
May/1980
8/16
09/199606/1999
5/13/2004
06/21/2015
19.27/20
8/22/08
12/20/17
3/2018
3/98
9/83
6/2010
04/
06/10/2009
4/15/2017
11/94
2009/2012
n10/12
7/3/1980
7/87
04/30/2017
August/2005
12/14/11
08/10/2013
/97
05/16/2009
5/28/2014
8/12/1980
05/14/2006
11/1995
June/05/2005
8/8-12
06/12/2016
10/10/2001
11/26/2008
9/24/1980
01/1992
4/01
10/15/93
3/31/2013
8/18/1980
07/10/2010
16.95/20
06/04
10/2005
/
11/86
05/28/2011
03/06
07/2011
10/1997
03/2004
12/31/2017
2/10/2016
03/1982
9/1975
11/8/1989
8/27/2009
4/28/1980
08/15/2015
06/03/2017
8/13/1980
07/1995
4/20/2007
2/82
1/86
10/
06/26/2014
11/20
8/15/1980
09/20/13
3/31/2008
n06/2007
03/08
05/1980
05/09
10/11/2011
10/10/1994
5/68
07/1985
7/1992
05/14/2004
02/07/2001
01/94
7/05
12/5/17
8/2003
02/28/2016
2009/05
5/1970
5/1/00
04/1998
06/30/1992
3/2008
12/18/2006
10/12/2017
03/96
4/2016
11/1996
05/01
May/2017
05/10/1993
11/1988
4/2002
9/2000
05/21/2000
10/20/05
01/01/2013
01/1995
04/16
10/02/2013
9/23/2014
5/5/2001
10/21/1999
07/06/2019
9/1973
27/04/2015
05/1978
12/19/1991
6/2019
6/18/05
11/03
10/8/2013
6/87
01/12/1984
9/1/1980
n11/2010
1/1993
1/30/2016
01/1991
10/14
1/18/16
Jun/71
6/12
01/09/2016
12/2014
3/2004
6/30/2016
06/2018
4/30/1980
11/1977
8/15/2015
18.27/20
05/85
1/2015
12/09/02
8/09
8/1985
2005/06
MAY/2009
02/08/1996
8/1978
03/1979
07/30/2009
01/13/2015
06/1978
7/07
5/13
05/01/07
Jun/1999
11/08/2018
08/1986
7/08
8/2009
10/09/2014
8/1976
June/2002
09/01/2013
9/11/2001
9/10/1980
05/10/1997
10/1998
06/15/2015
2/70
7/00
04/29/2014
8/2004
1/2002
8/31/2014
12/07/2012
4/10/1980
12/22/1970
6/1972
8/17/1980
01/2018
11/12
09/01/2016
8/
2/24/1980
12/16/87
02/2006
04/1991
07/10/2017
3/25
08/2013
07/02/2011
1/9/07
06/13/2009
6/23/72
8/2002
10/06
10/28/04
7/70
07/02/1996
03/01/2013
5/1990
12/1992
03/19/2010
09/96
12/19
07/13/07
3/1969
2/07
9/30/2017
n03/2017
01/1994
5/24/02
2006/12
5/3/2010
8/2014
5/05
03/1994
6/15/1993
2006/06
6/2005
12/98-08/02
6/27/70
5/2011
04/2010
2015/03
04/2013
08/09/2013
2/97
4/1999
1/1990
05/87
5/98
12/15/2007
n12/1995
6/1989
8/18/2015
06/28/2015
6/75
n12/2004
06/81
03/10/2002
05/13/06
8/1966
01/01/2008
2010/12
8/13
01/18/2003
9/87
8/16/1980
18.75/20
01/22/09
7/30/2015
16/92
10/28/2013
5/12/00
05/1966
12/2009
09/2010
1/06
6/10/2011
Dec/2017
5/21/2001
04/1984
12/15
10/16/98
7/1977
05/23/2011
January/
05/13/17
9/12/
04/04
Jun/79
6/1/98
7/78
6/76
012/1998
1/94
10/01/2013
1/1983
12/17/11
04/2008
12/83
4/15/2007
6/66
8/1981
05/15
3/73
Summer/2016
8/11/1980
10/2004
2009/04
8/1/1976
Jul/2015
6/1/2001
12/82
02/11
4/10
5/1971
17.30/20
6/1967
9/1
05/2001
7/5/1972
3/25/2006
May/1994
03/86
8/8/03
11/01/2014
11/30/2001
07/2008
06/1983
06/16/1968
6/1987
3/2010
07/27/2007
09/98
04/30/2016
9/13/1980
08/04
05/1963
2/1/07
5/1992
17.47/20
6/1/2000
2003/04
5/13/1992
07/93
06/86
5/06
12/1971
05/01/2012
09/29/2013
5/25/75
10/12
3/16/2017
11/06/2017
5/26//1990
07/1965
12/1986
Dec./2010
12/2003
4/2018
06/91
12/19/96
5/3/1980
02/88
2/96
07/2001
12/1/2009
2/2011
2/1/2010
9/1981
6/1988
06/11/04
4/30/2008
5/1997
2/98
04/1997
11/03/2008
09/06/2015
03/1990
5/75
1/20
08/88
4/98
4/87
03/199202/1994
6/9/2001
09/1972
05/14/2016
08/20/2008
3/1974
8/14
9/2018
11/98
12/09/06
n03/12
1/96
1/2006
10/12/1980
15/30
05/25/2014
12/31/2008
06/15/2007
07/13/2013
2004/04
Jun/1994
2002/01
08/09
11/11
10/95
02/2019
10/18
07/16/1997
06/15/2000
10/27/2008
03/01/2018
05/1999
5/21/90
02/99
n07/2003
15.61/20
December/2006
7/1984
6/15/2006
5/01/2009
08/2001
05/79
3/89
8/2017
12/31/1981
10/1989
6/14
10/78
9/4/2017
2018/06
07/30/2005
6/2/1980
11/2005
92/94
March/December
8/93
05/18/13
6/05
6/14/16
12/75
06/01/2001
04/25/2000
03/29/1981
04/30/2018
n10/7/2011
03/15/2007
06/87
12/24/12
Dec/2001
5/1/1980
04/89
6/1/2016
11/2008
06/03
9/1/1996
5/72
04/1976
15.37/20
01/17
06/30/2009
01/01/01
08/2017
01/05/2007
04/18/2003
June/August
7/15/1980
6/20/01
08/13
12/21/2009
09/01/1997
08/1989
9/11/1980
January/2017
Jan/1981
9/21/2016
5/24/1987
6/9/2007
1/08
03/29
May/June
2/2019
08/1983
12/31/2018
4/22/2001
5/13/17
3/72
09/01/1999
06/27/2015
10/22/2015
09/1990
2010/11
12/27/84
May/1971
12/1982
8/27/1980
10/19
05/10/2005
12/00
05/08/2015
11/
Jun/2007
09/07
2/1985
2/11
6/10
12/03/2007
4/22/2016
10/2016
/2019
9/65
Aug/06
02/12/2015
4/2005
April/2012
2/19/2017
26/2016
10/98
5/4/08
6/1977

In [81]:
remove_unicode_escapes(string)

['December', '2006#Fall\t2004']

December
2006#Fall	2004

['December 2006#Fall', '2004']

December 2006#Fall
2004

'December 2006#Fall 2004'

In [36]:
raw_s = r'{}'.format(string)

print(raw_s.find('\\'))

-1

In [ ]:
output[(output['MajorCipCode_pound']==0)&(output['major_pound']==0)&(output['degreeLevel_pound']==0)&(output['CompletionDateRaw_pound']==0)]

In [ ]:
final_doc[final_doc['CompletionDateRaw_pound']>=30]

In [ ]:
# Doctoral indicator dummy generation code

def define_doctoral(df):

    _21 = df[df['degreeLevel'].str.contains('21', na=False)]
    
    print('\tNumber of \'21\'s found:', _21['BGTResID'].nunique())
        
    doc = df.drop(df.index.difference(_21.index))
    wo_21 = df.drop(_21.index)

    strings = ['Doctor', 'ph\.', 'm\.d\.', 'j\.d\.', 'phd', 'dds', 'dml', 'ed\. D']

    for string in strings:
        target = wo_21[wo_21['DegreeType'].str.contains(string, case=False, na=False)]

        print('\tContains \'' + string + '\':', target['BGTResID'].nunique())

        wo_21 = wo_21.drop(target.index)
        doc = pd.concat([doc, target])
        
    
    return doc

doc = define_doctoral(education)

doc['ind_doc'] = 1
education['ind_doc'] = 0

doc = pd.concat([doc, education.loc[education.index.difference(doc.index)]], sort=False)

doc.to_csv(r'A:\_DataBGTRes\Doctoral_Data\doc_education_info_with_indicator.csv', index=False)

In [ ]:
# Benchmarks of CIP data

def print_benchmarks(df):
    total = df['BGTResID'].nunique()

    full_both = df[~df['MajorCipCode'].isnull()&~df['major'].isnull()]['BGTResID'].nunique()

    no_CIP = df[df['MajorCipCode'].isnull()&~df['major'].isnull()]['BGTResID'].nunique()

    null_both = df[df['MajorCipCode'].isnull()&df['major'].isnull()]['BGTResID'].nunique()

    print(total, '\n\t' + str(full_both) + ' -> ' + str(round((float(full_both)/float(total)) * 100, 2)) + '%',
         '\n\t' + str(no_CIP) + ' -> ' + str(round((float(no_CIP)/float(total)) * 100, 2)) + '%',
         '\n\t' + str(null_both) + ' -> ' + str(round((float(null_both)/float(total)) * 100, 2)) + '%')
    
print_benchmarks(education[education['ind_doc']==1])
print_benchmarks(education[education['ind_doc']==0])

In [ ]:
df = education[education['ind_doc']==1]
len(df)/df['BGTResID'].nunique()

In [ ]:
df = education[education['ind_doc']==0]
len(df)/df['BGTResID'].nunique()

In [ ]:
len(doc)/doc['BGTResID'].nunique()

In [ ]:
education[~education['MajorCipCode'].isnull()&~education['major'].isnull()]

In [ ]:
no_cip = pd.DataFrame(education[(education['MajorCipCode'].isnull())]['major'].value_counts())

print(len(no_cip))
display(no_cip)

In [ ]:
len(education[education['major']=='Biology']['DegreeType'].value_counts())

In [ ]:
cips = pd.read_csv(r'https://nces.ed.gov/ipeds/cipcode/Files/CIPCode2010.csv')

In [ ]:
cips[cips['CIPTitle'].str.contains('Biology', case=False)]

In [ ]:
# ELIAS CODE

In [ ]:
import numpy as np
import pandas as pd

# Set data locations
input_loc = '[SET TO INTERMEDIATE DATA LOCATION]'
output_loc = '[SET TO DESIRED OUTPUT LOCATION]'
onet_url = 'https://www.onetcenter.org/taxonomy/2010/soc2018/2010_to_2018_SOC_Crosswalk.csv?fmt=csv'
naics_url = 'https://www.census.gov/eos/www/naics/2017NAICS/2-6%20digit_2017_Codes.xlsx'
cip_url = 'https://nces.ed.gov/ipeds/cipcode/Files/CIPCode2010.csv'

onet = pd.read_csv(onet_url)
onet.rename(columns = {
    'O*NET-SOC 2010 Code': 'ONETCode', 
    'O*NET-SOC 2010 Title': 'ONETName', 
    '2018 SOC Code': 'SOCCode',
    '2018 SOC Title': 'SOCName'
    }, inplace = True)
naics = pd.read_excel(naics_url)
naics.rename(columns = {
    '2017 NAICS US   Code': 'NAICS2',
    '2017 NAICS US Title': 'NAICSName'
    }, inplace = True)
naics = naics[['NAICS2', 'NAICSName']]

jobs = pd.read_csv(f'{input_loc}04_PhD_Jobs.csv')

jobs = jobs.merge(onet, on = 'ONETCode')
jobs = jobs.merge(naics, on = 'NAICS2')
jobs = jobs[[
    'BGTResID', 'StartDate', 'EndDate', 
    'ONETCode', 'ONETName', 'SOCCode', 'SOCName',
    'NAICS2', 'NAICSName'
    ]]

cip = pd.read_csv(cip_url)
cip = cip[['CIPCode', 'CIPTitle']]
cip['CIPCode'] = cip['CIPCode'].str.replace('=', '', regex = False)
cip['CIPCode'] = cip['CIPCode'].str.replace('"', '', regex = False)

phds = pd.read_csv(f'{input_loc}03_PhD_CIP_codes.csv', index_col = 'BGTResID')
phds['PhD_CIPs'] = phds['PhD_CIPs'].str.replace(';', '#', regex = False)
phds['PhD_CIPs'] = phds['PhD_CIPs'].str.replace(' ', '#', regex = False)
for string in ['38.0001', '38.0101', '38.0199', '38.9999']:
    pat = string + '#'
    phds['PhD_CIPs'] = phds['PhD_CIPs'].str.replace(pat, '', regex = False)
    pat = '#' + string
    phds['PhD_CIPs'] = phds['PhD_CIPs'].str.replace(pat, '', regex = False)

max_splits = phds['PhD_CIPs'].str.count('#').max()
print(f'The most Ph.D. CIPs associated with a resume is {max_splits + 1}')
phds_split = phds['PhD_CIPs'].str.split(pat = '#', expand = True
    ).fillna(value = '')
phds_split = phds_split.reset_index()
cip.rename(columns = {
    'CIPCode': 'CIPCode0',
    'CIPTitle': 'CIPName0',
    }, inplace = True)
columns = ['BGTResID']
for code in range(max_splits.astype(int) + 1):
    phds_split.rename(columns = {
        code: f'CIPCode{code}',
        }, inplace = True)
    assert phds_split[f'CIPCode{code}'].str.len().max() <= 7
    phds_split = phds_split.merge(cip, how = 'left', on = f'CIPCode{code}')
    cip.rename(columns = {
        f'CIPCode{code}': f'CIPCode{code + 1}',
        f'CIPName{code}': f'CIPName{code + 1}'
        }, inplace = True)
    columns.append(f'CIPCode{code}')
    columns.append(f'CIPName{code}')
phds_split = phds_split[columns]

# phds_split.to_csv(f'{output_loc}PhD_CIP_codes.csv', index = False)
# jobs.to_csv(f'{output_loc}PhD_Jobs.csv', index = False)