In [1]:
import pandas as pd
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_colwidth', None)
import numpy as np
import matplotlib.pyplot as plt
import scipy
import scipy.stats as stats
import math
plt.style.use('fivethirtyeight')

In [3]:
# Import relevant dataframes:

# main_table = pd.read_csv(r"C:\Users\Public\_Data\_Data\Latest_Version\Main_Data\Main_Table_01192020.csv")
# print(len(main_table))
# faculty_table = pd.read_csv(r"C:\Users\Public\_Data\_Data\Latest_Version\Faculty_Data\Faculty_Table_11222019.csv")
# print(len(faculty_table))
# skill_table = pd.read_csv(r"C:\Users\Public\_Data\_Data\Latest_Version\Skills_Data\Skill_Table_06072019.csv")
# print(len(skill_table))

def format_df(df):
    print(len(df))
    df = df.rename(columns={'BGTJobId':'Job ID'})
    return df

new_main = pd.read_parquet(r"A:\HEJP_revision_02152020\Jobs.parquet")
# new_main = format_df(new_main)

# new_cert = pd.read_parquet(r"A:\HEJP_revision_02152020\Certifications.parquet")
# new_cert = format_df(new_cert)

# new_skills = pd.read_parquet(r"A:\HEJP_revision_02152020\Skills.parquet")
# new_skills = format_df(new_skills)

# new_app = pd.read_parquet(r"A:\HEJP_revision_02152020\Faculty_Appointments.parquet")
# new_app = format_df(app)

# new_fac = pd.read_parquet(r"A:\HEJP_revision_02152020\Faculty_and_Postdoc_Fields.parquet")
# new_fac = format_df(new_fac)

In [4]:
new_main

,BGTJobId,LIJobId,Year,Faculty,Postdoc,Diversity,Job Title,Occupation,Career Area,Min_EDU,Max_EDU,Min_Exp,Annual Salary,MSA,State,IPEDS Institution Name,IPEDS Sector Name,R1
0,24,0286326577d94832cf4944274fce3f2241c073,2014,0,0,0,Licensed Practical Nurse- Physician Office - Physician Office,Licensed Practical / Vocational Nurse,Health Care including Nursing,NaN,NaN,NaN,NaN,"Grenada, MS",MS,University of Mississippi Medical Center,"Public, 4-year or above",0
1,224,0f572e7b35c493ce567eba43c781d9c8f4a02e,2014,1,0,0,"Faculty, Urban/Regional Studies And Planning",College Professor / Instructor,Education and Training,21.0,21.0,NaN,NaN,"Richmond, VA",VA,Virginia Commonwealth University,"Public, 4-year or above",1
2,263466634,329493603,2011,0,0,0,Senior Budget Analyst,Budget Analyst,Finance,16.0,NaN,3.0,NaN,"Baltimore-Columbia-Towson, MD",MD,Maryland Institute College of Art,"Private not-for-profit, 4-year or above",0
3,263554923,329427392,2011,0,0,0,Programmer/Analyst I,Programmer / Analyst,Information Technology,16.0,NaN,2.0,NaN,"Houston-The Woodlands-Sugar Land, TX",TX,The University of Texas MD Anderson Cancer Center,"Public, 4-year or above",0
4,263554924,329427403,2011,0,0,0,Physician's Assistant Anesthesia Assessment Center,Physician Assistant,Health Care including Nursing,NaN,NaN,2.0,NaN,"Houston-The Woodlands-Sugar Land, TX",TX,The University of Texas MD Anderson Cancer Center,"Public, 4-year or above",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6625004,38436556867,6163d8ddabf31c4aceeeef3f7f144cb95975663,2018,0,0,0,Tools Engineer-Senior,na,na,16.0,0.0,NaN,NaN,"Washington-Arlington-Alexandria, DC-VA-MD-WV",VA,School of the Art Institute of Chicago,"Private not-for-profit, 4-year or above",0
6625005,38438486737,0x3f2ba77b5dd0a8bb64e46c91510277fe,2018,0,0,0,Design Engineer - Crane,Mechanical Engineer Surveyor,Engineering,16.0,0.0,NaN,NaN,"Bedford, IN",IN,School of the Art Institute of Chicago,"Private not-for-profit, 4-year or above",0
6625006,38438486787,0x615b0faeb9b13b5bffd691451568e859,2018,0,0,0,Senior Model Based Systems Engineer Mbse,Systems Engineer,Information Technology,16.0,21.0,9.0,NaN,"Chicago-Naperville-Elgin, IL-IN-WI",IN,School of the Art Institute of Chicago,"Private not-for-profit, 4-year or above",0
6625007,38439389731,0xc86809adcfbc1c7498b94439fc004807,2018,0,0,0,Ob Sonographer,Ultrasound Technologist / Sonographer,Health Care including Nursing,0.0,0.0,NaN,NaN,"Pittsburgh, PA",PA,University of Pittsburgh Medical Center-Shadyside School of Nursing,"Private not-for-profit, 2-year",0
6625008,38439390030,0x63d62dfaa66ed42c4a6f6ad382252113,2018,0,0,0,Contact Center Specialist - Interview Event,Sales Event Specialist,Sales,12.0,0.0,2.0,NaN,"Pittsburgh, PA",PA,University of Pittsburgh Medical Center-Shadyside School of Nursing,"Private not-for-profit, 2-year",0

In [7]:
new_main.groupby(['Occupation', 'Career Area']).count().reset_index()[['Occupation', 'Career Area']].groupby('Occupation').count().sort_values('Career Area')

                           Career Area
Occupation
.NET Developer / Engineer            1
Patient Transporter                  1
Patient Safety Specialist            1
Patient Safety Manager               1
Patient Safety Director              1
...                                ...
Etcher / Engraver                    1
Estimator                            1
Esthetician                          1
Executive Recruiter                  1
na                                   1

[1780 rows x 1 columns]

In [ ]:
new_main.info()

In [ ]:
temp = new_skills.rename(columns={'Is Specialized Skill?':'Specialized', 
                                 'Is Software Skill?':'Software'})

In [ ]:
del(new_skills)

In [ ]:
# temp = new_skills

# temp = temp.convert_dtypes()

display(temp)

temp.info()

In [ ]:
temp.to_parquet(r"A:\HEJP_revision_02152020\Skills.parquet", index=False)

In [ ]:
del(temp)

In [ ]:
temp[:2].to_csv(r"A:\test.csv", index=False)

In [ ]:
test_in = pd.read_csv(r"A:\test.csv").convert_dtypes()

In [ ]:
test_in.info()

In [ ]:
pd.NA

In [ ]:
new_cert.info()

In [ ]:
new_cert.groupby(['BGTJobId', 'Certification Name']).count().sort_values(by='Year', ascending=False).reset_index()['Certification Name'].value_counts()

In [ ]:
new_fac['Others'].value_counts()

In [ ]:
temp = new_fac[(new_fac['Other_Engineering']==1)|(new_fac['Other_Education']==1)|(new_fac['Other_Social_Sciences']==1)|(new_fac['Other_Humanities_and_Arts']==1)]

temp['BGTJobId'].nunique()

In [ ]:
new_fac.columns

In [ ]:
for column in new_fac_det.columns:
    print(column)

In [ ]:
new_fac_det[new_fac_det['Other_Humanities_and_Arts']==1]

In [ ]:
new_fac_gen

In [ ]:
def validate_nas(df):
    
    if 'Faculty' not in df.columns:
        df = df.merge(faculty_table[['Job ID', 'Faculty']], on='Job ID', how='inner')
    
    nas = df[df['Occupation']=='na']
    no_nas = df.drop(nas.index)
    
    n_w = nas.iloc[:,0].nunique()
    n_wo = no_nas.iloc[:,0].nunique()
    
    def percent(s_df):
        s_df['%nas'] = s_df['nas'] / (s_df['nas'] + s_df['no_nas'])
        return s_df
    
    total = pd.DataFrame([[n_w, n_wo]], columns=['nas', 'no_nas'])
    total = percent(total)
    
    display(total)
    
    years_w = pd.DataFrame(nas['Year'].value_counts()).reset_index().rename(columns={'Year':'nas'})
    years_wo = pd.DataFrame(no_nas['Year'].value_counts()).reset_index().rename(columns={'Year':'no_nas'})
    
    years = years_w.merge(years_wo, on='index', how='inner').rename(columns={'index':'Year'})
    years = years.sort_values(by='Year').reset_index(drop=True)
    years = percent(years)
    
    display(years)
        
    fac_w = pd.DataFrame(nas['Faculty'].value_counts()).reset_index().rename(columns={'Faculty':'nas'})
    fac_wo = pd.DataFrame(no_nas['Faculty'].value_counts()).reset_index().rename(columns={'Faculty':'no_nas'})
    
    fac = fac_w.merge(fac_wo, on='index', how='inner').rename(columns={'index':'Faculty'})
    fac = percent(fac)
    
    display(fac)
    
validate_nas(main_table)
validate_nas(new_main)

In [ ]:
new_main = new_main.sort_values(by='BGTJobId')
new_main = new_main.rename(columns={'BGTJobId':'Job ID'})

In [ ]:
together = main_table.merge(new_main[['Job ID']], on='Job ID', how='outer', indicator=True)

In [ ]:
pd.DataFrame(together.groupby('_merge')[['Job ID']].count())

In [ ]:
main_indi = together[~together['Occupation'].isnull()]

def in_or_not(string):
    if string is 'left_only':
        return 0
    elif string is 'both':
        return 1
    else:
        return None
    
main_indi['kept'] = main_indi['_merge'].apply(in_or_not)

main_indi = main_indi.merge(faculty_table[['Job ID', 'Faculty', 'Tenure_Line']])

both = main_indi[main_indi['kept']==1]
left = main_indi[main_indi['kept']==0]

right = new_main.merge(together[together['_merge']=='right_only'][['Job ID']], on='Job ID', how='inner')

In [ ]:
display(stats.ttest_ind(both['Faculty'], left['Faculty'], equal_var=True))
display(both['Faculty'].describe())
display(left['Faculty'].describe())

In [ ]:
left

In [ ]:
len(left[~left['IPEDS Institution Name'].isnull()])

In [ ]:
len(left[left['IPEDS Institution Name'].isnull()])/638330

In [ ]:
0.033280591543558974 * 638330

In [ ]:
len(both[both['IPEDS Institution Name'].isnull()&both['IPEDS Sector Name'].isnull()])

In [ ]:
len(right[right['IPEDS Institution Name'].isnull()&right['IPEDS Sector Name'].isnull()])

In [ ]:
0.10744908532717937 * 3318837 + 0.10199166891498689 * 3306172

In [ ]:
75813 + 303998

In [ ]:
693808 - 379811

In [ ]:
display(stats.ttest_ind(both['Faculty'], right['Faculty'], equal_var=True))
display(both['Faculty'].describe())
display(right['Faculty'].describe())

In [ ]:
new_main

In [ ]:
new_cert.groupby('Certification Name').count().sort_values('Job ID', ascending=False)

In [ ]:
right