In [1]:
import pandas as pd
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_colwidth', None)
import numpy as np
import matplotlib.pyplot as plt
import scipy
import scipy.stats as stats
import math
plt.style.use('fivethirtyeight')

In [9]:
# Import relevant dataframes:

# main_table = pd.read_csv(r"C:\Users\Public\_Data\_Data\Latest_Version\Main_Data\Main_Table_01192020.csv")
# print(len(main_table))
# faculty_table = pd.read_csv(r"C:\Users\Public\_Data\_Data\Latest_Version\Faculty_Data\Faculty_Table_11222019.csv")
# print(len(faculty_table))
# skill_table = pd.read_csv(r"C:\Users\Public\_Data\_Data\Latest_Version\Skills_Data\Skill_Table_06072019.csv")
# print(len(skill_table))

def format_df(df):
    print(len(df))
    df = df.rename(columns={'BGTJobId':'Job ID'})
    return df

# new_main = pd.read_parquet(r"A:\HEJP_revision_02152020\Jobs.parquet")
# new_main = format_df(new_main)

# new_cert = pd.read_parquet(r"A:\HEJP_revision_02152020\Certifications.parquet")
# new_cert = format_df(new_cert)

# new_skills = pd.read_parquet(r"A:\HEJP_revision_02152020\Skills.parquet")
# new_skills = format_df(new_skills)

# new_app = pd.read_parquet(r"A:\HEJP_revision_02152020\Faculty_Appointments.parquet")
# app = format_df(app)

new_fac = pd.read_parquet(r"A:\HEJP_revision_02152020\Faculty_and_Postdoc_Fields.parquet")
# new_fac = format_df(new_fac)

In [10]:
new_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6625009 entries, 0 to 6625008
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   BGTJobId                int64
 1   LIJobId                 object
 2   Year                    int64
 3   Faculty                 int64
 4   Postdoc                 int64
 5   Diversity               int64
 6   Job Title               object
 7   Occupation              object
 8   Career Area             object
 9   Min_EDU                 float64
 10  Max_EDU                 float64
 11  Min_Exp                 float64
 12  Annual Salary           float64
 13  MSA                     object
 14  State                   object
 15  IPEDS Institution Name  object
 16  IPEDS Sector Name       object
 17  R1                      int64
dtypes: float64(4), int64(6), object(8)
memory usage: 909.8+ MB

In [4]:
temp = new_skills.rename(columns={'Is Specialized Skill?':'Specialized', 
                                 'Is Software Skill?':'Software'})

In [5]:
del(new_skills)

In [6]:
# temp = new_skills

# temp = temp.convert_dtypes()

display(temp)

temp.info()

,BGTJobId,Year,Skill Name,Specialized,Software,Skill Cluster Name
0,38478401553,2019,Experiments,1,0,Research Methodology
1,18677144,2013,Project Management,1,0,Project Management
2,150307825,2012,Microsoft Active Directory,1,0,Network Configuration
3,143907106,2012,Multi-Tasking,0,0,None
4,37999825795,2016,Teaching,1,0,Teaching
...,...,...,...,...,...,...
64562202,300016535,2010,Creativity,0,0,None
64562203,38118538165,2016,Medical Terminology,1,0,General Medicine
64562204,38276012305,2017,Problem Solving,0,0,None
64562205,38278808496,2017,Teaching,1,0,Teaching
64562206,38407256097,2018,Fundraising,1,0,Fundraising

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64562207 entries, 0 to 64562206
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   BGTJobId            int64
 1   Year                int64
 2   Skill Name          object
 3   Specialized         int64
 4   Software            int64
 5   Skill Cluster Name  object
dtypes: int64(4), object(2)
memory usage: 2.9+ GB

In [7]:
temp.to_parquet(r"A:\HEJP_revision_02152020\Skills.parquet", index=False)

In [8]:
del(temp)

In [11]:
temp[:2].to_csv(r"A:\test.csv", index=False)

In [14]:
test_in = pd.read_csv(r"A:\test.csv").convert_dtypes()

In [16]:
test_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 18 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   BGTJobId                         2 non-null      Int64
 1   LIJobId                          2 non-null      string
 2   Year                             2 non-null      Int64
 3   Faculty                          2 non-null      Int64
 4   Postdoc                          2 non-null      Int64
 5   Diversity                        2 non-null      Int64
 6   Job Title                        2 non-null      string
 7   Occupation                       2 non-null      string
 8   Career Area                      2 non-null      string
 9   Minimum EDU Requirements         1 non-null      Int64
 10  Maximum EDU Requirements         1 non-null      Int64
 11  Minimum Experience Requirements  0 non-null      Int64
 12  Annual Salary                    0 non-null      Int64
 13  Metropolitan Statistical Area    2 non-null      string
 14  State                            2 non-null      string
 15  IPEDS Institution Name           2 non-null      string
 16  IPEDS Sector Name                2 non-null      string
 17  R1                               2 non-null      Int64
dtypes: Int64(10), string(8)
memory usage: 436.0 bytes

In [7]:
pd.NA

In [3]:
new_cert.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1109288 entries, 0 to 1109287
Data columns (total 3 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   BGTJobId            1109288 non-null  int64
 1   Year                1109288 non-null  int64
 2   Certification Name  1109288 non-null  object
dtypes: int64(2), object(1)
memory usage: 25.4+ MB

In [8]:
new_cert.groupby(['BGTJobId', 'Certification Name']).count().sort_values(by='Year', ascending=False).reset_index()['Certification Name'].value_counts()

na                                   822064
Driver's License                      41798
Registered Nurse                      29509
Security Clearance                    24914
First Aid Cpr Aed                     11972
                                      ...
Computer Service Technician (CST)         1
North Dakota Bar                          1
Certified Car Inspector                   1
Boot Camp Certificate                     1
Certified Customs Specialist              1
Name: Certification Name, Length: 1584, dtype: int64

In [19]:
new_fac['Others'].value_counts()

0    1306348
1     131522
2        131
Name: Others, dtype: int64

In [18]:
temp = new_fac[(new_fac['Other_Engineering']==1)|(new_fac['Other_Education']==1)|(new_fac['Other_Social_Sciences']==1)|(new_fac['Other_Humanities_and_Arts']==1)]

temp['BGTJobId'].nunique()

186739

In [13]:
new_fac.columns

Index(['BGTJobId', 'JobInsertDate', 'Aerospace_Engineering', 'Bioengineering',
       'Chemical_Engineering', 'Civil_Engineering', 'Electrical_Engineering',
       'Industrial_Engineering', 'Mechanical_Engineering', 'Other_Engineering',
       'Education_Administration', 'Education_Research', 'Teacher_Education',
       'Teaching_Fields', 'Other_Education',
       'Agricultural_Sciences_and_Natural_Resources',
       'Biological_and_Biomedical_Sciences', 'Health_Sciences', 'Chemistry',
       'Geosciences_Atmospheric_and_Ocean_Sciences', 'Physics_and_Astronomy',
       'Computer_and_Information_Sciences', 'Mathematics_and_Statistics',
       'Psychology', 'Anthropology', 'Economics',
       'Political_Science_and_Government', 'Sociology',
       'Other_Social_Sciences', 'Foreign_Languages_and_Literature', 'History',
       'Letters', 'Other_Humanities_and_Arts',
       'Business_Management_and_Administration', 'Communication',
       'Field_Not_Certain', 'Detailed_Fields', 'Others', 'General_Fields'],
      dtype='object')

In [ ]:
for column in new_fac_det.columns:
    print(column)

In [ ]:
new_fac_det[new_fac_det['Other_Humanities_and_Arts']==1]

In [ ]:
new_fac_gen

In [ ]:
def validate_nas(df):
    
    if 'Faculty' not in df.columns:
        df = df.merge(faculty_table[['Job ID', 'Faculty']], on='Job ID', how='inner')
    
    nas = df[df['Occupation']=='na']
    no_nas = df.drop(nas.index)
    
    n_w = nas.iloc[:,0].nunique()
    n_wo = no_nas.iloc[:,0].nunique()
    
    def percent(s_df):
        s_df['%nas'] = s_df['nas'] / (s_df['nas'] + s_df['no_nas'])
        return s_df
    
    total = pd.DataFrame([[n_w, n_wo]], columns=['nas', 'no_nas'])
    total = percent(total)
    
    display(total)
    
    years_w = pd.DataFrame(nas['Year'].value_counts()).reset_index().rename(columns={'Year':'nas'})
    years_wo = pd.DataFrame(no_nas['Year'].value_counts()).reset_index().rename(columns={'Year':'no_nas'})
    
    years = years_w.merge(years_wo, on='index', how='inner').rename(columns={'index':'Year'})
    years = years.sort_values(by='Year').reset_index(drop=True)
    years = percent(years)
    
    display(years)
        
    fac_w = pd.DataFrame(nas['Faculty'].value_counts()).reset_index().rename(columns={'Faculty':'nas'})
    fac_wo = pd.DataFrame(no_nas['Faculty'].value_counts()).reset_index().rename(columns={'Faculty':'no_nas'})
    
    fac = fac_w.merge(fac_wo, on='index', how='inner').rename(columns={'index':'Faculty'})
    fac = percent(fac)
    
    display(fac)
    
validate_nas(main_table)
validate_nas(new_main)

In [ ]:
new_main = new_main.sort_values(by='BGTJobId')
new_main = new_main.rename(columns={'BGTJobId':'Job ID'})

In [ ]:
together = main_table.merge(new_main[['Job ID']], on='Job ID', how='outer', indicator=True)

In [ ]:
pd.DataFrame(together.groupby('_merge')[['Job ID']].count())

In [ ]:
main_indi = together[~together['Occupation'].isnull()]

def in_or_not(string):
    if string is 'left_only':
        return 0
    elif string is 'both':
        return 1
    else:
        return None
    
main_indi['kept'] = main_indi['_merge'].apply(in_or_not)

main_indi = main_indi.merge(faculty_table[['Job ID', 'Faculty', 'Tenure_Line']])

both = main_indi[main_indi['kept']==1]
left = main_indi[main_indi['kept']==0]

right = new_main.merge(together[together['_merge']=='right_only'][['Job ID']], on='Job ID', how='inner')

In [ ]:
display(stats.ttest_ind(both['Faculty'], left['Faculty'], equal_var=True))
display(both['Faculty'].describe())
display(left['Faculty'].describe())

In [ ]:
left

In [ ]:
len(left[~left['IPEDS Institution Name'].isnull()])

In [ ]:
len(left[left['IPEDS Institution Name'].isnull()])/638330

In [ ]:
0.033280591543558974 * 638330

In [ ]:
len(both[both['IPEDS Institution Name'].isnull()&both['IPEDS Sector Name'].isnull()])

In [ ]:
len(right[right['IPEDS Institution Name'].isnull()&right['IPEDS Sector Name'].isnull()])

In [ ]:
0.10744908532717937 * 3318837 + 0.10199166891498689 * 3306172

In [ ]:
75813 + 303998

In [ ]:
693808 - 379811

In [ ]:
display(stats.ttest_ind(both['Faculty'], right['Faculty'], equal_var=True))
display(both['Faculty'].describe())
display(right['Faculty'].describe())

In [ ]:
new_main

In [ ]:
new_cert.groupby('Certification Name').count().sort_values('Job ID', ascending=False)

In [ ]:
right